@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>

@Html.Partial("LogoView")

<div class="container">
    <div class="row">
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <h2><em><strong>1 &ndash; Integral</strong></em></h2>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;<u>&Eacute; o alimento inteiro, com todas as suas partes</u> &ndash; fibras, farelos e polpas &ndash; mais pr&oacute;ximo de sua origem natural.
                &Eacute; o mais perec&iacute;vel, mas possui mais nutrientes e energia vital. O processo de refino foi criado para aumentar a durabilidade dos
                alimentos NAS PRATELEIRAS DOS SUPERMERCADOS, e nesse processo muitos nutrientes s&atilde;o perdidos. Depois do refino, a ind&uacute;stria
                acrescenta vitaminas, ferro e sais minerais sintetizados, mas isso n&atilde;o traz de volta o que foi refinado. Pior: por serem artificiais,
                essas subst&acirc;ncias n&atilde;o s&atilde;o absorvidas pelo organismo como se fossem naturais. A ideia, ent&atilde;o, &eacute; ingerir os
                alimentos na forma em que s&atilde;o oferecidos pela natureza, ou seja, vegetais e frutas no lugar de sucos e p&iacute;lulas de vitaminas.
            </p>
        </div>
        <div class="hidden-xs hidden-sm col-md-3 vertical-center">
            <img src="~/Images/pao_integral_400.jpg" class="img-responsive rotate" alt="Pão Integral" />
        </div>
        <div class="col-sm-3 hidden-md hidden-lg">
            <img src="~/Images/pao_integral_400.jpg" class="img-responsive rotate" alt="Pão Integral" />
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <h2><strong><em>2 &ndash; Real</em></strong></h2>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;<u>Alimentos reais s&atilde;o aqueles cuja origem est&aacute; na natureza.</u> Tomemos o caso da manteiga: durante muito tempo foi considerada
                uma vil&atilde; da sa&uacute;de, hoje sabemos que n&atilde;o faz mal. Quando decompomos a manteiga, reconhecemos imediatamente seus componentes.
                Sua origem &eacute; simples e natural, e ela pode ser feita em casa. Do outro lado temos a margarina, um produto totalmente sintetizado, com
                desconhecidos processos de produ&ccedil;&atilde;o e sua composi&ccedil;&atilde;o se assemelha &agrave; de mat&eacute;ria pl&aacute;stica.
                Recomendo evitar os seguintes alimentos: margarinas, refrigerantes, mortadelas, salsichas&nbsp; e embutidos em geral, maionese, sobremesas
                e caldos industrializados, macarr&atilde;o instant&acirc;neo, sopas de pacote e biscoitos recheados, alimentos em embalagem tetra pak, enlatados,
                congelados industrializados e alimentos com aditivos, corantes e conservantes.
            </p>
        </div>
        <div class="hidden-xs hidden-sm col-md-3 vertical-center">
            <img src="~/Images/alimento_natural_400.jpg" class="img-responsive rotate" alt="Alimento natural" />
        </div>
        <div class="col-sm-3 hidden-md hidden-lg">
            <img src="~/Images/alimento_natural_400.jpg" class="img-responsive rotate" alt="Alimento natural" />
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <h2><strong><em>3 &ndash; Local</em></strong></h2>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;<u>Alimentos cultivados e criados em nosso entorno</u>. Ao consumirmos alimentos da regi&atilde;o onde vivemos, estabelecemos uma conex&atilde;o
                saud&aacute;vel e energizada com o meio ambiente e o clima do lugar. Al&eacute;m disso, o alimento local &eacute; mais barato e nutritivo,
                uma vez que &eacute; colhido mais maduro e n&atilde;o perde nutrientes em longas viagens. Com a globaliza&ccedil;&atilde;o fica cada vez mais
                dif&iacute;cil saber de onde veio o alimento que est&aacute; &agrave; mesa. Nada contra consumir peixes amaz&ocirc;nicos, por exemplo, mas se
                a pessoa mora no sul do pa&iacute;s, a dist&acirc;ncia que a separa deles faz da pescada branca e do linguado op&ccedil;&otilde;es muito melhores.
            </p>
        </div>
        <div class="hidden-xs hidden-sm col-md-3 vertical-center">
            <img src="~/Images/vizinhanca_400.jpg" class="img-responsive rotate" alt="Vizinhança" />
        </div>
        <div class="col-sm-3 hidden-md hidden-lg">
            <img src="~/Images/vizinhanca_400.jpg" class="img-responsive rotate" alt="Vizinhança" />
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <h2><strong><em>4 &ndash; Sazonal</em></strong></h2>
            <br />
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;Ao escolher frutas, legumes e verduras da esta&ccedil;&atilde;o, consumimos o alimento em sua melhor fase. Alimentar-se de acordo com as esta&ccedil;&otilde;es
                significa guiar-se pela sabedoria da natureza. Significa tamb&eacute;m usar o dinheiro com intelig&ecirc;ncia, j&aacute; que os alimentos da
                esta&ccedil;&atilde;o s&atilde;o mais baratos.
            </p>
        </div>
        <div class="hidden-xs hidden-sm col-md-3 vertical-center">
            <img src="~/Images/sazonal_400.jpg" class="img-responsive rotate" alt="Alimentos sazonais" />
        </div>
        <div class="col-sm-3 hidden-md hidden-lg">
            <img src="~/Images/sazonal_400.jpg" class="img-responsive rotate" alt="Alimentos sazonais" />
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <h2><strong><em>5 &ndash; Fresco</em></strong></h2>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;Para manter uma alimenta&ccedil;&atilde;o equilibrada, recomenda-se ingerir no m&iacute;nimo 30% de alimentos crus e frescos
                diariamente, que conservam sua energia, suas enzimas, suas vitaminas e seus minerais como nenhum outro. H&aacute; tamb&eacute;m a clorofila,
                essencial para a vitalidade do organismo. O resultado deste consumo se mostra na cor da pele, no brilho dos cabelos, na for&ccedil;a das unhas,
                no vi&ccedil;o dos olhos e at&eacute; mesmo no bom humor. Nosso organismo fica mais fortalecido e nosso sistema imunol&oacute;gico atento para
                evitar entrada de bact&eacute;rias, v&iacute;rus e doen&ccedil;as oportunistas.
            </p>
        </div>
        <div class="hidden-xs hidden-sm col-md-3 vertical-center">
            <img src="~/Images/alimentos_frescos_400.jpg" class="img-responsive rotate" alt="Alimentos frescos" />
        </div>
        <div class="col-sm-3 hidden-md hidden-lg">
            <img src="~/Images/alimentos_frescos_400.jpg" class="img-responsive rotate" alt="Alimentos frescos" />
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <h2><strong><em>6 &ndash; Livre de modifica&ccedil;&otilde;es gen&eacute;ticas</em></strong></h2>
            <br />
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;Todo ou qualquer alimento geneticamente modificado pode gerar consequ&ecirc;ncias negativas para a sa&uacute;de humana.
                Ainda n&atilde;o houve tempo pra ci&ecirc;ncia mensurar esses efeitos para o homem e o meio ambiente.
            </p>
        </div>
        <div class="hidden-xs hidden-sm col-md-3">
            <img src="~/Images/alimentos_geneticamente_modificados.jpg" class="img-responsive rotate" alt="Alimentos genéticamente modificados" />
        </div>
        <div class="col-sm-3 hidden-md hidden-lg">
            <img src="~/Images/alimentos_geneticamente_modificados.jpg" class="img-responsive rotate" alt="Alimentos genéticamente modificados" />
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <h2><strong><em>7 &ndash; Em Harmonia com a tradi&ccedil;&atilde;o</em></strong></h2>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;Devemos procurar os alimentos de acordo com as tradi&ccedil;&otilde;es culin&aacute;rias do lugar onde vivemos.
                &Eacute; o conceito da ANCESTRALIDADE. Temos em nosso DNA o conhecimento intr&iacute;nseco de quais os alimentos melhores para n&oacute;s.
                Por exemplo, o leite &eacute; inadequado para os japoneses, criados com a cultura da soja e seus derivados, e n&atilde;o com o costume de
                queijos de origem animal, como os europeus, para os brasileiros, os melhores alimentos s&atilde;o mandiocas, car&aacute;, inhame e ab&oacute;bora,
                consumidos pelos antepassados.
            </p>
        </div>
        <div class="hidden-xs hidden-sm col-md-3 vertical-center">
            <img src="~/Images/alimentacao_tradicional_400.jpg" class="img-responsive rotate" alt="Alimentação tradicional" />
        </div>
        <div class="col-sm-3 hidden-md hidden-lg">
            <img src="~/Images/alimentacao_tradicional_400.jpg" class="img-responsive rotate" alt="Alimentação tradicional" />
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <h2><strong><em>8 &ndash; Sustent&aacute;vel</em></strong></h2>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&Eacute; aquele alimento que faz bem aos produtos, ao vendedor e ao consumidor.
                &Eacute; aquele em cuja produ&ccedil;&atilde;o n&atilde;o existe desperd&iacute;cio de energia e de &aacute;gua,
                sofrimento de animais, desmatamento de florestas e preju&iacute;zo ao meio ambiente.
            </p>
        </div>
        <div class="hidden-xs hidden-sm col-md-3 vertical-center">
            <img src="~/Images/alimentacao_sustentavel_400.jpg" class="img-responsive rotate" alt="Alimentação sustentável" />
        </div>
        <div class="col-sm-3 hidden-md hidden-lg">
            <img src="~/Images/alimentacao_sustentavel_400.jpg" class="img-responsive rotate" alt="Alimentação sustentável" />
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <h2><strong><em>9 &ndash; Equilibrado</em></strong></h2>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;Apresenta todas as partes em propor&ccedil;&otilde;es corretas, como planejado pela natureza.
                Alimento desequilibrado &eacute; aquele cujas partes foram substitu&iacute;das por artificiais, com light ou diet.
                Quando a gordura, por exemplo, &eacute; retirada e substitu&iacute;da por espessantes, ado&ccedil;antes, gomas e outros produtos artificiais,
                o resultado &eacute; um alimento sem nutrientes e sabor.
            </p>
        </div>
        <div class="hidden-xs hidden-sm col-md-3 vertical-center">
            <img src="~/Images/alimentacao_equilibrada_400.jpg" class="img-responsive rotate" alt="Alimentação equilibrada" />
        </div>
        <div class="col-sm-3 hidden-md hidden-lg">
            <img src="~/Images/alimentacao_equilibrada_400.jpg" class="img-responsive rotate" alt="Alimentação equilibrada" />
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <h2><strong><em>10 &ndash; Org&acirc;nico</em></strong></h2>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&Eacute; todo alimento n&atilde;o modificado geneticamente, produzido sem agrot&oacute;xicos,
                sem adubo qu&iacute;mico, sem antibi&oacute;ticos sem horm&ocirc;nios. Ele preserva a vitalidade da natureza, &eacute; bom para o homem e
                para o planeta.
            </p>
        </div>
        <div class="hidden-xs hidden-sm col-md-3 vertical-center">
            <img src="~/Images/alimentos_organicos_400.jpg" class="img-responsive rotate" alt="Alimentos orgânicos" />
        </div>
        <div class="col-sm-3 hidden-md hidden-lg">
            <img src="~/Images/alimentos_organicos_400.jpg" class="img-responsive rotate" alt="Alimentos orgânicos" />
        </div>
    </div>
</div>
