
@{
    ViewBag.Title = "Campanha Aqui Tem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div class="container gallery-container">
    <div class="tz-gallery body-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <img src="" />
                <a class="lightbox" href="~/Images/Campanhas/Aqui_tem/Aqui_tem_beneficios_400.jpg">
                    <img src="~/Images/Campanhas/Aqui_tem/Aqui_tem_beneficios_400.jpg" alt="Benefícios de ter uma nutricionista como Manuela Ibi">
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <img src="" />
                <a class="lightbox" href="~/Images/Campanhas/Aqui_tem/Aqui_tem_nutri_que_escuta_400.jpg">
                    <img src="~/Images/Campanhas/Aqui_tem/Aqui_tem_nutri_que_escuta_400.jpg" alt="Uma nutri que te escuta">
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <img src="" />
                <a class="lightbox" href="~/Images/Campanhas/Aqui_tem/Aqui_tem_Te_conhece_400.jpg">
                    <img src="~/Images/Campanhas/Aqui_tem/Aqui_tem_Te_conhece_400.jpg" alt="Nutri que te conhece profundamente">
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <img src="" />
                <a class="lightbox" href="~/Images/Campanhas/Aqui_tem/Aqui_tem_Perto_de_voce_400.jpg">
                    <img src="~/Images/Campanhas/Aqui_tem/Aqui_tem_Perto_de_voce_400.jpg" alt="Uma nutri perto de você">
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <img src="" />
                <a class="lightbox" href="~/Images/Campanhas/Aqui_tem/Aqui_tem_Descomplica_a_cozinha_400.jpg">
                    <img src="~/Images/Campanhas/Aqui_tem/Aqui_tem_Descomplica_a_cozinha_400.jpg" alt="Uma nutri que descomplica a cozinha">
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <img src="" />
                <a class="lightbox" href="~/Images/Campanhas/Aqui_tem/Aqui_tem_De_forma_integrada_400.jpg">
                    <img src="~/Images/Campanhas/Aqui_tem/Aqui_tem_De_forma_integrada_400.jpg" alt="Uma nutri que te atende de forma integrada">
                </a>
            </div>
            <div class="col-sm-4 col-md-4">
                <img src="" />
                <a class="lightbox" href="~/Images/Campanhas/Aqui_tem/Aqui_tem_Foco_e_atualizada_400.jpg">
                    <img src="~/Images/Campanhas/Aqui_tem/Aqui_tem_Foco_e_atualizada_400.jpg" alt="Uma nutri com foco e atualizada">
                </a>
            </div>
            <div class="col-sm-4 col-md-4">
                <img src="" />
                <a class="lightbox" href="~/Images/Campanhas/Aqui_tem/Aqui_tem_Modulacao_intestinal_400.jpg">
                    <img src="~/Images/Campanhas/Aqui_tem/Aqui_tem_Modulacao_intestinal_400.jpg" alt="Uma nutri que aplica modulação intestinal">
                </a>
            </div>
            <div class="col-sm-4 col-md-4">
                <img src="" />
                <a class="lightbox" href="~/Images/Campanhas/Aqui_tem/Aqui_tem_Alimentacao_personalizada_400.jpg">
                    <img src="~/Images/Campanhas/Aqui_tem/Aqui_tem_Alimentacao_personalizada_400.jpg" alt="Uma nutri que personalisa sua alimentação">
                </a>
            </div>
        </div>
    </div>
</div>