
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>

@Html.Partial("LogoView")

<div class="container">
    <div class="row">
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;Como nutri focada em doen&ccedil;as &amp; intestino, h&aacute; dias quero escrever sobre a sa&uacute;de do sistema imunol&oacute;gico frente &agrave; pandemia COVID-19. 🤔 Nossa imunidade pode ser estimulada por alguns alimentos &amp; fitoter&aacute;picos, &eacute; claro, mas est&aacute; DIRETAMENTE ligada &agrave; sa&uacute;de do nosso INTESTINO e o MICROBIOMA nele. (Microbioma: conjunto de micro-organismos e subst&acirc;ncias por ela produzidas).
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;A melhor forma de termos nossa imunidade em alta &eacute; cuidarmos desta dupla. Como?!?
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;Se voc&ecirc; se preocupou em se alimentar de forma saud&aacute;vel, incluindo pelo menos 3 frutas por dia e comendo verduras e legumes diariamente, j&aacute; fez parte do trabalho.
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;Mas n&atilde;o &eacute; s&oacute; isso! &Eacute; preciso tamb&eacute;m evitar aqueles produtos aliment&iacute;cios que literalmente DETONAM a microbiota e a parede intestinal. 💩 Fast Food de QUALQUER tipo, ultra processados ricos em aditivos (&agrave;s vezes vendidos como &ldquo;saud&aacute;veis&rdquo; - ex: bolachas integrais, barrinhas etc.), embutidos &amp; processados de carnes,&nbsp; refris &amp; sucos de caixinha, doces e mais doces com muito a&ccedil;&uacute;car etc., enfim, muita porcaria que tem por a&iacute;.
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;Ent&atilde;o n&atilde;o adianta se &ldquo;banhar&rdquo; em &aacute;lcool gel, tomar pr&oacute;polis + geleia real + alho cru, fazer estoques de papel higi&ecirc;nico e continuar comendo... miojo. 🤷🏻&zwj;♀ Inclua D-I-A-R-I-A-M-E-N-T-E verduras verdes escuras 📣 , principalmente escarola 📢(rica em inulina) e couve, batata yacon📢 &amp; banana verde no suco verde, coma de 3 a 5 frutas de cores diferentes (alaranjadas, verdes, roxas), inclua 2 castanhas do Par&aacute;, cogumelos, farelo de aveia, fermentados em geral (quefir, kombucha, etc.) e maneire no consumo de carne.
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;Parece &oacute;bvio?!? Pode ser, mas a receita &eacute; essa mesma! Os resultados, por&eacute;m, valer&atilde;o a pena.
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;💩🦠💩
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;Cuide de seu intestino e ele cuidar&aacute; de voc&ecirc;!
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <img src="~/Images/COVID19_Sua_imunidade_depende_do_seu_intestino_400.jpg" class="img-responsive rotate" title="COVID-19: Sua imunidade depende do seu intestino" alt="COVID-19: Sua imunidade depende do seu intestino" />
        </div>
    </div>
</div>
