@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>

@Html.Partial("LogoView")

<div class="container">

    <h4>Profa. Dra. S&iacute;lvia Ferolla &ndash; Palestra no curso de Modula&ccedil;&atilde;o Intestinal II Prof. Murilo Pereira, agosto 2019</h4>
    <hr />
    <h2>P&atilde;es, cereais, massas <span class="marcador">RICOS</span> em FODMAPS</h2>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ALIMENTO</th>
                    <th>Quantidade máxima (g) pode ser tolerada para pacientes com SII</th>
                    <th>Tipo de FODMAP</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Farinha de am&ecirc;ndoa</td>
                    <td class="text-center">24g</td>
                    <td>GOS</td>
                </tr>
                <tr>
                    <td>Amaranto</td>
                    <td class="text-center">10g</td>
                    <td>GOS + FRUTANO</td>
                </tr>
                <tr>
                    <td>Cevada</td>
                    <td class="text-center">28g</td>
                    <td>GOS + FRUTANO</td>
                </tr>
                <tr>
                    <td>Triguilho</td>
                    <td class="text-center">44g</td>
                    <td>GOS + FRUTANO</td>
                </tr>
                <tr>
                    <td>Farelo de trigo</td>
                    <td class="text-center">5g</td>
                    <td>FRUTANO</td>
                </tr>
                <tr>
                    <td>Granola</td>
                    <td class="text-center">NA</td>
                    <td>FRUTANO</td>
                </tr>
                <tr>
                    <td>Espelta</td>
                    <td class="text-center">NA</td>
                    <td>FRUTANO</td>
                </tr>
                <tr>
                    <td>Farinha de coco</td>
                    <td class="text-center">NA</td>
                    <td>FRUTANO, SORBITOL, FRUTOSE</td>
                </tr>
                <tr>
                    <td>Farinha de centeio</td>
                    <td class="text-center">NA</td>
                    <td>FRUTANO</td>
                </tr>
                <tr>
                    <td>Massa de espelta</td>
                    <td class="text-center">74-85g</td>
                    <td>FRUTANO</td>
                </tr>
                <tr>
                    <td>Semolina</td>
                    <td class="text-center">NA</td>
                    <td>FRUTANO</td>
                </tr>
                <tr>
                    <td>Muelsi</td>
                    <td class="text-center">NA</td>
                    <td>FRUTANO, SORBITOL</td>
                </tr>
                <tr>
                    <td>Biscoitos que contenham farinha de trigo</td>
                    <td rowspan="2" class="text-center">NA**</td>
                    <td>FRUTANO</td>
                </tr>
                <tr>
                    <td>Barrinha – fruta seca, castanhas, mel, aveia, granola (etc.)</td>
                    <td>FRUTANO, FRUTOSE, GOS</td>
                </tr>
            </tbody>
        </table>
        <hr />
    </div>

    <h2>Vegetais ricos em FODMAPS</h2>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ALIMENTO</th>
                    <th>Quantidade máxima (g) pode ser tolerada para pacientes com SII</th>
                    <th>Tipo de FODMAP</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Alcachofra inteira in natura</td>
                    <td class="text-center">15g</td>
                    <td>FRUTANO</td>
                </tr>
                <tr>
                    <td>Alcachofra Jerusal&eacute;m</td>
                    <td class="text-center">NA</td>
                    <td>FRUTANO + FRUTOSE</td>
                </tr>
                <tr>
                    <td>Aspargos</td>
                    <td class="text-center">7g</td>
                    <td>FRUTANO + FRUTOSE</td>
                </tr>
                <tr>
                    <td>Beterraba</td>
                    <td class="text-center">20g</td>
                    <td>FRUTOSE + GOS</td>
                </tr>
                <tr>
                    <td>Br&oacute;colis</td>
                    <td class="text-center">45g*</td>
                    <td>FRUTANO</td>
                </tr>
                <tr>
                    <td>Couve de Bruxelas</td>
                    <td class="text-center">38g</td>
                    <td>FRUTANO</td>
                </tr>
                <tr>
                    <td>Repolho roxo e crespo</td>
                    <td class="text-center">20g</td>
                    <td>FRUTANO</td>
                </tr>
                <tr>
                    <td>Couve flor</td>
                    <td class="text-center">NA</td>
                    <td>Manitol</td>
                </tr>
                <tr>
                    <td>Aipo</td>
                    <td class="text-center">10g</td>
                    <td>Manitol</td>
                </tr>
                <tr>
                    <td>Ervilha</td>
                    <td class="text-center">15g</td>
                    <td>GOS</td>
                </tr>
                <tr>
                    <td>Milho em lata</td>
                    <td class="text-center">10g</td>
                    <td>FRUTANO</td>
                </tr>
                <tr>
                    <td>Milho doce (espiga)</td>
                    <td class="text-center">48g</td>
                    <td>SORBITOL</td>
                </tr>
                <tr>
                    <td>Bulbo de erva doce</td>
                    <td class="text-center">NA**</td>
                    <td>FRUTANO</td>
                </tr>
                <tr>
                    <td>Alho alho por&oacute;</td>
                    <td class="text-center">NA (3g j&aacute; &eacute; rico)</td>
                    <td>FRUTANO</td>
                </tr>
                <tr>
                    <td>Ervilha torta</td>
                    <td class="text-center">77g</td>
                    <td>GOS, FRUTANO, MANITOL</td>
                </tr>
                <tr>
                    <td>Cogumelos (shitake, Portobello, porcini)</td>
                    <td class="text-center">10g</td>
                    <td>MANITOL</td>
                </tr>
                <tr>
                    <td>Cebola</td>
                    <td class="text-center">&lt;10g</td>
                    <td>FRUTANO + GOS</td>
                </tr>
                <tr>
                    <td>Cebolinha (bulbo)</td>
                    <td class="text-center">NA</td>
                    <td>FRUTANO</td>
                </tr>
            </tbody>
        </table>
        <hr />
    </div>

    <h2>Frutas ricas em FODMAPS</h2>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ALIMENTO</th>
                    <th>Quantidade máxima (g) pode ser tolerada para pacientes com SII</th>
                    <th>Tipo de FODMAP</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Ma&ccedil;&atilde; desidratada</td>
                    <td class="text-center">NA</td>
                    <td>FRUTOSE, SORBITOL</td>
                </tr>
                <tr>
                    <td>Ma&ccedil;&atilde; verde</td>
                    <td class="text-center">25g</td>
                    <td>FRUTOSE, SORBITOL</td>
                </tr>
                <tr>
                    <td>Ma&ccedil;&atilde;</td>
                    <td class="text-center">20g</td>
                    <td>FRUTOSE, SORBITOL</td>
                </tr>
                <tr>
                    <td>Damasco</td>
                    <td class="text-center">16g</td>
                    <td>SORBITOL, FOS</td>
                </tr>
                <tr>
                    <td>Avocado</td>
                    <td class="text-center">30g</td>
                    <td>SORBITOL</td>
                </tr>
                <tr>
                    <td>Banana comum e ouro madura</td>
                    <td class="text-center">35-56g</td>
                    <td>FOS E FRUTOSE* (RESPECT.)</td>
                </tr>
                <tr>
                    <td>Amora</td>
                    <td class="text-center">4g</td>
                    <td>SORBITOL</td>
                </tr>
                <tr>
                    <td>Mirtilo</td>
                    <td class="text-center">40g</td>
                    <td>FOS</td>
                </tr>
                <tr>
                    <td>Cereja</td>
                    <td class="text-center">20g</td>
                    <td>FRUTOSE, SORBITOL</td>
                </tr>
                <tr>
                    <td>Cranberry desidratada</td>
                    <td class="text-center">15g</td>
                    <td>FRUTANO</td>
                </tr>
                <tr>
                    <td>Coco</td>
                    <td class="text-center">64g</td>
                    <td>SORBITOL</td>
                </tr>
                <tr>
                    <td>Tamara</td>
                    <td class="text-center">8g</td>
                    <td>FRUTANO</td>
                </tr>
                <tr>
                    <td>Figo in natura</td>
                    <td class="text-center">20g</td>
                    <td>FRUTOSE</td>
                </tr>
                <tr>
                    <td>Figo seco</td>
                    <td class="text-center">NA (3g j&aacute; &eacute; rico)</td>
                    <td>FRUTANO</td>
                </tr>
                <tr>
                    <td>Goji berry desidratada</td>
                    <td class="text-center">10g</td>
                    <td>FRUTANO</td>
                </tr>
                <tr>
                    <td>Toranja</td>
                    <td class="text-center">80g</td>
                    <td>FRUTANO</td>
                </tr>
                <tr>
                    <td>Goiaba</td>
                    <td class="text-center">10g</td>
                    <td>FRUTOSE</td>
                </tr>
                <tr>
                    <td>Lichia</td>
                    <td class="text-center">30g</td>
                    <td>SORBITOL</td>
                </tr>
                <tr>
                    <td>Manga</td>
                    <td class="text-center">40g</td>
                    <td>SORBITOL</td>
                </tr>
                <tr>
                    <td>Manga desidratada</td>
                    <td class="text-center">NA</td>
                    <td>FRUTANO</td>
                </tr>
                <tr>
                    <td>Mangost&atilde;o desidratado</td>
                    <td class="text-center">NA</td>
                    <td>FRUTANO, FRUTOSE</td>
                </tr>
                <tr>
                    <td>Mel&atilde;o (honeydew)</td>
                    <td class="text-center">90g</td>
                    <td>FRUTANO</td>
                </tr>
                <tr>
                    <td>Nectarina</td>
                    <td class="text-center">18g</td>
                    <td>SORBITOL, FRUTANO</td>
                </tr>
                <tr>
                    <td>P&ecirc;ssego</td>
                    <td class="text-center">18g</td>
                    <td>SORBITOL, FRUTANO</td>
                </tr>
                <tr>
                    <td>Pera</td>
                    <td class="text-center">5g</td>
                    <td>SORBITOL, FRUTANO</td>
                </tr>
                <tr>
                    <td>Caqui</td>
                    <td class="text-center">60g</td>
                    <td>FRUTANO</td>
                </tr>
            </tbody>
        </table>
        <hr />
    </div>

    <h2>Leite e derivados ricos em FODMAPS</h2>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ALIMENTO</th>
                    <th>Quantidade máxima (g) pode ser tolerada para pacientes com SII</th>
                    <th>Tipo de FODMAP</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Soro do leite</td>
                    <td class="text-center">16g</td>
                    <td>LACTOSE</td>
                </tr>
                <tr>
                    <td>Sorvete de creme</td>
                    <td class="text-center">25g</td>
                    <td>LACTOSE</td>
                </tr>
                <tr>
                    <td>Kefir</td>
                    <td class="text-center">23g</td>
                    <td>LACTOSE</td>
                </tr>
                <tr>
                    <td>Leite vaca, cabra, ovelha</td>
                    <td class="text-center">10g</td>
                    <td>LACTOSE</td>
                </tr>
                <tr>
                    <td>Leite condensado</td>
                    <td class="text-center">7g</td>
                    <td>LACTOSE</td>
                </tr>
                <tr>
                    <td>Iogurte de cabra</td>
                    <td class="text-center">33g</td>
                    <td>LACTOSE</td>
                </tr>
                <tr>
                    <td>Iogurte natural</td>
                    <td class="text-center">20g</td>
                    <td>LACTOSE</td>
                </tr>
                <tr>
                    <td>Queijo fresco, cotage, ricota</td>
                    <td class="text-center">40g</td>
                    <td>LACTOSE</td>
                </tr>
                <tr>
                    <td>Creme de leite</td>
                    <td class="text-center">30g</td>
                    <td>LACTOSE</td>
                </tr>
            </tbody>
        </table>
        <hr />
    </div>

    <h2>Substitutos de leite e derivados ricos em FODMAPS</h2>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ALIMENTO</th>
                    <th>Quantidade máxima (g) pode ser tolerada para pacientes com SII</th>
                    <th>Tipo de FODMAP</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Leite de coco longa vida</td>
                    <td class="text-center">120g</td>
                    <td>SOBITOL</td>
                </tr>
                <tr>
                    <td>Leite de aveia</td>
                    <td class="text-center">125g</td>
                    <td>FRUTANO</td>
                </tr>
                <tr>
                    <td>Leite de soja</td>
                    <td class="text-center">30g</td>
                    <td>GOS</td>
                </tr>
            </tbody>
        </table>
        <hr />
    </div>

    <h2>Leguminosas, oleaginosas, gr&atilde;os e sementes ricas em FODMAPS</h2>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ALIMENTO</th>
                    <th>Quantidade máxima (g) pode ser tolerada para pacientes com SII</th>
                    <th>Tipo de FODMAP</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Am&ecirc;ndoa</td>
                    <td class="text-center">12g (10 unidades)</td>
                    <td>GOS</td>
                </tr>
                <tr>
                    <td>Feij&atilde;o</td>
                    <td class="text-center">10-40g*</td>
                    <td>FRUTOSE, GOS, FRUTANO</td>
                </tr>
                <tr>
                    <td>Fava de feij&atilde;o</td>
                    <td class="text-center">NA</td>
                    <td>FRUTOSE</td>
                </tr>
                <tr>
                    <td>Castanha de caju</td>
                    <td class="text-center">NA (15g já é rica em FODMAPS)</td>
                    <td>GOS, FRUTANO</td>
                </tr>
                <tr>
                    <td>Gr&atilde;o de bico (gr&atilde;o)</td>
                    <td class="text-center">NA**</td>
                    <td>GOS</td>
                </tr>
                <tr>
                    <td>Feij&atilde;o branco</td>
                    <td class="text-center">NA</td>
                    <td>GOS, FRUTANO</td>
                </tr>
                <tr>
                    <td>Avel&atilde;</td>
                    <td class="text-center">15g</td>
                    <td>GOS</td>
                </tr>
                <tr>
                    <td>Lentilha (gr&atilde;o)</td>
                    <td class="text-center">23g**</td>
                    <td>GOS</td>
                </tr>
                <tr>
                    <td>Pistache</td>
                    <td class="text-center">NA</td>
                    <td>GOS, FRUTANO</td>
                </tr>
                <tr>
                    <td>Soja &ndash; prote&iacute;na texturizada</td>
                    <td class="text-center">NA</td>
                    <td>GOS, FRUTANO</td>
                </tr>
                <tr>
                    <td>Soja &ndash; em gr&atilde;os</td>
                    <td class="text-center">NA</td>
                    <td>GOS, FRUTANO</td>
                </tr>
                <tr>
                    <td>Ervilha</td>
                    <td class="text-center">NA</td>
                    <td>GOS, FRUTANO</td>
                </tr>
                <tr>
                    <td>Tofu (soft/ cream)</td>
                    <td class="text-center">NA</td>
                    <td>GOS, FRUTANO</td>
                </tr>
            </tbody>
        </table>
        <hr />
    </div>

    <h2>Bebidas ricas em FODMAPS</h2>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ALIMENTO</th>
                    <th>Quantidade máxima (g) pode ser tolerada para pacientes com SII</th>
                    <th>Tipo de FODMAP</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Suco de ma&ccedil;&atilde;</td>
                    <td class="text-center">NA</td>
                    <td>FRUTOSE</td>
                </tr>
                <tr>
                    <td>Alfarroba em p&oacute;</td>
                    <td class="text-center">6g*</td>
                    <td>FOS</td>
                </tr>
                <tr>
                    <td>&Aacute;gua de coco in natura</td>
                    <td class="text-center">100ml</td>
                    <td>SORBITOL, FOS</td>
                </tr>
                <tr>
                    <td>Kombucha</td>
                    <td class="text-center">180g</td>
                    <td>FOS</td>
                </tr>
                <tr>
                    <td>Chocolate maltado em p&oacute;</td>
                    <td class="text-center">16g</td>
                    <td>FOS</td>
                </tr>
                <tr>
                    <td>Suco de laranja</td>
                    <td class="text-center">NA</td>
                    <td>FOS</td>
                </tr>
                <tr>
                    <td>Ch&aacute; de camomila, funcho, ervas (herbal)/, oolong</td>
                    <td class="text-center">NA</td>
                    <td>FOS</td>
                </tr>
                <tr>
                    <td>Vinho de sobremesa*</td>
                    <td class="text-center">NA</td>
                    <td>FRUTOSE </td>
                </tr>
            </tbody>
        </table>
        <hr />
    </div>

    <h2>Condimentos e a&ccedil;&uacute;cares ricos em FODMAPS</h2>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ALIMENTO</th>
                    <th>Quantidade máxima (g) pode ser tolerada para pacientes com SII</th>
                    <th>Tipo de FODMAP</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Geleia de mirtilo</td>
                    <td class="text-center">NA</td>
                    <td>FRUTOSE</td>
                </tr>
                <tr>
                    <td>Geleia de coco</td>
                    <td class="text-center">11g</td>
                    <td>FRUTANO</td>
                </tr>
                <tr>
                    <td>Pasta homus</td>
                    <td class="text-center">NA</td>
                    <td>FRUTANO, GOS</td>
                </tr>
                <tr>
                    <td>Mel</td>
                    <td class="text-center">7g</td>
                    <td>FRUTOSE</td>
                </tr>
                <tr>
                    <td>Geleia mix berries</td>
                    <td class="text-center">NA</td>
                    <td>SORBITOL</td>
                </tr>
                <tr>
                    <td>Geleia de a&ccedil;&uacute;car ado&ccedil;ada com xarope de frutose</td>
                    <td class="text-center">NA</td>
                    <td>FRUTANO</td>
                </tr>
                <tr>
                    <td>Ketchup</td>
                    <td class="text-center">13g</td>
                    <td>FRUTANO</td>
                </tr>
                <tr>
                    <td>Xarope de agave</td>
                    <td class="text-center">5g</td>
                    <td>FRUTOSE, FRUTANO</td>
                </tr>
                <tr>
                    <td>Chocolate ao leite</td>
                    <td class="text-center">20g</td>
                    <td>SORBITOL</td>
                </tr>
                <tr>
                    <td>Mel</td>
                    <td class="text-center">7g</td>
                    <td rowspan="5" style="vertical-align:middle;">
                        Absor&ccedil;&atilde;o da frutose aumenta se ingerida sob a forma de sacarose
                        ou quando misturada com glicose.<br /><br />
                        Durante a absor&ccedil;&atilde;o da glicose, ocorre a abertura das jun&ccedil;&otilde;es,
                        aumentando absor&ccedil;&atilde;o via paracelular da frutose (29%)
                    </td>
                </tr>
                <tr>
                    <td>A&ccedil;&uacute;car de coco</td>
                    <td class="text-center">4g</td>
                </tr>
                <tr>
                    <td>Mela&ccedil;o</td>
                    <td class="text-center">5g</td>
                </tr>
                <tr>
                    <td>A&ccedil;&uacute;car de coco</td>
                    <td class="text-center">4g</td>
                </tr>
                <tr>
                    <td>Xarope de coco</td>
                    <td class="text-center">14g</td>
                </tr>
                <tr>
                    <td>A&ccedil;&uacute;car</td>
                    <td class="text-center">At&eacute; 50g</td>
                    <td>FRUTOSE, GLICOSE</td>
                </tr>
            </tbody>
        </table>
        <hr />
    </div>

    <h2>Atenção nos ingredientes de produtos industrializados!!</h2>
    <h3>Industrializados, carnes processadas, balas diet&eacute;ticas, ado&ccedil;antes, medicamentos</h3>

    <div class="table-responsive">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>Frutose</td>
                    <td">Poli&oacute;is</td>
                    <td>Frutanos</td>
                </tr>
                <tr>
                    <td>Sacarose</td>
                    <td>Sorbitol</td>
                    <td>Cebola em p&oacute;/ extrato</td>
                </tr>
                <tr>
                    <td>Mel</td>
                    <td>Manitol</td>
                    <td>Alho em p&oacute;/ extrato</td>
                </tr>
                <tr>
                    <td>Amido modificado</td>
                    <td>Malitol</td>
                    <td>Inulina</td>
                </tr>
                <tr>
                    <td>Xarope de milho</td>
                    <td>Lactitol</td>
                    <td>Farinha de trigo</td>
                </tr>
                <tr>
                    <td>Suco de fruta</td>
                    <td>Xilitol</td>
                    <td>Cevada</td>
                </tr>
                <tr>
                    <td>Frutose cristalina</td>
                    <td>Isomalte</td>
                    <td>Centeio</td>
                </tr>
                <tr>
                    <td>Xarope de agave</td>
                    <td>Eritriol</td>
                    <td>Chic&oacute;ria (extrato/ p&oacute;)</td>
                </tr>
                <tr>
                    <td>Fruta seca</td>
                    <td>Suco de fruta concentrado</td>
                    <td>Frutano</td>
                </tr>
                <tr>
                    <td>A&ccedil;&uacute;car de fruta</td>
                    <td>Fruta seca</td>
                    <td>Fos</td>
                </tr>
                <tr>
                    <td>Maltodextrina</td>
                    <td>Suco de ameixa</td>
                    <td>Leite</td>
                </tr>
                <tr>
                    <td>A&ccedil;&uacute;car refinado</td>
                    <td>Suco de ma&ccedil;&atilde;</td>
                    <td>Leite em p&oacute;</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Soro do leite</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>