@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>

@Html.Partial("LogoView")

<div class="container">
    <div class="row">
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <h2><strong><em>1 - Gr&atilde;os e sementes:</em></strong></h2>
            <p>
                Agar Agar kanten, (espessante)<br />
                Arroz: cateto integral biodin&acirc;mico, basmati integral, negro, vermelho,<br />
                Aveia: gr&atilde;o prensado, farinha e farelo;<br />
                Amaranto em flocos<br />
                Farinha de trigo integral e comum, org&acirc;nica;<br />
                Farinha de coco;<br />Fub&aacute; italiano para polenta;<br />
                Leguminosas: lentilha libanesa, lentilha rosa, feij&atilde;o branco, preto, azuki, carioquinha, gr&atilde;o de bico, ervilha partida;<br />
                Linha&ccedil;a dourada ou marrom, inteira e farinha;<br />
                Massas de gr&atilde;o duro (italianas);<br />
                Mandioca, derivados: farinha, polvilho doce, azedo, tapioca;<br />
                Psilium (fibra higrosc&oacute;pica);<br />
                Quinoa em gr&atilde;os e flocos.
            </p>
        </div>
        <div class="hidden-xs hidden-sm col-md-3 vertical-center">
            <img src="~/Images/graos_e_sementes_400.jpg" class="img-responsive rotate" alt="Grãos e Sementes" />
        </div>
        <div class="col-sm-3 hidden-md hidden-lg">
            <img src="~/Images/graos_e_sementes_400.jpg" class="img-responsive rotate" alt="Grãos e Sementes" />
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <h2><strong><em>2 &ndash; Gorduras e temperos</em></strong></h2>
            <p>
                Azeite de oliva extravirgem;<br />
                Azeite de oliva extravirgem;<br />
                Banha de porco (se for do habito familiar);<br />
                Cacau org&acirc;nico em p&oacute; e nibs;<br />Chocolate amargo em barras;<br />
                Especiarias: canela, cominho, curry, p&aacute;prica (doce, picante e defumada), c&uacute;rcuma, cajun, sumagre, pimenta rosa, noz moscada, or&eacute;gano seco, s&aacute;lvia seca, alecrim seco, etc.;<br />
                Extrato de tomate org&acirc;nico;<br />Manteiga clarificada (ghee);<br />
                &Oacute;leo de coco;<br />&Oacute;leo de gergelim;<br />
                &Oacute;leo de castanhas ou abacate;<br />Sal marinho;<br />
                Shoyu daimaru (fermenta&ccedil;&atilde;o natural, sem gl&uacute;ten e glutamato monoss&oacute;dico, conservantes e a&ccedil;&uacute;car).
            </p>
        </div>
        <div class="hidden-xs hidden-sm col-md-3 vertical-center">
            <img src="~/Images/condimentos_400.jpg" class="img-responsive rotate" alt="Condimentos" />
        </div>
        <div class="col-sm-3 hidden-md hidden-lg">
            <img src="~/Images/condimentos_400.jpg" class="img-responsive rotate" alt="Condimentos" />
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <h2><strong><em>3 &ndash; Ado&ccedil;antes naturais</em></strong></h2>
            <p>
                A&ccedil;&uacute;car: cristal, demerara, mascavo de prefer&ecirc;ncia org&acirc;nicos;<br />
                Mel*<br />
                Melado de cana*<br />
                Xarope de agave*<br />
                Xilitol ou similar
            </p>
            <hr />
            <p><strong><em>OBS: (*) consumo moderado pelo alto teor de frutose (**) pode causar desconforto intestinal</em></strong></p>
        </div>
        <div class="hidden-xs hidden-sm col-md-3 vertical-center">
            <img src="~/Images/alternativas_ao_acucar_comum_400.jpg" class="img-responsive rotate" alt="Alternativas ao açucar comum" />
            <p class="referencia">Imagem: <a href="https://commons.wikimedia.org/wiki/File:Brown_sugar_examples.JPG">Moe Rubenzahl</a></p>
        </div>
        <div class="col-sm-3 hidden-md hidden-lg">
            <img src="~/Images/alternativas_ao_acucar_comum_400.jpg" class="img-responsive rotate" alt="Alternativas ao açucar comum" />
            <p class="referencia">Imagem: <a href="https://commons.wikimedia.org/wiki/File:Brown_sugar_examples.JPG">Moe Rubenzahl</a></p>
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <h2><strong><em>4 &ndash; Na geladeira</em></strong></h2>
            <p>
                <em>Frutas org&acirc;nicas</em>: lim&atilde;o tahiti, lim&atilde;o siciliano, laranja-lima e frutas da esta&ccedil;&atilde;o;<br />
                <em>Legumes</em> da esta&ccedil;&atilde;o lavados e secos, guardados em recipientes fechados forrados com papel toalha;<br />
                <em>Batata Yacon</em>;<br />
                <em>Folhas org&acirc;nicas</em> lavadas, higienizadas e secas, guardadas em recipientes fechados e forrados com papel toalha.
                Org&acirc;nicos duram at&eacute; 1 semana em geladeira;<br />
                <em>Ervas frescas</em> lavadas, higienizadas e secas, guardadas em recipientes fechados e forrados com papel toalha.
                <strong>Escolha sempre 2 tipos</strong> de ervas de cada vez para deixa &agrave; m&atilde;o na geladeira. Use extensivamente na finaliza&ccedil;&atilde;o e no preparo de pratos.<br />
                <em>Ovos</em> caipiras ou org&acirc;nicos<br />
                <em>Castanhas e sementes</em>: guarde na geladeira em pote fechado para durarem mais. Altas temperaturas aceleram a oxida&ccedil;&atilde;o destes ingredientes.
            </p>
        </div>
        <div class="hidden-xs hidden-sm col-md-3 vertical-center">
            <img src="~/Images/geladeira_400.jpg" class="img-responsive rotate" alt="Geladeira" />
        </div>
        <div class="col-sm-3 hidden-md hidden-lg">
            <img src="~/Images/geladeira_400.jpg" class="img-responsive rotate" alt="Geladeira" />
        </div>
    </div>
</div>