@{
    ViewBag.Title = "Ômega 3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>

@Html.Partial("LogoView")

<hr />

<div class="embed-responsive embed-responsive-4by3">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/-bG2iIvMlmY" frameborder="0"></iframe>
</div>