@{
    ViewBag.Title = "Localização";
}
<h1>@ViewBag.Title</h1>

@Html.Partial("LogoView")

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://maps.google.com/maps?q=Manuela%20Ibi%20Nutri%C3%A7%C3%A3o%20Integrada&t=&z=13&ie=UTF8&iwloc=&output=embed"></iframe>
            </div>
        </div>
    </div>
</div>



