@{
    ViewBag.Title = "Início";
}

<h2>Atendimento</h2>

@Html.Partial("LogoView")

<div class="container">
    <div class="col-md-9">
        <h1 id="servico_de_nutricao_integrada">Servi&ccedil;os de Nutri&ccedil;&atilde;o Integrada</h1>
        <h2 id="consulta_nutricional">Consulta Nutricional</h2>
        <p>Atendimento personalizado em consult&oacute;rio, onde por meio de uma avalia&ccedil;&atilde;o nutricional detalhada feita por BIOIMPED&Acirc;NCIA, &eacute; elaborado um plano alimentar de acordo com todos os objetivos, necessidades e rotina individual ou familiar. Vasta experi&ecirc;ncia no tratamento dietoter&aacute;pico em patologias como diabetes, obesidade, s&iacute;ndrome do intestino irrit&aacute;vel, sensibilidades alimentares e tamb&eacute;m direcionado a vegetarianos &amp; veganos, gestantes, nutrizes &amp; crian&ccedil;as at&eacute; 3 anos e praticantes de diferentes modalidades esportivas.</p>
        <h2 id="nutricao_funcional">Nutri&ccedil;&atilde;o Funcional</h2>
        <p>Nutri&ccedil;&atilde;o Funcional aplica a ci&ecirc;ncia dos nutrientes de acordo com a individualidade bioqu&iacute;mica de cada pessoa. Ela rastreia os sintomas f&iacute;sicos e cl&iacute;nicos de cada indiv&iacute;duo e os relaciona com car&ecirc;ncias e excessos. Tais desequil&iacute;brios nutricionais podem desencadear processos al&eacute;rgicos ou intoler&acirc;ncias e estimular o aparecimento de doen&ccedil;as cr&ocirc;nicas como obesidade, depress&atilde;o, fibromialgia, artrite, osteoporose, diabetes, dist&uacute;rbios de comportamento, hiperatividade infantil, desordens est&eacute;ticas e altera&ccedil;&atilde;o no desempenho f&iacute;sico.</p>
        <h2 id="nutricao_vegetariana_e_vegana">Nutri&ccedil;&atilde;o Vegetariana e Vegana</h2>
        <p>Voc&ecirc; est&aacute; em busca de um profissional s&eacute;rio e capacitado para seu estilo de vida vegetariano ou vegano? Procura um nutricionista que entenda profundamente das necessidades diferenciadas de vegetarianos e veganos, que acolha e possa responder aos seus anseios, incluindo da fam&iacute;lia e amigos?!?</p>
        <p>Especialista em alimenta&ccedil;&atilde;o vegetariana e vegana, h&aacute; mais de 10 anos palestra sobre o tema e atende pacientes de todas as idades e estados fisiol&oacute;gicos. Tem predile&ccedil;&atilde;o por atender gestantes, crian&ccedil;as, idosos e atletas vegetarianos e veganos. O foco da consulta &eacute; individualizar a orienta&ccedil;&atilde;o e adapta-la ao dia a dia e &agrave;s necessidades espec&iacute;ficas daqueles que optam por retirar de sua alimenta&ccedil;&atilde;o qualquer tipo de carne ou tamb&eacute;m seus derivados. &Eacute; f&aacute;cil, precisa apenas de vontade, organiza&ccedil;&atilde;o e planejamento.</p>
        <p>A op&ccedil;&atilde;o pelo vegetarianismo ou veganismo encontra cada vez mais adeptos entre jovens e aqueles preocupados com o futuro do mundo e do meio ambiente. Al&eacute;m disso, encontra cada vez mais respaldo cient&iacute;fico, dos &oacute;rg&atilde;os de classe como o Conselho Regional de Nutri&ccedil;&atilde;o 3 (CRN3) e de &oacute;rg&atilde;os internacionais como Associa&ccedil;&atilde;o Americana do Cora&ccedil;&atilde;o (AHA), Associa&ccedil;&atilde;o Diet&eacute;tica Americana (ADA), Departamento de Agricultura dos Estados Unidos (USDA), Food and Drug Administration (FDA) entre outros.</p>
        <p>POSI&Ccedil;&Atilde;O OFICIAL DO CRN3 SOBRE O VEGETARIANISMO &ndash; JANEIRO DE 2012(*)</p>
        <p class="blue whole-indent">(...)Estudos cient&iacute;ficos demonstram que <u>&eacute; poss&iacute;vel atingir</u> o equil&iacute;brio e a adequa&ccedil;&atilde;o nutricional com dietas vegetarianas: ovolactovegetarianas, lactovegetarianas, ovovegetarianas e at&eacute; veganas, desde que bem planejadas e, se necess&aacute;rio, suplementadas.(...)</p>
        <p class="blue"><strong>Diante destas considera&ccedil;&otilde;es, o CRN-3 RECOMENDA aos nutricionistas para que estejam atentos ao seguinte:</strong></p>
        <p class="blue whole-indent">1) <u>Qualquer dieta mal planejada</u>, vegetariana ou on&iacute;vora, pode ser prejudicial &agrave; sa&uacute;de, levando a defici&ecirc;ncias nutricionais.</p>
        <p class="blue whole-indent">2) As dietas vegetarianas, quando atendem &agrave;s necessidades nutricionais individuais, podem promover o crescimento, desenvolvimento e manuten&ccedil;&atilde;o adequados e <u>podem ser adotadas em qualquer ciclo de vida</u>. (...)</p>
        <p class="blue whole-indent">3) A adequa&ccedil;&atilde;o nutricional da dieta vegetariana estrita (vegana) &eacute; mais dif&iacute;cil de atingir e &nbsp;&nbsp;exige planejamento e orienta&ccedil;&atilde;o alimentar cuidadosos, incluindo suplementa&ccedil;&atilde;o espec&iacute;fica..(...)</p>
        <p>(*) Partes extra&iacute;das do manifesto de posicionamento oficial do CRN3 para seus nutricionistas.</p>
        <h2 id="nutricao_gestantes_criancas">Nutri&ccedil;&atilde;o para Gestantes, Nutrizes e Crian&ccedil;as at&eacute; os 3 anos de idade</h2>
        <p>Estados fisiol&oacute;gicos especiais como gesta&ccedil;&atilde;o, amamenta&ccedil;&atilde;o e primeira inf&acirc;ncia s&atilde;o momentos cruciais para a orienta&ccedil;&atilde;o nutricional. &Eacute; o teu caso?!?</p>
        <p>Estudos de EPIGEN&Eacute;TICA e nutri&ccedil;&atilde;o materna demonstram cada vez mais a influ&ecirc;ncia da dieta materna em rela&ccedil;&atilde;o &agrave; programa&ccedil;&atilde;o do DNA do feto. Isso quer dizer que, dependendo do estado nutricional da m&atilde;e e/ou daquilo que ela consome durante a gesta&ccedil;&atilde;o, poder&aacute; haver uma modifica&ccedil;&atilde;o na forma como os genes do feto funcionar&atilde;o durante sua vida, especialmente daqueles genes relacionadas &agrave; obesidade, doen&ccedil;as cardiovasculares e diabetes.</p>
        <p>O acompanhamento nutricional tem por objetivo proporcionar uma nutri&ccedil;&atilde;o completa e balanceada para gestantes, nutrizes e a transi&ccedil;&atilde;o do peito para a alimenta&ccedil;&atilde;o comum das crian&ccedil;as. A introdu&ccedil;&atilde;o adequada de alimentos, respeitando a maturidade digestiva e intestinal da crian&ccedil;a, favorece o fortalecimento da imunidade e a diminui&ccedil;&atilde;o ou controle de alergias alimentares, t&atilde;o comuns nos dias de hoje.</p>
        <h2 id="nutricao_esportiva">Nutri&ccedil;&atilde;o Esportiva</h2>
        <p>Como adequar seu treino &agrave; sua alimenta&ccedil;&atilde;o?<br />Como ganhar massa magra ou perder gordura associando alimenta&ccedil;&atilde;o e atividade f&iacute;sica?!?<br />&Eacute; preciso usar suplementos ou posso ficar s&oacute; com a comida?<br />Como periodizar nutri&ccedil;&atilde;o e treino?!?</p>
        <p>Aprenda a identificar e corrigir erros alimentares para favorecer seus objetivos esportivos. A fisiologia e a bioqu&iacute;mica mudam durante a pr&aacute;tica de atividade f&iacute;sica, saiba tirar proveito dela com uma nutri&ccedil;&atilde;o espec&iacute;fica.</p>
        <p>Esta dupla &eacute; imbat&iacute;vel: atividade f&iacute;sica &amp; nutri&ccedil;&atilde;o.</p>
    </div>
    <div class="col">
        <img class="img-responsive" src="~/images/Manuela_Ibi_atendendo.jpg" />
    </div>
</div>