
@{
    ViewBag.Title = "Download";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Download</h2>

@Html.Partial("LogoView")

<div class="container "Downloads">
    <div class="row">
        <hr />
        <h1><a class="list-group-item" href="@Url.Action("Covid19", "File")">Orientações nutricionais durante a pandemia COVID-19 por HCFMB</a></h1>
        <hr />
        <div class="col-md-8">
            <h2>Documentos para baixar por ordem alfabética</h2>
            <div class="list-group">
                <a class="list-group-item" href="@Url.Action("Equivalentes", "File")">Lista de equivalência de porções dos grupos alimentares</a>
            </div>
            <div class="list-group">
                <a class="list-group-item" href="@Url.Action("Covid19", "File")">Orientações nutricionais durante a pandemia COVID-19 HCFMB</a>
            </div>
        </div>
        <div class="col-md-4" Receitas">
            <img class="img-responsive" src="~/images/download_pdf.jpg" alt="Download de documentos em pdf" />
            <p></p>
        </div>
    </div>
</div>