@{
    ViewBag.Title = "Alcachofra ao molho de cebola roxa";
}

<h2>Alcachofra ao molho de cebola roxa</h2>

@Html.Partial("LogoView")

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive rotate" src="~/images/Alcachofra_ao_molho_de_cebola_roxa_400.jpg" alt="Alcachofra ao molho de cebola roxa" />
            <p></p>
        </div>
        <div class="col">
            <p class="identDIV">
                <img src="~/Images/Icone_receita_tradicional_italiana_45.jpg" title="Receita tradicional italiana" alt="Receita tradicional italiana" />&nbsp;
                <img src="~/Images/Icone_100_por_cento_vegana_45.jpg" title="Vegana" alt="Receita 100% vegana" />&nbsp;
                <img src="~/Images/Icone_low_carb_45.jpg" title="Low Carb" alt="Receita low carb" />&nbsp;
                <img src="~/Images/Icone_sem_gluten_45.jpg" title="Sem glúten" alt="Receita sem glúten" />&nbsp;
                <img src="~/Images/Icone_sem_laticinios_45.jpg" title="Sem Laticínios" alt="Receita sem laticínios" />&nbsp;
                <img src="~/Images/Icone_bom_para_o_coracao_45.jpg" title="Bom para o coração" alt="Receita boa para o coração" />
            </p>
            <br />
            <p class="identDIV">
                <strong>Ingredientes:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Alcachofras tamanho m&eacute;dio ou grande (tamanho 8)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;4 cebolas roxas m&eacute;dias ou grandes, proporcionais ao tamanho da alcachofra
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 lim&atilde;o siciliano grande ou 2 m&eacute;dios
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Tempero de ervas finas de sua prefer&ecirc;ncia (sugest&atilde;o: tempero Cajun, da Bombay) 30 ml de vinho branco seco
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;400-600 ml de &aacute;gua por alcachofra (o suficiente para passar de 2 dedos do fundo da panela)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Sal (marinho ou Himalaia) a gosto
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Azeite extra virgem a gosto e azeite trufado a gosto
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;<strong>Modo de Fazer:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Corte o cabo da alcachofra, &ldquo;abra&rdquo; as folhas apertando-a sobre uma superf&iacute;cie limpa e deixe de molho em &aacute;gua com solu&ccedil;&atilde;o para desinfec&ccedil;&atilde;o de verduras por 10 minutos.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Corte as cebolas em peda&ccedil;os grandes e raspe a casca dos lim&otilde;es.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Coloque as cebolas no fundo da panela de press&atilde;o, adicione as raspas de lim&atilde;o, o vinho branco e coloque as alcachofras por cima, viradas pra cima e uma do lado da outra.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Tempere com o seu tempero preferido, sal e adicione a &aacute;gua at&eacute; 2 dedos do fundo da panela.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Leve &agrave; press&atilde;o por 10 minutos se forem alcachofras m&eacute;dias e 15 minutos se forem grandes.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Retire as alcachofras e bata com um mixer o que ficou na panela at&eacute; obter um creme grosso.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Porcione em cumbucas individuais, regando com azeite extra virgem e, se gostar, umas gotas de azeite trufado.
            </p>
        </div>

    </div>
</div>