
@{
    ViewBag.Title = "Avo Garden";
}

<h2>Avo Garden</h2>

@Html.Partial("LogoView")

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/images/Avo_garden_400.jpg" />
            <p></p>
        </div>
        <div class="col">
            <p><strong>Ingredientes:</strong></p>
            <br />
            <p>
                1 avocado m&eacute;dio<br />
                Suco de lim&atilde;o Tahiti<br />
                Broto de alfafa ou baby leaf (folhas baby de verduras)<br />
                ou flores comest&iacute;veis (ex: capuchinha ou similares)<br />
                4 c. sopa de <a href="/Receitas/Homus_funcional">homus funcional</a><br />
                1 c. ch&aacute; de gergelim branco<br />
                1 c. ch&aacute; de gergelim preto<br />
                1 c. ch&aacute; de pimenta rosa (aroeira)<br />
                c. ch&aacute; de c&uacute;rcuma em p&oacute;<br />
                1 c. ch&aacute; de p&aacute;prica em p&oacute; (pode ser a doce ou a apimentada)<br />
                Opcional: 1 c. ch&aacute; de sumagre em p&oacute; (sumak)
            </p>
            <p>
                <strong>Modo de Fazer:</strong><br />
                Cortar o avocado ao meio, retirar a semente, tirar delicadamente da casca<br />
                mantendo ele inteiro e temperar com sal e suco de lim&atilde;o.<br />
                Polvilhar com c&uacute;rcuma, p&aacute;prica, gergelim branco e preto, em setores separados.<br />
                Colocar no buraco da semente uma por&ccedil;&atilde;o caprichada de homus,<br />
                enfeitar com pimenta rosa e broto de alfafa.<br />
                Pode ser usar tamb&eacute;m baby leaf (folhas baby de verduras) e<br />
                flores comest&iacute;veis (capuchinhas e similares)
            </p>
        </div>
    </div>
</div>
