@{
    ViewBag.Title = "Avo burguer";
}

<h2>Avo burguer (pode ser vegano, vegetariano ou não, depende do recheio)</h2>

@Html.Partial("LogoView")

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/Images/Avo_burguer_400.jpg" />
            <p></p>
        </div>
        <div class="col-md-8">
            <p class="identDIV">
                <img src="~/Images/Icone_vegetariana_45.jpg" title="Vegetariana" />&nbsp;
                <img src="~/Images/Icone_100_por_cento_vegana_45.jpg" title="Vegana" />&nbsp;
                <img src="~/Images/Icone_low_carb_45.jpg" title="Low Carb" />&nbsp;
                <img src="~/Images/Icone_sem_gluten_45.jpg" title="Sem glúten" />&nbsp;
                <img src="~/Images/Icone_bom_para_o_coracao_45.jpg" title="Bom para o coração" />
            </p>
            <br />
            <p class="identDIV">
                <strong>Ingredientes:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 avocado m&eacute;dio cortado na horizontal
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 <a href="/Receitas/Hamburguer_de_feijao">hamb&uacute;rguer de feijão</a> ou de <a href="/Receitas/Hamburguer_de_abobora">abóbora</a>
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 fatia de tomate ou de berinjela em conserva de azeite (opcional)<br />
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 c. sopa de <a href="/Receitas/Homus_funcional">homus</a> ou <a href="/Receitas/Maionese_de_tofu_e_abacate_ao_wassabi">Maionese de tofu</a>
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 folha de alface
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 fatia de queijo vegano ou ricota defumada ralada
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Gergelim pra polvilhar o topo
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Azeite e sal (se necess&aacute;rio) pra temperar
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 espeto longo de bambu (reutiliz&aacute;vel)
            </p>
            <br />
            <p class="identDIV">
                <strong>Modo de Fazer:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Corte o avocado no sentido horizontal, retire a semente com cuidado (ela costuma ficar grudada) e retire delicadamente a casca com a ajuda de uma colher.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Corte a base do avocado pra ficar de p&eacute;.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Pra ajudar, pode colocar um pouco de homus no fundo do prato e apoiar a metade de baixo do avocado em cima.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Colocar um pouco de maionese, o hamb&uacute;rguer de sua prefer&ecirc;ncia previamente assado ou refogado, o queijo vegano ou a ricota defumada, a fatia de tomate ou de berinjela em conserva, o alface e termine com um pouco de maionese ou azeite ou homus.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Passe a parte pontuda do avocado no gergelim (gruda sozinho) e coloque a &ldquo;tampa&rdquo; pra finalizar o hamb&uacute;rguer.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Espete com o bambu pra manter o conjunto unido e coma com garfo e faca (se tentar pegar na m&atilde;o vai dar lamban&ccedil;a).
            </p>
        </div>
    </div>
</div>