
@{
    ViewBag.Title = "Avo burguer";
}

<h2>Avo burguer (pode ser vegano, vegetariano ou não, depende do recheio)</h2>

@Html.Partial("LogoView")

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/Images/Avo_burguer_400.jpg" />
            <p></p>
        </div>
        <div class="col">
            <p>
                <strong>Ingredientes:</strong><br />
                1 avocado m&eacute;dio cortado na horizontal<br />
                1 hamb&uacute;rguer de <a href="/Receitas/Hamburguer_de_feijao">feijão</a> ou de 
                <a href="/Receitas/Hamburguer_de_abobora">abóbora</a><br />
                1 fatia de tomate ou de berinjela em conserva de azeite (opcional)<br />
                1 c. sopa de <a href="/Receitas/Homus_funcional">homus</a> ou 
                <a href="/Receitas/Homus_funcional">maionese de tofu</a><br />
                1 folha de alface<br />
                1 fatia de queijo vegano ou ricota defumada ralada<br />
                Gergelim pra polvilhar o topo<br />
                Azeite e sal (se necess&aacute;rio) pra temperar<br />1 espeto longo de bambu (reutiliz&aacute;vel)
            </p>
            <br />
            <p>
                <strong>Modo de Fazer:</strong><br />
                Corte o avocado no sentido horizontal, retire a semente com cuidado<br />
                (ela costuma ficar grudada) e retire delicadamente a casca<br />
                com a ajuda de uma colher.<br />
                Corte a base do avocado pra ficar de p&eacute;.<br />
                Pra ajudar, pode colocar um pouco de homus no fundo do prato e apoiar a metade de baixo<br />
                do avocado em cima.<br />
                Colocar um pouco de maionese, o hamb&uacute;rguer de sua prefer&ecirc;ncia previamente assado<br />
                ou refogado, o queijo vegano ou a ricota defumada, a fatia de tomate ou de berinjela<br />
                em conserva, o alface e termine com um pouco de maionese ou azeite ou homus.<br />
                Passe a parte pontuda do avocado no gergelim (gruda sozinho) e coloque a &ldquo;tampa&rdquo;<br />
                pra finalizar o hamb&uacute;rguer.<br />
                Espete com o bambu pra manter o conjunto unido e coma com garfo e faca<br />
                (se tentar pegar na m&atilde;o vai dar lamban&ccedil;a).
            </p>
        </div>
    </div>
</div>