
@{
    ViewBag.Title = "Avo Garden";
}

<h2>Avo Garden</h2>

@Html.Partial("LogoView")

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/images/Avo_garden_400.jpg" />
            <p></p>
        </div>
        <div class="col">
            <p class="identDIV">
                <img src="~/Images/Icone_100_por_cento_vegana_45.jpg" title="Vegana" />&nbsp;
                <img src="~/Images/Icone_low_carb_45.jpg" title="Low Carb" />&nbsp;
                <img src="~/Images/Icone_sem_gluten_45.jpg" title="Sem glúten" />&nbsp;
                <img src="~/Images/Icone_sem_laticinios_45.jpg" title="Sem Laticínios" />&nbsp;
                <img src="~/Images/Icone_bom_para_o_coracao_45.jpg" title="Bom para o coração" />
            </p>
            <br />
            <p class="identDIV">
                <strong>Ingredientes:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 avocado m&eacute;dio
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Suco de lim&atilde;o Tahiti
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Broto de alfafa ou baby leaf (folhas baby de verduras)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;ou flores comest&iacute;veis (ex: capuchinha ou similares)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;4 c. sopa de <a href="/Receitas/Homus_funcional">homus funcional</a>
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 c. ch&aacute; de gergelim branco
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 c. ch&aacute; de gergelim preto
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 c. ch&aacute; de pimenta rosa (aroeira)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;c. ch&aacute; de c&uacute;rcuma em p&oacute;
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 c. ch&aacute; de p&aacute;prica em p&oacute; (pode ser a doce ou a apimentada)
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Opcional: 1 c. ch&aacute; de sumagre em p&oacute; (sumak)
            </p>
            <br />
            <p class="identDIV">
                <strong>Modo de Fazer:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Cortar o avocado ao meio, retirar a semente, tirar delicadamente da casca mantendo ele inteiro e temperar com sal e suco de lim&atilde;o.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Polvilhar com c&uacute;rcuma, p&aacute;prica, gergelim branco e preto, em setores separados.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Colocar no buraco da semente uma por&ccedil;&atilde;o caprichada de homus, enfeitar com pimenta rosa e broto de alfafa.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Pode ser usar tamb&eacute;m baby leaf (folhas baby de verduras) e flores comest&iacute;veis (capuchinhas e similares)
            </p>
        </div>
    </div>
</div>
