@{
    ViewBag.Title = "Bacalhau com requeijão de tofu e gengibre";
}

<h2>Bacalhau com requeijão de tofu e gengibre</h2>

@Html.Partial("LogoView")

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/images/Bacalhau_com_requeijão_de_tofu_e_gengibre_400.jpg" title="Bacalhau com requeijão de tofu e gengibre" alt="Bacalhau com requeijão de tofu e gengibre"/>
            <p></p>
        </div>
        <div class="col">
            <br />
            <p class="identDIV">
                <img src="~/Images/Icone_low_carb_45.jpg" title="Low Carb" alt="Receita low carb" />&nbsp;
                <img src="~/Images/Icone_sem_gluten_45.jpg" title="Sem glúten" alt="Receita sem glúten" />&nbsp;
                <img src="~/Images/Icone_sem_laticinios_45.jpg" title="Sem Laticínios" alt="Receita sem laticínio" />&nbsp;
                <img src="~/Images/Icone_bom_para_o_coracao_45.jpg" title="Bom para o coração" alt="Receita boa para o coração" />
            </p>
            <br />
            <p class="identDIV">
                <strong>Ingredientes:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;250g de bacalhau dessalgado, cozido e desfiado
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 fatia de tofu tipo soft (80-100g)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1-2 c. sopa de BIOMASSA
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Sal
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Or&eacute;gano
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 peda&ccedil;o de gengibre 5 cm
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;2 copa de &oacute;leo de coco
            </p>
            <br />
            <p class="identDIV">
                <strong>Modo de fazer: <br /> </strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Prepare o requeij&atilde;o de tofu batendo no liquidificador o tofu, a biomassa, o azeite e o or&eacute;gano.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Pique o gengibre em tirinhas e refogue no &oacute;leo de coco.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Adicione o bacalhau previamente dessalgado, cozido e desfiado, o requeij&atilde;o de tofu e refogue at&eacute; uniformizar a mistura.
            </p>
        </div>

    </div>
</div>
