
@{
    ViewBag.Title = "Bobó de shimeji";
}

<h2>Bobó de shimeji</h2>

@Html.Partial("LogoView")

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/Images/Bobo_de_shimeji_400.jpg" />
            <p></p>
        </div>
        <div class="col">
            <p class="identDIV">
                <img src="~/Images/Icone_100_por_cento_vegana_45.jpg" title="Vegana" />&nbsp;
                <img src="~/Images/Icone_sem_gluten_45.jpg" title="Sem glúten" />&nbsp;
                <img src="~/Images/Icone_sem_laticinios_45.jpg" title="Sem Laticínios" />&nbsp;
                <img src="~/Images/Icone_paleo_diet_45.jpg" title="Paleo Diet" />&nbsp;
            </p>
            <br />
            <p class="identDIV">
                <strong>Ingredientes:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 mandioca pequena (200g)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 bandeja de cogumelos shimeji (200g);
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 x&iacute;cara de leite de coco
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 colher (sopa) de azeite de dend&ecirc;
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;&frac14; de x&iacute;cara de cebola cortada em cubinhos (40g
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;&frac14; de x&iacute;cara de piment&atilde;o cortado em cubinhos (50g)

            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 tomate m&eacute;dio cortado em cubinhos (200g)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 colher (ch&aacute;) de sal (5g)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Salsinha ou coentro fresco a gosto, opcional
            </p>
            <br />
            <p class="identDIV">
                <strong>Modo de Fazer:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 &ndash; Descasque a mandioca e corte em peda&ccedil;os pequenos.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Coloque em uma panela e cubra com &aacute;gua.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cozinhe em fogo m&eacute;dio at&eacute; ficar macia.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;2 &ndash; Enquanto cozinha, limpe o shimeji utilizando papel-toalha ou um pano de prato &uacute;mido.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;N&atilde;o lave em &aacute;gua corrente, porque os cogumelos absorvem muita &aacute;gua e perdem o sabor.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Corte a parte inferior do talo, mais dura, e descarte.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Desfa&ccedil;a os buqu&ecirc;s de shimeji com as m&atilde;os.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Reserve.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;3 &ndash; Assim que a mandioca estiver cozida, escorra a &aacute;gua e coloque os peda&ccedil;os ainda quentes no liquidificador.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Adicione o leite de coco e bata at&eacute; obter um creme liso.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Reserve.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;4 &ndash; Em uma panela grande, aque&ccedil;a o azeite de dend&ecirc; e adicione a cebola e o piment&atilde;o.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Refogue at&eacute; que murchem.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;5 &ndash; Adicione o tomate e misture bem.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Deixe refogar por alguns minutos, at&eacute; desmanchar.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;6 &ndash; Acrescente o shimeji reservado, o creme de mandioca e o sal.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mexa bem e deixe cozinhar por cerca de 5 minutos.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;7 &ndash; Retire o bob&oacute; do fogo e sirva ainda quente, salpicando com salsinha ou coentro.
            </p>
        </div>
    </div>
</div>