@{
    ViewBag.Title = "Bolo salgado de quinoa e atum sem glúten";
}

<h2>Bolo salgado de quinoa e atum sem glúten</h2>

@Html.Partial("LogoView")

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/images/Bolo_salgado_de_quinoa_e_atum_sem_gluten_400.jpg" title="Bolo salgado de quinoa e atum sem glúten" alt="Bolo salgado de quinoa e atum sem glúten" />
            <p></p>
        </div>
        <div class="col">

            <p class="identDIV">
                <img src="~/Images/Icone_low_carb_45.jpg" title="Low Carb" alt="Receita low carb" />&nbsp;
                <img src="~/Images/Icone_sem_gluten_45.jpg" title="Sem glúten" alt="Receita sem glúten" />&nbsp;
                <img src="~/Images/Icone_sem_laticinios_45.jpg" title="Sem Laticínios" alt="Receita sem laticínio" />&nbsp;
                <img src="~/Images/Icone_bom_para_o_coracao_45.jpg" title="Bom para o coração" alt="Receita boa para o coração" />
            </p>
            <br />
            <p class="identDIV">
                <strong>Ingredientes:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 xic. ch&aacute; de quinoa
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 cebola picada
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;2 dentes de alho amassados
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 xic de alho por&oacute; picado
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 xic de br&oacute;colis
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;2 latas de atum
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;5-7 ovos batidos
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1/2 xic tomate cereja cortados
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1/2 xic leite de coco
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 xic de ricota em cubos (usei de bufala)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Sal, or&eacute;gano, cominho, pimenta.
            </p>
            <br />
            <p class="identDIV">
                <strong>Modo de fazer:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Em 1 panela refoguei parte da cebola e alho, adicionei quinoa e 1 e 1/2 xic de &aacute;gua.<br />
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Sal a gosto, cozinha at&eacute; secar a &aacute;gua.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Em outra panela refogue o restante da cebola, alho poro, tomate, atum e temperos.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Bater os ovos ligeiramente e misturar os 3 preparados.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Adicionar a ricota.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Levar ao forno a 200 graus por 30-40min.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Servir quente ou fria!!!
            </p>
        </div>

    </div>
</div>
