@{
    ViewBag.Title = "Bolo de Reis";
}

<h2>Bolo de Reis</h2>

@Html.Partial("LogoView")

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/Images/Bolo_de_Reis_400.jpg" />
            <p></p>
        </div>
        <div class="col">
            <div class="col-md-8">
                <p class="identDIV">
                    <img src="~/Images/Icone_vegetariana_45.jpg" title="Vegetariana" />&nbsp;
                    <img src="~/Images/Icone_sem_gluten_45.jpg" title="Sem glúten" />&nbsp;
                    <img src="~/Images/Icone_sem_laticinios_45.jpg" title="Sem Laticínios" />&nbsp;
                    <img src="~/Images/Icone_bom_para_o_coracao_45.jpg" title="Bom para o coração" />
                    <img src="~/Images/Icone_sem_adicao_de_acucar_45.jpg" title="Sem a adição de açúcar" />
                </p>
                <br />
                <p class="identDIV">
                    <strong>Ingredientes:</strong>
                </p>
                <br />
                <p class="identDIV">
                    &nbsp;&nbsp;&nbsp;&nbsp;5 bananas maduras<br />
                </p>
                <p class="identDIV">
                    &nbsp;&nbsp;&nbsp;&nbsp3 ovos inteiros
                </p>
                <p class="identDIV">
                    &nbsp;&nbsp;&nbsp;&nbsp;1 c. sopa de fermento em p&oacute;
                </p>
                <p class="identDIV">
                    &nbsp;&nbsp;&nbsp;&nbsp;2 c. sopa de farelo de aveia
                </p>
                <p class="identDIV">
                    &nbsp;&nbsp;&nbsp;&nbsp;&frac12; x&iacute;cara de damascos picados
                </p>
                <p class="identDIV">
                    &nbsp;&nbsp;&nbsp;&nbsp;&frac12; x&iacute;cara de uva passa
                </p>
                <p class="identDIV">
                    &nbsp;&nbsp;&nbsp;&nbsp;1 x&iacute;cara de castanhas picadas
                </p>
                <br />
                <p class="identDIV">
                    <strong>Modo de Fazer:</strong>
                </p>
                <br />
                <p class="identDIV">
                    &nbsp;&nbsp;&nbsp;&nbsp;Bater no liquidificador as bananas, ovos, fermento e farelo.
                </p>
                <p class="identDIV">
                    &nbsp;&nbsp;&nbsp;&nbsp;Adicionar delicadamente as frutas e castanhas e levar em formo m&eacute;dio (160) em forma untada por 30 minutos.
                </p>
            </div>
        </div>
</div>