
@{
    ViewBag.Title = "Bolo de coco com palatinose";
}

<h2>Bolo de coco com palatinose</h2>

@Html.Partial("LogoView")

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/images/Bolo_de_coco_com_palatinose_400.jpg" title="Bolo de coco com palatinose" alt="Bolo de coco com palatinose" />
            <p></p>
        </div>
        <div class="col">
            <div class="col">
                <p class="identDIV">
                    <img src="~/Images/Icone_vegetariana_45.jpg" title="Vegetariana" alt="Receita vegetariana" />&nbsp;
                    <img src="~/Images/Icone_sem_gluten_45.jpg" title="Sem glúten" alt="Receita sem glúten" />&nbsp;
                    <img src="~/Images/Icone_sem_laticinios_45.jpg" title="Sem Laticínios" alt="Receita sem laticínio" />&nbsp;
                </p>
                <br />
                <p class="identDIV">
                    Rende 9 por&ccedil;&otilde;es
                </p>
                <br />
                <p class="identDIV">
                    <strong>Ingredientes para a massa:</strong>
                </p>
                <br />
                <p class="identDIV">
                    &nbsp;&nbsp;&nbsp;&nbsp;2 ovos caipiras grandes
                </p>
                <p class="identDIV">
                    &nbsp;&nbsp;&nbsp;&nbsp;1 x&iacute;c. rasa f&eacute;cula de batata
                </p>
                <p class="identDIV">
                    &nbsp;&nbsp;&nbsp;&nbsp;&frac34; x&iacute;c. coco ralado fino sem a&ccedil;&uacute;car
                </p>
                <p class="identDIV">
                    &nbsp;&nbsp;&nbsp;&nbsp;4 scoops de palatinose (60g)<br />
                </p>
                <p class="identDIV">
                    &nbsp;&nbsp;&nbsp;&nbsp;50ml leite de coco light
                </p>
                <p class="identDIV">
                    &nbsp;&nbsp;&nbsp;&nbsp;1 pitada sal rosa do Himalaia<br />
                </p>
                <p class="identDIV">
                    &nbsp;&nbsp;&nbsp;&nbsp;1 c. sopa fermento para bolos
                </p>
                <br />
                <br />
                <p class="identDIV">
                    <strong>Ingredientes para a cobertura:</strong>
                </p>
                <br />
                <p class="identDIV">
                    &nbsp;&nbsp;&nbsp;&nbsp;4 scoops de palatinose
                </p>
                <p class="identDIV">
                    &nbsp;&nbsp;&nbsp;&nbsp;50ml leite sem lactose
                </p>
                <p class="identDIV">
                    &nbsp;&nbsp;&nbsp;&nbsp;100ml leite de coco light
                <p class="identDIV">
                    &nbsp;&nbsp;&nbsp;&nbsp;50g coco em flocos sem a&ccedil;&uacute;car
                </p>
                <br />
                <p class="identDIV">
                    <strong>Preparo da massa:</strong>
                </p>
                <br />
                <p class="identDIV">
                    &nbsp;&nbsp;&nbsp;&nbsp;Separar todos os ingredientes para a massa e para a cobertura
                </p>
                <p class="identDIV">
                    &nbsp;&nbsp;&nbsp;&nbsp;Passar o coco ralado em um processador para formar uma farofa mais fina.
                </p>
                <p class="identDIV">
                    &nbsp;&nbsp;&nbsp;&nbsp;Obs.: um pouco de gordura se soltar&aacute; do coco, o que far&aacute; que fique mais &uacute;mida.
                </p>
                <p class="identDIV">
                    &nbsp;&nbsp;&nbsp;&nbsp;Pr&eacute;-aquecer o forno a 150&deg;C.<br />Untar uma forma de aproximadamente 22 x 17 cm.
                </p>
                <p class="identDIV">
                    &nbsp;&nbsp;&nbsp;&nbsp;Forrar com papel manteiga apenas no sentido do comprimento, deixar as pontas pra cima da forma para facilitar a retirada do bolo ap&oacute;s assado.
                </p>
                <p class="identDIV">
                    &nbsp;&nbsp;&nbsp;&nbsp;Untar novamente.
                </p>
                <p class="identDIV">
                    &nbsp;&nbsp;&nbsp;&nbsp;Bater por 10min. em velocidade m&aacute;xima os ovos, a palatinose e a pitada de sal.
                </p>
                <p class="identDIV">
                    &nbsp;&nbsp;&nbsp;&nbsp;Formar&aacute; um creme bem espesso e clarinho.
                </p>
                <p class="identDIV">
                    &nbsp;&nbsp;&nbsp;&nbsp;Baixar para velocidade m&iacute;nima, incorporar aos poucos intercalando entre a f&eacute;cula de batata e o leite de coco.
                </p>
                <p class="identDIV">
                    &nbsp;&nbsp;&nbsp;&nbsp;Desligar a batedeira.
                </p>
                <p class="identDIV">
                    &nbsp;&nbsp;&nbsp;&nbsp;Acrescentar o coco processado, homogeneizar bem com uma colher tipo &ldquo;lambe-lambe&rdquo;.
                </p>
                <p class="identDIV">
                    &nbsp;&nbsp;&nbsp;&nbsp;Por &uacute;ltimo, colocar o fermento.
                </p>
                <p class="identDIV">
                    &nbsp;&nbsp;&nbsp;&nbsp;Misturar bem suavemente.
                </p>
                <p class="identDIV">
                    &nbsp;&nbsp;&nbsp;&nbsp;Derramar o creme de maneira uniforme na f&ocirc;rma.
                </p>
                <p class="identDIV">
                    &nbsp;&nbsp;&nbsp;&nbsp;Levar para assar por 15 a 20 min.<br />Verificar com palito o cozimento.
                </p>
                <p class="identDIV">
                    &nbsp;&nbsp;&nbsp;&nbsp;Obs.: o bolo ficar&aacute; bem clarinho por cima, por isso manter o forno &agrave; temperatura de 150&deg;C.
                </p>
                <p>Enquanto o bolo assa, fa&ccedil;a a cobertura.</p>
                <br />
                <p class="identDIV">
                    <strong>Preparo para a Cobertura:</strong>
                </p>
                <br />
                <p class="identDIV">
                    &nbsp;&nbsp;&nbsp;&nbsp;Colocar a palatinose em uma frigideira m&eacute;dia antiaderente de forma que utilize todo o seu fundo.
                </p>
                <p class="identDIV">
                    &nbsp;&nbsp;&nbsp;&nbsp;Em fogo baixo, comece derretendo-o em mais de 50%, sem mexer.
                </p>
                <p class="identDIV">
                    &nbsp;&nbsp;&nbsp;&nbsp;S&oacute; ent&atilde;o, misture bem at&eacute; que toda a palatinose derreta e forme um caramelo transl&uacute;cido. Obs.: n&atilde;o dourar.
                </p>
                <p class="identDIV">
                    &nbsp;&nbsp;&nbsp;&nbsp;Incorporar aos poucos o leite sem lactose ao caramelo, sempre mexendo at&eacute; dissolver bem.
                </p>
                <p class="identDIV">
                    &nbsp;&nbsp;&nbsp;&nbsp;Acrescentar o leite de coco, mexer vigorosamente, e quando estiver homog&ecirc;neo, acrescentar o coco em flocos.
                </p>
                <p class="identDIV">
                    &nbsp;&nbsp;&nbsp;&nbsp;Ap&oacute;s levantar fervura, ferver por cerca de 1 minuto.
                </p>
                <p class="identDIV">
                    &nbsp;&nbsp;&nbsp;&nbsp;Verifique se os flocos de coco est&atilde;o mais transl&uacute;cidos e desligue o fogo.
                </p>
                <br />
                <p class="identDIV">
                    <strong>Finaliza&ccedil;&atilde;o:</strong>
                </p>
                <br />
                &nbsp;&nbsp;&nbsp;&nbsp;Retirar o bolo da forma delicadamente, puxando pelas pontas do papel manteiga.<br />
                <p class="identDIV">
                    &nbsp;&nbsp;&nbsp;&nbsp;Colocar sobre uma t&aacute;bua e fazer muitos furinhos com aux&iacute;lio de um palito.
                </p>
                <p class="identDIV">
                    &nbsp;&nbsp;&nbsp;&nbsp;Obs.: furar at&eacute; o fundo do bolo para que a calda penetre bem.
                </p>
                <p class="identDIV">
                    &nbsp;&nbsp;&nbsp;&nbsp;Se a cobertura estiver um pouco fria, reaque&ccedil;a antes de cobrir o bolo.
                </p>
                <p class="identDIV">
                    &nbsp;&nbsp;&nbsp;&nbsp;Depois de aquecida, com aux&iacute;lio de uma colher, separar o coco da calda na frigideira.
                </p>
                <p class="identDIV">
                    &nbsp;&nbsp;&nbsp;&nbsp;Primeiramente, colocar apenas a calda sobre o bolo quente de forma que todo o bolo a absorva bem.
                </p>
                <p class="identDIV">
                    &nbsp;&nbsp;&nbsp;&nbsp;Em seguida, distribuir uniformemente o coco sobre o bolo e salpicar um pouco de coco em flocos secos.
                </p>
            </div>
        </div>
    </div>
</div>