@{
    ViewBag.Title = "Bolo nega maluca";
}

<h1>Bolo nega maluca</h1>

@Html.Partial("LogoView")
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/images/Bolo_nega_maluca_400.png"/>
            <p></p>
        </div>
        <div class="col">
            <p class="identDIV">
                <strong>Ingredientes:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;2 c. sopa de biomassa
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;2 c. sopa de cacau em p&oacute;
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;3 c. sopa de a&ccedil;&uacute;car de coco
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 c. sopa de &oacute;leo de coco
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 c. ch&aacute; de chia
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 c. ch&aacute; de polvilho doce
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 c. sopa de farinha de linha&ccedil;a marrom
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;2 c. sopa de farinha de arroz
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 c. ch&aacute; de fermento
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 c. ch&aacute; de canela
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;60 ml de leite de coco
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;60 ml de &aacute;gua
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Pitadinha de sal
            </p>
            <br />
            <p class="identDIV">
                <strong>Modo de fazer:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Misturar todos os ingredientes e levar ao forno pr&eacute;-aquecido<br />
            </p>
            <br />
            <p class="identDIV">
                <strong>Cobertura:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Mexer no fogo 10 c. sopa de leite de coco + 2 c. sopa de cacau + 2 c. sopa de a&ccedil;&uacute;car de coco + 1 c. sopa de &oacute;leo de coco at&eacute; engrossar e fazer bolhas grandes, depois adicione 2 c. sopa de biomassa.
            </p>
        </div>

    </div>
</div>
