@{
    ViewBag.Title = "Bolo de cacau e aveia";
}

<h2>Bolo de cacau e aveia</h2>

@Html.Partial("LogoView")

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/images/Bolo_de_cacau_e_aveia_400.jpg" />
            <p></p>
        </div>
        <div class="col-md-8">
            <p class="identDIV">
                <strong>Ingredientes:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;4 ovos
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;&frac12; a 1 xic de a&ccedil;&uacute;car de coco (ou mascavo ou demerara etc.)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;&frac12; xic de &oacute;leo de coco
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 xic de <a href="#achocolatado">achocolatado caseiro</a>
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;&frac12; xic de leite de castanhas
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;2 xic de aveia em flocos finos
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 c. sopa de fermento qu&iacute;mico
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Pitada de bicarbonato de s&oacute;dio
            </p>
            <br />
            <p class="identDIV">
                <strong>Modo de fazer:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Bater ovos e a&ccedil;&uacute;car com a batedeira at&eacute; ficar bem fofinho.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Acrescente os demais ingredientes um a um, bata bem e deixe por &uacute;ltimo o fermento.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Levar ao forno pr&eacute;-aquecido a 200 graus por 20 minutos se usar forminha individual.
            </p>
            <br />
            <p class="identDIV" id="achocolatado">
                <strong>Achocolatado caseiro:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 x&iacute;cara de cacau em p&oacute; + &frac12; x&iacute;cara de a&ccedil;&uacute;car de coco
            </p>
        </div>

    </div>
</div>
