@{
    ViewBag.Title = "Borek turco";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-6"><h2>@ViewBag.Title</h2></div>
        <div class="col-sm-6">
            <a href="/Receitas/Borek_turco_video">Veja em vídeo <img src="~/Images/icone_video.png" width="50px" /></a>
        </div>
    </div>
</div>
<hr />

@Html.Partial("LogoView")
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/Images/Borek_turco_400.jpg" title="Borek turco" alt="Borek turco" />
            <p></p>
        </div>
        <div class="col">
            <p class="identDIV">
                <img src="~/Images/Icone_vegetariana_45.jpg" title="Vegetariana" alt="Vegetariana" />&nbsp;
            </p>
            <br />
            <p class="identDIV">
                <strong>Ingredientes:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;90g de ricota esmagada (ou queijo feta)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;70g de ricota defumada e temperada (ou queijo feta)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;400g de espinafre congelado (1 pc.te)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;2 dentes de alho picados
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;&frac12; xic. de ch&aacute; de nozes picadas
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;300g de massa fil&oacute; pronta descongelada (1 pc.te)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Azeite, quanto baste
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Noz moscada, quanto baste
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Sal e pimenta preta a gosto
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 ovo batido para pincelar
            </p>
            <br />
            <p class="identDIV">
                <strong>Modo de preparo:</strong>
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Pr&eacute;-aque&ccedil;a o forno a 200 graus e descongele a massa fil&oacute;.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Enquanto isso refogue no azeite o espinafre descongelado, previamente espremido e picado, com alho, noz moscada e sal.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Esmague e misture as ricotas, as nozes picadas e o espinafre com a m&atilde;o, at&eacute; obter um composto homog&ecirc;neo.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Divida a massa fil&oacute; em 3 partes iguais.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Pincele uma travessa para forno com azeite e deite a 1&ordf; camada de massa fil&oacute; para cobrir o fundo.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Adicione metade do recheio e cubra com uma camada intermedi&aacute;ria de massa fil&oacute;.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Coloque a 2&ordf; camada de recheio e tampe com a 3&ordf; parte da massa fil&oacute;.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Pincele com azeite e ovo batido e leve ao forno por 30 minutos.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Pode ser consumida quente, morna ou fria.
            </p>
        </div>
    </div>
</div>

