@{
    ViewBag.Title = "Browne de abobora";
}

<h2>Browne de abobora</h2>

@Html.Partial("LogoView")

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/images/Brownie_de_abobora_400.jpg" />
            <p></p>
        </div>
        <div class="col">
            <p class="identDIV">
                <img src="~/Images/Icone_vegetariana_45.jpg" title="Vegetariana" />&nbsp;
                <img src="~/Images/Icone_low_carb_45.jpg" title="Low Carb" />&nbsp;
                <img src="~/Images/Icone_sem_gluten_45.jpg" title="Sem glúten" />&nbsp;
                <img src="~/Images/Icone_sem_laticinios_45.jpg" title="Sem Laticínios" />&nbsp;
                <img src="~/Images/Icone_paleo_diet_45.jpg" title="Paleo Diet" />&nbsp;
                <img src="~/Images/Icone_sem_adicao_de_acucar_45.jpg" title="Sem a adição de açúcar" />
            </p>
            <br />
            <p class="identDIV">
                <strong>Ingredientes:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 e &frac12; x&iacute;cara de pur&ecirc; de abobora firme
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;&frac12; xic. de farinha de am&ecirc;ndoas
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;&frac12; xic. de &oacute;leo de coco
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;&frac12; x&iacute;c. de cacau em p&oacute;
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 c. sopa de vinagre
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 ovo
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;&frac12; x&iacute;c. de ch&aacute; de xilitol ou maltitol
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 c. sopa de extrato de baunilha
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;&frac12; x&iacute;c. de nozes quebradas
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 c. ch&aacute; de bicarbonato de s&oacute;dio
            </p>
            <br />
            <p class="identDIV">
                <strong>Modo de Fazer:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Fazer um pur&ecirc; firme de ab&oacute;bora e preenches 1 e &frac12; x&iacute;cara de ch&aacute;.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;No processador junte essa medida com a farinha de am&ecirc;ndoas,
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;o &oacute;leo de coco, o ovo, o ado&ccedil;ante, o extrato de baunilha e a pitada de sal.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Processe at&eacute; obter uma mistura homog&ecirc;nea.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Acrescente o cacau e o bicarbonato, processe novamente e ent&atilde;o adicione as nozes picadas.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Processe at&eacute; que tudo se misture e, em seguida, despeje a massa em uma forma forrada com papel manteiga ou em forminhas individuais de silicone.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Aqui pode variar a altura do browne, ele n&atilde;o vai crescer muito.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Asse em forno preaquecido a 160&ordm; por 40 a 50 minutos.
            </p>
        </div>
    </div>
</div>