
@{
    ViewBag.Title = "Ceviche de polpa de coco verde (vegano)";
}

<h2>Ceviche de polpa de coco verde (vegano)</h2>

@Html.Partial("LogoView")

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/Images/Ceviche_de_polpa_de_coco_verde_vegano_400.jpg" />
            <p></p>
        </div>
        <div class="col">
            <p>
                <strong>Ingredientes:</strong><br />
                Polpa de 2 cocos verdes cortadas em tiras<br />
                8 tomates sweet grape cortados em 4<br />
                &frac12; cebola roxa m&eacute;dia cortada em fatias bem finas<br />
                2 c. sopa de salsinha picada<br />
                Suco de 1 lim&atilde;o Tahiti<br />
                Sal a gosto<br />
                Pimenta do reino a gosto<br />
                Azeite a gosto
            </p>
            <br />
            <p>
                <strong>Modo de Fazer:</strong><br />
                Misture todos os ingredientes em um bowl, tempere com sal,<br />
                lim&atilde;o e azeite e sirva imediatamente.
            </p>
            <br />
            <p>
                <strong>Rende</strong>
                4 por&ccedil;&otilde;es para entrada ou 2 por&ccedil;&otilde;es como prato principal.
            </p>
        </div>
    </div>
</div>