
@{
    ViewBag.Title = "Chá pré-treino (solução concentrada de fenólicos que auxiliam a vasodilatação e rendimento no exercício)";
}

<h2>Chá pré-treino (solução concentrada de fenólicos que auxiliam a vasodilatação e rendimento no exercício)</h2>

@Html.Partial("LogoView")
<div class="container">
    <div class="row">
        <div class="col">
            <p>
                <strong>Ingredientes:</strong><br />
                300 ml de &aacute;gua fervendo<br />
                1 canela em pau<br />
                1 c. sopa de gengibre<br />
                1 c. sobremesa de mistura de cravo e nibs de cacau
            </p>
            <br />
            <p>
                <strong>Modo de Fazer:</strong><br />
                Ferver a &aacute;gua por 5 minutos com a canela, cravo e nibs.<br />
                Desligar o fogo e adicionar 1 c. sopa de gengibre ralado e abafar por 10 minutos.
            </p>
        </div>
    </div>
</div>