
@{
    ViewBag.Title = "Chá pré-treino (solução concentrada de fenólicos que auxiliam a vasodilatação e rendimento no exercício)";
}

<h2>Chá pré-treino (solução concentrada de fenólicos que auxiliam a vasodilatação e rendimento no exercício)</h2>

@Html.Partial("LogoView")
<div class="container">
    <div class="row">
        <div class="col">
            <p class="identDIV">
                <img src="~/Images/Icone_100_por_cento_vegana_45.jpg" title="Vegana" />&nbsp;
                <img src="~/Images/Icone_low_carb_45.jpg" title="Low Carb" />&nbsp;
                <img src="~/Images/Icone_sem_gluten_45.jpg" title="Sem glúten" />&nbsp;
                <img src="~/Images/Icone_sem_laticinios_45.jpg" title="Sem Laticínios" />&nbsp;
                <img src="~/Images/Icone_paleo_diet_45.jpg" title="Paleo Diet" />&nbsp;
                <img src="~/Images/Icone_bom_para_o_coracao_45.jpg" title="Bom para o coração" />&nbsp;
            </p>
            <br />
            <p class="identDIV">
                <strong>Ingredientes:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;300 ml de &aacute;gua fervendo<br />
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 canela em pau
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 c. sopa de gengibre
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 c. sobremesa de mistura de cravo e nibs de cacau
            </p>
            <br />
            <p class="identDIV">
                <strong>Modo de Fazer:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Ferver a &aacute;gua por 5 minutos com a canela, cravo e nibs.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Desligar o fogo e adicionar 1 c. sopa de gengibre ralado e abafar por 10 minutos.
            </p>
        </div>
    </div>
</div>