
@{
    ViewBag.Title = "Chás e shots moduladores de inflamação";
}

<h2>Chás e shots moduladores de inflamação</h2>

@Html.Partial("LogoView")
<div class="container">
    <div class="row">
        <div class="col">
            <p>
                <strong>Shot antioxidante:<br /></strong>
                Suco de &frac12; lim&atilde;o ou 1 c. sopa de vinagre de ma&ccedil;&atilde;<br />
                &frac12; c. caf&eacute; de c&uacute;rcuma ou moringa<br />
                1 c. caf&eacute; de gengibre ralado
            </p>
            <br />
            <p>
                Misturar e tomar pela manh&atilde;
            </p>
            <br />
            <br />
            <p>
                <strong>Ch&aacute; antioxidante:</strong><br />
                Ch&aacute; de gengibre ou moringa ou canela ou erva Tulsi<br />
                1 c. caf&eacute; de cacau em p&oacute;
            </p>
            <br />
            <p>
                Misturar e tomar pela manh&atilde;
            </p>
        </div>
    </div>
</div>