
@{
    ViewBag.Title = "Chocofrutas & choconuts do céu";
}

<h2>Chocofrutas & choconuts do céu</h2>

@Html.Partial("LogoView")

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/Images/Chocofrutas_e_choconuts_do_céu_1_400.jpg" />
            <p></p>
            <img class="img-responsive" src="~/Images/Chocofrutas_e_choconuts_do_céu_2_400.jpg" />
            <p></p>
        </div>
        <div class="col">
            <p class="identDIV">
                <img src="~/Images/Icone_vegetariana_45.jpg" title="Vegetariana" />&nbsp;
                <img src="~/Images/Icone_low_carb_45.jpg" title="Low Carb" />&nbsp;
                <img src="~/Images/Icone_sem_gluten_45.jpg" title="Sem glúten" />&nbsp;
                <img src="~/Images/Icone_bom_para_o_coracao_45.jpg" title="Bom para o coração" />&nbsp;
                <img src="~/Images/Icone_sem_adicao_de_acucar_45.jpg" title="Sem a adição de açúcar" />
            </p>
            <br />
            <p class="identDIV">
                <strong>Ingredientes:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 embalagem de morangos gra&uacute;dos, org&acirc;nicos &eacute; melhor (depende da &eacute;poca)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;5-10 damascos gra&uacute;dos (quanto quiser)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Manga em peda&ccedil;os (opcional, se bem madura)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Banana em rodelas (opcional)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 xicara de castanhas de caju ou am&ecirc;ndoas ou nozes (inteiras)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;50 g de chocolate com m&iacute;nimo 70% de cacau (1/2 barra)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1-2 c. sopa de &oacute;leo de coco desodorizado
            </p>
            <br />
            <p class="identDIV">
                <strong>Material adicional:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Assadeira
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Papel manteiga
            </p>
            <br />
            <p class="identDIV">
                <strong>Como fazer:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Prepare as frutas lavando e/ou cortando os peda&ccedil;os.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Cuidado especial com a banana, ma&ccedil;&atilde; ou p&ecirc;ra pois elas escurecem devem ser cortada na hora.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Derreta em banho-maria o chocolate picado e o oleo de coco.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Misture bem.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Pode usar o microondas, embora menos saud&aacute;vel.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Verifique a consist&ecirc;ncia e mexa a cada 30 segundos, usando a potencia maxima.
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Passe cada fruta na mistura de chocolate derretido e apoie delicadamente no papel manteiga.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Repita isso para cada fruta.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;No final pode misturar as castanhas e fazer por&ccedil;&otilde;es de castanhas com chocolate usando a colher.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Leve &agrave; geladeira por 1 hora ou deixe at&eacute; a hora de servir.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Monte um prato bonito com todas as frutas e castanhas, para serem degustadas &ldquo;na m&atilde;o&rdquo;.
            </p>
        </div>
    </div>
</div>