
@{
    ViewBag.Title = "Chocofrutas & choconuts do céu";
}

<h2>Chocofrutas & choconuts do céu</h2>

@Html.Partial("LogoView")

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/Images/Chocofrutas_e_choconuts_do_céu_1_400.jpg" />
            <p></p>
            <img class="img-responsive" src="~/Images/Chocofrutas_e_choconuts_do_céu_2_400.jpg" />
            <p></p>
        </div>
        <div class="col">
            <p>
                <strong>Ingredientes:</strong><br />
                1 embalagem de morangos gra&uacute;dos, org&acirc;nicos &eacute; melhor (depende da &eacute;poca)<br />
                5-10 damascos gra&uacute;dos (quanto quiser)<br />
                Manga em peda&ccedil;os (opcional, se bem madura)<br />
                Banana em rodelas (opcional)<br />
                1 xicara de castanhas de caju ou am&ecirc;ndoas ou nozes (inteiras)<br />
                50 g de chocolate com m&iacute;nimo 70% de cacau (1/2 barra)<br />
                1-2 c. sopa de &oacute;leo de coco desodorizado
            </p>
            <br />
            <p>
                <strong>Material adicional:</strong><br />
                Assadeira<br />
                Papel manteiga
            </p>
            <br />
            <p>
                <strong>Como fazer:</strong>
                <br />Prepare as frutas lavando e/ou cortando os peda&ccedil;os.<br />
                Cuidado especial com a banana, ma&ccedil;&atilde; ou p&ecirc;ra pois elas escurecem<br />
                e devem ser cortada na hora.
            </p>
            <br />
            <p>
                Derreta em banho-maria o chocolate picado e o oleo de coco. Misture bem. <br />
                Pode usar o microondas, embora menos saud&aacute;vel.<br />
                Verifique a consist&ecirc;ncia e mexa a cada 30 segundos, usando a potencia maxima.
            </p>
            <br />
            <p>
                Passe cada fruta na mistura de chocolate derretido e apoie delicadamente no papel manteiga.<br />
                Repita isso para cada fruta.<br />
                No final pode misturar as castanhas e fazer por&ccedil;&otilde;es de castanhas com chocolate<br />
                usando a colher.<br />
                Leve &agrave; geladeira por 1 hora ou deixe at&eacute; a hora de servir.<br />
                Monte um prato bonito com todas as frutas e castanhas, para serem degustadas &ldquo;na m&atilde;o&rdquo;.
            </p>
        </div>
    </div>
</div>