@{
    ViewBag.Title = "Cloud bread";
}

<h2>Cloud bread</h2>

@Html.Partial("LogoView")

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/images/cloud-bread_400.jpg" />
            <p></p>
        </div>
        <div class="col">
            <p class="identDIV">
                <img src="~/Images/Icone_vegetariana_45.jpg" title="Vegetariana" />&nbsp;
                <img src="~/Images/Icone_low_carb_45.jpg" title="Low Carb" />&nbsp;
                <img src="~/Images/Icone_sem_gluten_45.jpg" title="Sem glúten" />&nbsp;
            </p>
            <br />
            <p class="identDIV">
                <strong>1&ordf; receita:</strong>
            </p>
            <br />
            <p class="identDIV">
                <strong>Ingredientes:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;3 ovos
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;60g queijo cottage
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;&frac14; de colher de fermento qu&iacute;mico em p&oacute;
            </p>
            <br />
            <p class="identDIV">
                <strong>Modo de Fazer:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Separe claras e gemas.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Bater as gemas na batedera com o queijo morno at&eacute; obter uma massa lisa.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Bata as claras em neve com o fermento.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Com uma espatula misture os dois ingredientes incorporando as claras com cuidado
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;&agrave; massa.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Forre assadeira com papel manteiga e disponha as por&ccedil;&otilde;es de massa fazendo curculos pequenos.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Asse em forno preaquecido a 150 graus, por 15 a 20 min.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Pode guardar para o dia seguinte.
            </p>
            <br />
            <hr />
            <p class="identDIV">
                <strong>2&ordf; receita:</strong>
            </p>
            <br />
            <p class="identDIV">
                <strong>Ingredientes:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;2 ovos
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;50g cream cheese
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1/8 de c.ch&aacute; de cremor t&aacute;rtaro
            </p>
            <br />
            <p class="identDIV">
                <strong>Modo de Fazer:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Preaque&ccedil;a o forno a 180 graus.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Bater claras em neve com o cremor t&aacute;rtaro.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Misture gemas com cream cheese at&eacute; formar creme amarelo homogeneo.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Cuidadosamente, envola a mistura de gema com as claras em neve batidas sem mexer muito.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Unte assadeira, coloque colheradas da massa formando circulos, do tamanho que desejar.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Asse at&eacute; dourar, por 30 minutos.
            </p>
            <br />
            <hr />
            <p class="identDIV">
                <strong>3&ordf; receita:</strong>
            </p>
            <br />
            <p class="identDIV">
                <strong>Ingredientes:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;2 claras <br />2 gemas
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;2 c.sopa de crem cheese
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;&frac14; de colher de ch&aacute; de fermento qu&iacute;mico em p&oacute;
            </p>
            <br />
            <p class="identDIV">
                <strong>Modo de Fazer:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Preaque&ccedil;a o forno a 150 graus.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Forre assadeira com papel manteiga e reserve.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Aque&ccedil;a o crean cheese por 30 seg no microondas (ou at&eacute; amolecer).
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Deixe esfriar por 5 min e misture com as gemas at&eacute; ficar homog&ecirc;neo.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Bata as claras em neve com o fermento.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Cuidadosamente, envola a mistura de gema com as claras em neve batidas sem mexer muito.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Despeje colheradas da massa formando circulos, do tamanho que desejar, achatando com as costas de cada colher pra formar cada p&atilde;ozinho.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Asse at&eacute; dourar, por 20 minutos.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Espere esfriar.
            </p>
            <br />
            <hr />
            <p class="identDIV">
                <strong>4&ordf; receita:</strong>
            </p>
            <br />
            <p class="identDIV">
                <strong>Ingredientes:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;3 ovos
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;4 c.sopa de ricota
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;&frac14; de colher de caf&eacute; de bicarbonato de s&oacute;dio
            </p>
            <br />
            <p class="identDIV">
                <strong>Modo de Fazer:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Forre assadeira com papel manteiga e reserve.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Preaque&ccedil;a o forno a 180 graus. Bata as claras em neve.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Misture as gemas com a ricota e o bicarbonato at&eacute; dissolver.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Misture as claras em neve com cuidado apenas pra incorporar, isso far&aacute; com que o p&atilde;o fique macio.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Despeje colheradas da massa formando circulos, do tamanho que desejar, achatando com as costas de cada colher pra formar cada p&atilde;ozinho.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Asse at&eacute; dourar, por 20-25 minutos.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Espere esfriar.
            </p>
        </div>
    </div>
</div>