
@{
    ViewBag.Title = "Cookies com gotas de chocolate (Keto/low-carb)";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@Html.Partial("LogoView")
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/Images/Cookies_com_gotas_de_chocolate_Keto_low_carb.jpg" title="Cookies com gotas de chocolate (Keto/low-carb)" alt="Cookies com gotas de chocolate (Keto/low-carb)" />
            <p></p>
        </div>
        <div class="col">
            <p class="identDIV">
                <img src="~/Images/Icone_vegetariana_45.jpg" title="Vegetariana" alt="Vegetariana" />&nbsp;
                <img src="~/Images/Icone_low_carb_45.jpg" title="Low Carb" alt="Receita low carb" />&nbsp;
                <img src="~/Images/Icone_sem_gluten_45.jpg" title="Sem glúten" alt="Receita sem glúten" />&nbsp;
                <img src="~/Images/Icone_sem_laticinios_45.jpg" title="Sem Laticínios" alt="Sem Laticínios" />&nbsp;
                <img src="~/Images/Icone_dieta_cetogenica_45.jpg" title="Dieta cetogênica" alt="Dieta cetogênica" />&nbsp;
            </p>
            <br />
            <p class="identDIV">
                <strong>Ingredientes (12 por&ccedil;&otilde;es):</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;200 g de farinha de am&ecirc;ndoa
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;85 g de manteiga
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;65 g de eritritol (ou xilitol)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;&frac12; colher de ch&aacute; de goma xantana
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;&frac12; colher de ch&aacute; de fermento em p&oacute;
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 pitada de extrato de baunilha
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;70 g de peda&ccedil;os de chocolate sem a&ccedil;&uacute;car
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 ovo
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 pitada de sal
            </p>
            <br />
            <p class="identDIV">
                <strong>Modo de preparo:</strong>
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Pr&eacute;-aque&ccedil;a o forno a 180&deg; C.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Derreta a manteiga no micro-ondas por 30 segundos.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Coloque a manteiga em uma tigela e bata com o eritritol.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Adicione a baunilha e o ovo.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Misture at&eacute; que a massa esteja uniforme.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Adicione farinha de am&ecirc;ndoa, goma xantana, fermento em p&oacute; e sal.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Misture bem.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Pressione a massa e remova-a da tigela.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Combine peda&ccedil;os de chocolate e massa com as m&atilde;os.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Enrole a massa para formar 12 bolas e coloque-as em uma assadeira com papel manteiga.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Asse por 5 minutos e remova a bandeja para pressionar delicadamente os biscoitos com uma esp&aacute;tula.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Asse por mais 5 minutos ou at&eacute; a base ficar dourada.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Deixe esfriar e sirva.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;DICA: Se voc&ecirc; n&atilde;o encontrar os chips sem a&ccedil;&uacute;car, poder&aacute; substitu&iacute;-lo por chocolate amargo em pedacinhos.
            </p>
        </div>
    </div>
</div>