@{
    ViewBag.Title = "Coscous de couve-flor";
}

<h2>Coscous de couve-flor</h2>

@Html.Partial("LogoView")

<div class="container">
    <div class="row">
         <div class="col-md-4">
            <img class="img-responsive" src="~/images/Coscous_couve_flor_400.jpg" title="Coscous de couve-flor" alt="Coscous de couve-flor" />
            <p></p>
        </div>
         <div class="col">
             <p class="identDIV">
                 <img src="~/Images/Icone_100_por_cento_vegana_45.jpg" title="Vegana" alt="Receita 100% vegana" />&nbsp;
                 <img src="~/Images/Icone_low_carb_45.jpg" title="Low Carb" alt="Receita low carb" />&nbsp;
                 <img src="~/Images/Icone_sem_gluten_45.jpg" title="Sem glúten" alt="Receita sem glúten" />&nbsp;
                 <img src="~/Images/Icone_sem_laticinios_45.jpg" title="Sem Laticínios" alt="Receita sem laticínio" />&nbsp;
                 <img src="~/Images/Icone_bom_para_o_coracao_45.jpg" title="Bom para o coração" alt="Receita boa para o coração" />&nbsp;
             </p>
             <br />
             <p class="identDIV">
                 <strong>Ingredientes:</strong>
             </p>
             <br />
             <p class="identDIV">
                 &nbsp;&nbsp;&nbsp;&nbsp;1 xic. de couve-flor picada com processador
             </p>
             <p class="identDIV">
                 &nbsp;&nbsp;&nbsp;&nbsp;1 dente de alho
             </p>
             <p class="identDIV">
                 &nbsp;&nbsp;&nbsp;&nbsp;1/2 cebola pequena picada
             </p>
             <p class="identDIV">
                 &nbsp;&nbsp;&nbsp;&nbsp;Fio de azeite
             </p>
             <p class="identDIV">
                 &nbsp;&nbsp;&nbsp;&nbsp;2 col. sopa de cenoura picada em cubos
             </p>
             <p class="identDIV">
                 &nbsp;&nbsp;&nbsp;&nbsp;1 col. sopa milho verde (congelado)
             </p>
             <p class="identDIV">
                 &nbsp;&nbsp;&nbsp;&nbsp;1 col. sopa ervilha (congelado)
             </p>
             <p class="identDIV">
                 &nbsp;&nbsp;&nbsp;&nbsp;Pitada de cúrcuma
             </p>
             <p class="identDIV">
                 &nbsp;&nbsp;&nbsp;&nbsp;Sal e pimenta do reino a gosto
             </p>
             <p class="identDIV">
                 &nbsp;&nbsp;&nbsp;&nbsp;Salsinha picada para finalizar
             </p>
             <p class="identDIV">
                 &nbsp;&nbsp;&nbsp;&nbsp;Água (o necessário)
             </p>
             <br />
             <p class="identDIV">
                 <strong>Modo de Fazer: </strong>
             </p>
             <br />
             <p class="identDIV">
                 &nbsp;&nbsp;&nbsp;&nbsp;Refogue a cebola e alho no azeite até ficarem transparentes.
             </p>
             <p class="identDIV">
                 &nbsp;&nbsp;&nbsp;&nbsp;Acrescente a couve-flor e refogue bem.
             </p>
             <p class="identDIV">
                 &nbsp;&nbsp;&nbsp;&nbsp;Acrescente a cenoura e jogue UM  POUQUINHO de água.
             </p>
             <p class="identDIV">
                 &nbsp;&nbsp;&nbsp;&nbsp;Deixe a água evaporar.
             </p>
             <p class="identDIV">
                 &nbsp;&nbsp;&nbsp;&nbsp;Tempere com o sal, pimenta e  cúrcuma, acrescente mais água caso seja necessário e espere o líquido secar.
             </p>
             <p class="identDIV">
                 &nbsp;&nbsp;&nbsp;&nbsp;Coloque  ervilha, milho e finalize com a salsinha.
             </p>
         </div>
    </div>
</div>
