@{
    ViewBag.Title = "Crocante de sementes sem glútem";
}

<h2>Crocante de sementes sem glúten</h2>

@Html.Partial("LogoView")

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/images/crocante_de_sementes_400.jpg" title="Crocante de sementes sem glúten" alt="Crocante de sementes sem glúten" />
            <p></p>
        </div>
        <div class="col">
            <p class="identDIV">
                <img src="~/Images/Icone_100_por_cento_vegana_45.jpg" title="Vegana" alt="Receita 100% vegana" />&nbsp;
                <img src="~/Images/Icone_low_carb_45.jpg" title="Low Carb" alt="Receita low carb" />&nbsp;
                <img src="~/Images/Icone_sem_gluten_45.jpg" title="Sem glúten" alt="Receita sem glúten" />&nbsp;
                <img src="~/Images/Icone_sem_laticinios_45.jpg" title="Sem Laticínios" alt="Receita sem laticínios" />&nbsp;
                <img src="~/Images/Icone_paleo_diet_45.jpg" title="Paleo Diet" alt="Receita paleo diet" />&nbsp;
                <img src="~/Images/Icone_bom_para_o_coracao_45.jpg" title="Bom para o coração" alt="Receita boa para o coração" />&nbsp;
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Crocantes de sementes &ndash; Salgadinho sem gl&uacute;ten
            </p>
            <br />
            <p class="identDIV">
                <strong>Ingredientes:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;2 cs de chia
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;2 cs de gergelim branco com casca
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;2 cs de farinha de linha&ccedil;a dourada
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;2 cs de semente de girassol ou abobora
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;2 cs de Nutritional Yeast sabor provolone ou sal
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Temperos secos a seu gosto
            </p>
            <br />
            <div class="col-sm visible-sd-block">
                <br />
                <br />
                <br />
            </div>
            <p class="identDIV">
                <strong>Processar as sementes</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Adicionar:
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;2 cs de &aacute;gua
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;2 cs de azeite extra-virgem
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Misturar tudo at&eacute; obter uma massa male&aacute;vel.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Numa forma untada, abrir a massa deixando a espessura de &frac12; cm.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Levar ao forno 160-180 graus por 10 minutos.
            </p>
        </div>
    </div>
</div>
