
@{
    ViewBag.Title = "Croutons ou petisco de grão de bico";
}

<h2>Croutons ou petisco de grão de bico</h2>

@Html.Partial("LogoView")
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/Images/crouton_grao_de_bico_400.jpg" />
            <p></p>
        </div>
        <div class="col">
            <p>
                <strong>Ingredientes:</strong><br />
                1 x&iacute;cara de ch&aacute; de gr&atilde;o de bico deixado de molho por 12 horas e cozido<br />
                Sal rosa, pimenta e temperos secos a gosto
            </p>
            <br />
            <p>
                <strong>Modo de Fazer:</strong><br />
                Em uma assadeira espalhe o gr&atilde;o de bico ate formar apenas 1 camada, tempere com sal,<br />
                pimenta e as ervas preferidas e leve ao forno pr&eacute;-aquecido a 250 graus, por 10-15 minutos ou<br />
                at&eacute; ficar crocante por fora, macio por dentro.<br />
                Observa&ccedil;&atilde;o: Fa&ccedil;a a por&ccedil;&atilde;o a ser consumida.<br />
                Se deixar na geladeira e requentar perde a caracter&iacute;stica crocante.
            </p>
        </div>
    </div>
</div>
