
@{
    ViewBag.Title = "Croutons ou petisco de grão de bico";
}

<h2>Croutons ou petisco de grão de bico</h2>

@Html.Partial("LogoView")
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/Images/crouton_grao_de_bico_400.jpg" title="Croutons ou petisco de grão de bico" alt="Croutons ou petisco de grão de bico" />
            <p></p>
        </div>
        <div class="col">
            <p class="identDIV">
                <img src="~/Images/Icone_100_por_cento_vegana_45.jpg" title="Vegana" alt="Receita 100% vegana" />&nbsp;
                <img src="~/Images/Icone_low_carb_45.jpg" title="Low Carb" alt="Receita low carb" />&nbsp;
                <img src="~/Images/Icone_sem_gluten_45.jpg" title="Sem glúten" alt="Receita sem glúten" />&nbsp;
                <img src="~/Images/Icone_sem_laticinios_45.jpg" title="Sem Laticínios" alt="Receita sem laticínio" />&nbsp;
                <img src="~/Images/Icone_bom_para_o_coracao_45.jpg" title="Bom para o coração" alt="Receita boa para o coração" />
            </p>
            <br />
            <p class="identDIV">
                <strong>Ingredientes:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 x&iacute;cara de ch&aacute; de gr&atilde;o de bico deixado de molho por 12 horas e cozido
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Sal rosa, pimenta e temperos secos a gosto
            </p>
            <br />
            <p class="identDIV">
                <strong>Modo de Fazer:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Em uma assadeira espalhe o gr&atilde;o de bico ate formar apenas 1 camada, tempere com sal, pimenta e as ervas preferidas e leve ao forno pr&eacute;-aquecido a 250 graus, por 10-15 minutos ou at&eacute; ficar crocante por fora, macio por dentro.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Observa&ccedil;&atilde;o: Fa&ccedil;a a por&ccedil;&atilde;o a ser consumida.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Se deixar na geladeira e requentar perde a caracter&iacute;stica crocante.
            </p>
        </div>
    </div>
</div>
