@{
    ViewBag.Title = "Crumble low carb com legumes";
}

<h2>Crumble low carb com legumes</h2>

@Html.Partial("LogoView")

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/images/Crumble_low_carb_com_legumes_400.jpg" title="Crumble low carb com legumes" alt="Crumble low carb com legumes" />
            <p></p>
        </div>
        <div class="col">
            <p class="identDIV">
                <img src="~/Images/Icone_vegetariana_45.jpg" title="Vegetariana" alt="Receita vegetariana" />&nbsp;
                <img src="~/Images/Icone_low_carb_45.jpg" title="Low Carb" alt="Receita low carb" />&nbsp;
                <img src="~/Images/Icone_sem_gluten_45.jpg" title="Sem glúten" alt="Receita sem glúten" />&nbsp;
                <img src="~/Images/Icone_bom_para_o_coracao_45.jpg" title="Bom para o coração" alt="Receita boa para o coração" />&nbsp;
            </p>
            <br />
            <p class="identDIV">
                <strong>Legumes com crumble low carb</strong>
            </p>
            <br />
            <p class="identDIV">
                <strong>Recheio</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 xicara de espinafre cozido e espremido (mesma quantidade de berinjela ou abobrinha)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Azeite, Cebola e alho para refogar o legume.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Um pouco de suco de lim&atilde;o e temperos a gosto (noz moscada ou cominho)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Castanhas picadas a gosto + 2 c.sopa de cream cheese light
            </p>
            <br />
            <p class="identDIV">
                <strong>Crumble low carb</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;25g de manteiga ghee ou &oacute;leo de coco desodorizado
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;25g de farinha de gr&atilde;o de bico
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;25g de farinha de semente de abobora (pode ser de girassol)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;25g de farinha de linha&ccedil;a dourada (pode usar outra fibra como o Psylium, farelo de aveia)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Sal e temperos a gosto (usei o lemon pepper - Bombay)
            </p>
            <br />
            <div class="col-sm visible-sd-block">
                <br />
                <br />
            </div>
            <p class="identDIV">
                <strong>Mode de fazer</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Misturar todos os ingredientes at&eacute; fazer uma farofa que esfarela.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Refogar o legume e colocar numa travessa para o forno.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Salpicar as castanhas e o cream cheese (espalhado como bolinhas).
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Cobrir com o Crumble low carb e levar ao forno quente 200 graus) por 10-15 minutos at&eacute; dourar o crumble.
            </p>
        </div>

    </div>
</div>
