
@{
    ViewBag.Title = "Dahl de grão de bico (sopa indiana com especiarias)";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>Dahl de grão de bico (sopa indiana com especiarias)</h2>

@Html.Partial("LogoView")
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/Images/Dahl_de_grao_de_bico_400.jpg" title="Dahl de grão de bico" alt="Dahl de grão de bico" />
            <p></p>
        </div>
        <div class="col">
            <p class="identDIV">
                <img src="~/Images/Icone_100_por_cento_vegana_45.jpg" title="Vegana" alt="Vegana" />&nbsp;
                <img src="~/Images/Icone_sem_gluten_45.jpg" title="Sem glúten" alt="Receita sem glúten" />&nbsp;
                <img src="~/Images/Icone_sem_laticinios_45.jpg" title="Sem Laticínios" alt="Sem Laticínios" />&nbsp;
                <img src="~/Images/Icone_bom_para_o_coracao_45.jpg" title="Bom para o coração" alt="Bom para o coração" />&nbsp;
            </p>
            <br />
            <p class="identDIV">
                <strong>Ingredientes:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 colher de sopa de azeite
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 dente de alho amassado
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 colher de caf&eacute; de gengibre ralado
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1/2 tomate pequeno picado
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 colher de ch&aacute; de p&aacute;prica defumada
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 colher de ch&aacute; de cominho em p&oacute;
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1/2 colher de ch&aacute; de a&ccedil;afr&atilde;o
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1/2 colher de ch&aacute; de pimenta cayena
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1/2 colher de ch&aacute; de curry em p&oacute;
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 pitada de pimenta calabresa desidratada
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;2 cravos da &iacute;ndia
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 peda&ccedil;o de canela em pau
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;5 folhas de louro
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;2 xicaras de gr&atilde;o de bico cru
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;4 x&iacute;caras de &aacute;gua
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1-2 c.sopa de maisena
            </p>
            <br />
            <p class="identDIV">
                <strong>Modo de Fazer:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Coloque o gr&atilde;o de bico de molho em &aacute;gua suficiente para cobri-lo de um dia para o outro ou m&iacute;nimo 8 horas.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Escorra e coloque os gr&atilde;os em uma panela de press&atilde;o e acrescente as 4 x&iacute;caras de &aacute;gua e o louro.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Cozinhe na press&atilde;o por 10 minutos, ate obter o gr&atilde;o de bico macio e firme.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Reserve.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Em outra panela, aque&ccedil;a o azeite e refogue o alho com o gengibre.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Quando come&ccedil;ar a dourar, coloque o tomate e refogue-o levemente.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Adicione as especiarias (se n&atilde;o tiver todas, use as de sua prefer&ecirc;ncia) e deixe refogar mais ou menos uns 2 minutinhos
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Depois disso, adicione o gr&atilde;o de bico cozido e o caldo (se quiser, utilize somente uma parte dele).
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Misture bem e deixe ferver por mais uns 5 minutos &mdash; se preferir o gr&atilde;o de bico mais macio, deixe mais tempo.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Retire parte do caldo, esfrie um pouco e misture com a maisena
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Adicione &agrave; sopa e mexa ate engrossar.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Retire a folha de louro, os cravos e a canela em pau e sirva o Dahl de gr&atilde;o de bico em seguida, ainda bem quente.
            </p>
        </div>
    </div>
</div>