
@{
    ViewBag.Title = "Intra treino | Gel energético – para exercícios intensos e longos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@Html.Partial("LogoView")
<div class="container">
    <div class="row">
        <div class="col">
            <p class="identDIV">
                <img src="~/Images/Icone_100_por_cento_vegana_45.jpg" title="Vegana" alt="Vegana" />&nbsp;
                <img src="~/Images/Icone_low_carb_45.jpg" title="Low Carb" alt="Receita low carb" />&nbsp;
                <img src="~/Images/Icone_sem_gluten_45.jpg" title="Sem glúten" alt="Receita sem glúten" />&nbsp;
                <img src="~/Images/Icone_sem_laticinios_45.jpg" title="Sem Laticínios" alt="Sem Laticínios" />&nbsp;
                <img src="~/Images/Icone_bom_para_o_coracao_45.jpg" title="Bom para o coração" alt="Bom para o coração" />&nbsp;
                <img src="~/Images/Icone_paleo_diet_45.jpg" title="Paleo diet" alt="Paleo diet" />&nbsp;
            </p>
            <br />
            <p class="identDIV">
                <strong>Ingredientes:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;4 t&acirc;maras sem caro&ccedil;o ou ameixas seca
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;&frac14; de xic. ch&aacute; ou 50 g de melado de coco ou melado de cana
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 c. sopa ou 10 g de &oacute;leo de coco extravirgem
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Raspas de casca de 1 lim&atilde;o
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;&frac12; c. sopa ou 2 g de alga nori
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 pitada de sal marinho mo&iacute;do
            </p>
            <br />
            <p class="identDIV">
                <strong>Modo de preparo:</strong>
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Deixe as t&acirc;maras ou as ameixas de molho por 8 horas.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Processe todos os ingredientes.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Coloque em saquinhos &ldquo;ziploc&rdquo; ou saquinhos de sacol&eacute;.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Pode conservar at&eacute; 3 dias em geladeira.
            </p>
        </div>
    </div>
</div>