@{
    ViewBag.Title = "Escondidinho de frango fit";
}

<h2>Escondidinho de frango fit</h2>

@Html.Partial("LogoView")

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/images/Escondidinho_de_frango_fit_400.jpg" title="Escondidinho de frango fit" alt="Escondidinho de frango fit" />;
            <p></p>
        </div>
        <div class="col">
            <p class="identDIV">
                <img src="~/Images/Icone_low_carb_45.jpg" title="Low Carb" alt="Receita low carb" />&nbsp;
                <img src="~/Images/Icone_sem_gluten_45.jpg" title="Sem glúten" alt="Receita sem glúten" />&nbsp;
                <img src="~/Images/Icone_sem_laticinios_45.jpg" title="Sem Laticínios" alt="Receita sem laticínios" />&nbsp;
                <img src="~/Images/Icone_bom_para_o_coracao_45.jpg" title="Bom para o coração" alt="Receita boa para o coração" />&nbsp;
            </p>
            <br />
            <p class="identDIV">
                <strong>Ingredientes para o pur&ecirc; de couve-flor:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;2 x&iacute;caras de couve flor bem cozida
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;&frac14; de cebola
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 dente de alho picado
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;2 c.sopa de azeite
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Sal e pimenta do reino a gosto
            </p>
            <br />
            <p class="identDIV">
                <strong>Recheio de frango: </strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 peito de frango cozido e desfiado (pode substituir por shimeji)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Salsinha a gosto
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Suco de lim&atilde;o
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Sal e pimenta do reino a gosto<br />
            </p>
            <br />
            <p class="identDIV">
                <strong>Mode de fazer</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Refogue o alho e a cebola no azeite enquanto cozinha a couve-flor
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Leve tudo ao processador e coloque um pouco de caldo de frango.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Bata at&eacute; ficar lisinho e acerte os temperos.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Misture o frango desfiado que foi cozido com sal e suco de lim&atilde;o com a salsinha e um pouco do pur&ecirc; de couve-flor, pra dar liga uma certa liga.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Monte em prato individual usando um aro: coloque uma camada de pur&ecirc; na parte de baixo, o frango no meio e cubra com o pur&ecirc;, retire o aro, enfeite com salsinha e regue com azeite extra virgem.
            </p>
        </div>

    </div>
</div>
