
@{
    ViewBag.Title = "Falafel";
}

<h2>Falafel</h2>

@Html.Partial("LogoView")
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/Images/Falafel_400.jpg" title="Falafel" alt="Falafel" />;
            <p></p>
        </div>
        <div class="col">
            <p class="identDIV">
                <img src="~/Images/Icone_100_por_cento_vegana_45.jpg" title="Vegana" alt="Receita 100% vegana" />&nbsp;
                <img src="~/Images/Icone_low_carb_45.jpg" title="Low Carb" alt="Receita low carb" />&nbsp;
                <img src="~/Images/Icone_sem_gluten_45.jpg" title="Sem glúten" alt="Receita sem glúten" />&nbsp;
                <img src="~/Images/Icone_sem_laticinios_45.jpg" title="Sem Laticínios" alt="Receita sem laticínios" />&nbsp;
                <img src="~/Images/Icone_bom_para_o_coracao_45.jpg" title="Bom para o coração" alt="Receita boa para o coração" />
            </p>
            <br />
            <p class="identDIV">
                <strong>Ingredientes:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 x&iacute;cara de ch&aacute; de gr&atilde;o de bico ou lentilha, que devem ser deixados de molho por 12-24 horas
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;&frac14; de cebola picada (70-100g)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 dente de alho
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;&frac12; ma&ccedil;o de salsinha picada
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 lim&atilde;o Tahiti m&eacute;dio, usar o suco
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 c. ch&aacute; de cominho em p&oacute;
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Pimenta do reino e sal (marinho) a gosto
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;2 c. sopa de azeite extra virgem
            </p>
            <br />
            <p class="identDIV">
                <strong>Modo de Fazer:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Coloque todos os ingredientes no processador e bata at&eacute; obter um massa espessa com ainda alguns peda&ccedil;os pequenos.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Untar uma forma e com uma colher fazer &ldquo;bolas&rdquo;com esta massa, separando-as para n&atilde;o se unirem.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Leve ao forno pr&eacute;-aquecido a 160 graus por 30-40 minutos.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;O falafel pronto ter&aacute; uma colora&ccedil;&atilde;o castanha por fora e verde por dentro.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Servir com creme de tahine (tahine, &aacute;gua, sal, lim&atilde;o, alho e hortel&atilde;) ou maionese de abacate (abacate, sal, lim&atilde;o e azeite) ou com seu recheio preferido.
            </p>
        </div>
    </div>
</div>
