
@{
    ViewBag.Title = "Falafel";
}

<h2>Falafel</h2>

@Html.Partial("LogoView")
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/Images/Falafel_400.jpg" />;
            <p></p>
        </div>
        <div class="col-md-6">
            <p>
                <strong>Ingredientes:</strong> <br />
                1 x&iacute;cara de ch&aacute; de gr&atilde;o de bico ou lentilha, que devem ser deixados de molho por 12-24 horas <br />
                &frac14; de cebola picada (70-100g)<br />
                1 dente de alho<br />
                &frac12; ma&ccedil;o de salsinha picada<br />
                1 lim&atilde;o Taiti m&eacute;dio, usar o suco <br />
                1 c. ch&aacute; de cominho em p&oacute;<br />
                pimenta do reino e sal (marinho) a gosto<br />
                2 c. sopa de azeite extra virgem
            </p>
            <p>
                <strong>Modo de Fazer:<br /></strong>
                Coloque todos os ingredientes no processador e bata at&eacute; obter um massa espessa com ainda alguns peda&ccedil;os pequenos.<br />
                Untar uma forma e com uma colher fazer &ldquo;bolas&rdquo;com esta massa, separando-as para n&atilde;o se unirem.<br />
                Leve ao forno pr&eacute;-aquecido a 160 graus por 30-40 minutos.<br />
                O falafel pronto ter&aacute; uma colora&ccedil;&atilde;o castanha por fora e verde por dentro.<br />
                Servir com creme de tahine (tahine, &aacute;gua, sal, lim&atilde;o, alho e hortel&atilde;) ou maionese de abacate (abacate, sal, lim&atilde;o e azeite) ou com seu recheio preferido.
            </p>
        </div>
    </div>
</div>
