@{
    ViewBag.Title = "Fondue fit de queijo";
}

<h2>Fondue fit de queijo</h2>

@Html.Partial("LogoView")

<div class="container">
    <div class="col-md-4">
        <img class="img-responsive" src="~/images/fondue_queijo_400.jpg" title="Fondue fit de queijo" alt="Fondue fit de queijo" />
        <p></p>
        <img class="img-responsive" src="~/images/fondue_400.jpg" title="Fondue fit de chocolate e queijo" alt="Fondue fit de chocolate e queijo" />
        <p></p>
    </div>
    <div class="row">
        <div class="col">
            <p class="identDIV">
                <img src="~/Images/Icone_vegetariana_45.jpg" title="Vegetariana" alt="Receita vegetariana" />&nbsp;
                <img src="~/Images/Icone_low_carb_45.jpg" title="Low Carb" alt="Receita low carb" />&nbsp;
                <img src="~/Images/Icone_sem_gluten_45.jpg" title="Sem glúten" alt="Receita sem glúten" />
            </p>
            <br />
            <p class="identDIV">
                <strong>Ingredientes para 2 pessoas:</strong>
            </p>
            <br />
            <div>
                <p class="identDIV">
                    &nbsp;&nbsp;&nbsp;&nbsp;2 c.sopa de biomassa de banana verde (30g)
                </p>
                <p class="identDIV">
                    &nbsp;&nbsp;&nbsp;&nbsp;&frac12; x&iacute;cara de ch&aacute; (75ml) de leite vegetal
                </p>
                <p class="identDIV">
                    &nbsp;&nbsp;&nbsp;&nbsp;&frac14; de x&iacute;cara de vinho branco
                </p>
                <p class="identDIV">
                    &nbsp;&nbsp;&nbsp;&nbsp;150g (1 unidade) de cream cheese light
                </p>
                <p class="identDIV">
                    &nbsp;&nbsp;&nbsp;&nbsp;400g de queijo cottage ou de cottage lacfree
                </p>
                <p class="identDIV">
                    &nbsp;&nbsp;&nbsp;&nbsp;1 dente de alho
                </p>
                <p class="identDIV">
                    &nbsp;&nbsp;&nbsp;&nbsp;Sal, pimenta e temperos a gosto
                </p>
                <p class="identDIV">
                    &nbsp;&nbsp;&nbsp;&nbsp;Vegetais no vapor: br&oacute;colis, couve-flor, tomate cereja (1 bandeja 250g)
                </p>
                <p class="identDIV">
                    &nbsp;&nbsp;&nbsp;&nbsp;150g de p&atilde;o italiano ou p&atilde;o integral ou p&atilde;o sem gl&uacute;ten
                </p>
            </div>
            <br />
            <p class="identDIV">
                <strong>Modo de fazer:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 &ndash; Adicione aos poucos o leite vegetal, pra n&atilde;o deixar muito fluido.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;2 &ndash; Bata at&eacute; ficar homog&ecirc;neo.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;3 &ndash; Esfregue a outra parte do dente de alho no rechaut de fondue, coloque a mistura de queijos e aque&ccedil;a.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;4 &ndash; Tempere com pimenta do reino a gosto.
            </p>
        </div>
        </div>
</div>
