@{
    ViewBag.Title = "Galette de sarraceno";
}

<h2>Galette de sarraceno</h2>

@Html.Partial("LogoView")

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/images/Galette_de_sarraceno_400.jpg" title="Galette de sarraceno" alt="Galette de sarraceno" />
            <p></p>
        </div>
        <div class="col">
            <p class="identDIV">
                <img src="~/Images/Icone_vegetariana_45.jpg" title="Vegetariana" alt="Receita vegetariana" />&nbsp;
                <img src="~/Images/Icone_sem_gluten_45.jpg" title="Sem glúten" alt="Receita sem glúten" />
            </p>
            <br />
            <p class="identDIV">
                <strong>Recheio</strong>:
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 x&iacute;cara de espinafre cozido e espremido.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Azeite e alho para refogar as folhas.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Adicionar 4 c. sopa de gr&atilde;os de milho doce, picar
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;2 tomates, adicionar ao refogado.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Temperar com sal e seu tempero preferido.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;No fim adicionar ricota de b&uacute;fala amassada e por cima ricota defumada ralada.
            </p>
            <br />
            <div class="col-md visible-sd-block">
                <br />
                <br />
                <br />
            </div>
            <p class="identDIV">
                <strong>Gallete:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;270-300g de farinha de trigo sarraceno
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;10g sal grosso
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;500-700 ml de &aacute;gua
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 ovo
            </p>
            <br />
            <p class="identDIV">
                <strong>Modo de fazer:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Misturar a farinha com o sal.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Com a ajuda de um fouet v&aacute; adicionando &aacute;gua e misturando vigorosamente.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Quando obtiver uma massa lisa e homog&ecirc;nea acrescente o ovo e misture novamente.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Filme e coloque na geladeira por 2h.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Unte uma frigideira (pr&oacute;pria para crepe, de borda muito baixa ou ausente) com &oacute;leo, acrescente 1 concha de massa e espalhe bem.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Vire depois de 1 minuto.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Deixe ficar firme e coloque no centro o recheio.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Junte sal, pimenta, feche os 4 lados da galette de maneira que ainda consiga ver o centro.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Sirva imediatamente.
            </p>
        </div>
        </div>
</div>