
@{
    ViewBag.Title = "Geléia (falsa) de damasco e ameixa";
}

<h2>Geléia (falsa) de damasco e ameixa</h2>

@Html.Partial("LogoView")

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/images/Geleia_falsa_de_damasco_e_ameixa_400.jpg" title="Muffins de canela" alt="Muffins de canela" />
            <p></p>
        </div>
        <div class="col">
            <p class="identDIV">
                <img src="~/Images/Icone_100_por_cento_vegana_45.jpg" title="Vegana" alt="Receita 100% vegana" />&nbsp;
                <img src="~/Images/Icone_sem_gluten_45.jpg" title="Sem glúten" alt="Receita sem glúten" />&nbsp;
                <img src="~/Images/Icone_sem_laticinios_45.jpg" title="Sem Laticínios" alt="Receita sem laticínios" />&nbsp;
                <img src="~/Images/Icone_paleo_diet_45.jpg" title="Paleo Diet" alt="Receita paleo diet" />&nbsp;
            </p>
            <br />
            <p class="identDIV">
                <strong>Ingredientes:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 xic de ch&aacute; de damasco + 1 copo de &aacute;gua (250ml)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 xic de ch&aacute; de ameixa seca + 1 copo de &aacute;gua (250ml)
            </p>
            <br />
            <p class="identDIV">
                <strong>Modo de Fazer:<br /></strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;Deixar as frutas secas de molho em &aacute;gua por 8 horas.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Quando estiverem amolecidas, processar as duas frutas com a &aacute;gua do demolho, at&eacute; obter um creme com consist&ecirc;ncia de gel&eacute;ia.
            </p>
        </div>

    </div>
</div>