@{
    ViewBag.Title = "Golden milk";
}

<h2>Golden milk</h2>

@Html.Partial("LogoView")

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/images/Golden_milk_400.jpg" />
            <p></p>
        </div>
        <div class="col">
            <p class="identDIV">
                <img src="~/Images/Icone_100_por_cento_vegana_45.jpg" title="Vegana" alt="Receita 100% vegana" />&nbsp;
                <img src="~/Images/Icone_low_carb_45.jpg" title="Low Carb" alt="Receita low carb" />&nbsp;
                <img src="~/Images/Icone_sem_gluten_45.jpg" title="Sem glúten" alt="Receita sem glúten" />&nbsp;
                <img src="~/Images/Icone_sem_laticinios_45.jpg" title="Sem Laticínios" alt="Receita sem laticínios" />&nbsp;
                <img src="~/Images/Icone_paleo_diet_45.jpg" title="Paleo Diet" alt="Receita paleo diet" />&nbsp;
                <img src="~/Images/Icone_bom_para_o_coracao_45.jpg" title="Bom para o coração" alt="Receita boa para o coração" />&nbsp;
            </p>
            <br />
            <p class="identDIV">
                <strong>Ingredientes:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;220 ml de leite vegetal (de castanhas ou de coco ou de aveia)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 c. sopa rasa de curcumina
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 c. ch&aacute; rasa de gengibre em p&oacute;
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 c. caf&eacute; rasa de pimenta do reino mo&iacute;da preta
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 c. ch&aacute; rasa de &oacute;leo de coco
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Raspas de noz moscada (ou 1 c. caf&eacute; rasa de noz moscada)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Sementes de 1 cardamomo (ou 1 c. caf&eacute; rasa de cardamomo em p&oacute;)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Pitadas de canela (ou 1 c. ch&aacute; rasa)
            </p>
            <br />
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Para ado&ccedil;ar (se quiser) 1 c. sobremesa de agave ou mel
            </p>
            <br />
            <br />
            <p class="identDIV">
                <strong>Modo de fazer: <br /> </strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Aquecer o leite em fogo baixo e adicionar os ingredientes aos poucos misturando pra incorporar
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;<strong>Tomar morno</strong>
            </p>
        </div>

    </div>
</div>
