
@{
    ViewBag.Title = "Guacamole tradicional";
}

<h2>Guacamole tradicional</h2>

@Html.Partial("LogoView")

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/Images/Guacamole_tradicional_400.jpg" />
            <p class="referencia">fonte foto: oliepants.wordpress.com</p>
            <p></p>
        </div>
        <div class="col">
            <p>
                <strong>Ingredientes:</strong><br />
                2-3 avocados pequenos e maduros (devem estar pretos e macios)<br />
                &frac12; cebola roxa picada<br />
                1 a 2 lim&otilde;es taiti, s&oacute; o suco<br />
                5-7 tomates tipo sweet grape, cortados em 4<br />
                1 pimenta dedo de mo&ccedil;a pequena em tiras, sem as sementes<br />
                1 x&iacute;cara de ch&aacute; de coentro (folhas inteiras) ou salsinha<br />
                sal a gosto<br />2 c. sopa de azeite extra virgem
                <br />
            </p>
            <br />
            <p>
                <strong>Modo de Fazer:</strong>
                <br />
                Picar a polpa dos avocados em um bowl, adicione a cebola, o tomate, o suco de 1 lim&atilde;o, a pimenta o coentro ou salsinha e misture delicadamente.<br />
                Tempere com sal, e teste o sabor do lim&atilde;o: ele deve ser bem percept&iacute;vel, se necess&aacute;rio adicione mais suco de lim&atilde;o.<br />
                Porcione e regue com o azeite.
            </p>
            <br />
            <p>
                <strong>Rende</strong> 2 por&ccedil;&otilde;es.
            </p>
        </div>
    </div>
</div>