
@{
    ViewBag.Title = "Guacamole tradicional";
}

<h2>Guacamole tradicional</h2>

@Html.Partial("LogoView")

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/Images/Guacamole_tradicional_400.jpg" title="Guacamole tradicional" alt="Guacamole tradicional" />
            <p class="referencia">Foto: <a href="http://www.oliepants.wordpress.com">oliepants.wordpress.com</a></p>
            <p></p>
        </div>
        <div class="col">
            <p class="identDIV">
                <img src="~/Images/Icone_100_por_cento_vegana_45.jpg" title="Vegana" alt="Receita 100% vegana" />&nbsp;
                <img src="~/Images/Icone_low_carb_45.jpg" title="Low Carb" alt="Receita low carb" />&nbsp;
                <img src="~/Images/Icone_sem_gluten_45.jpg" title="Sem glúten" alt="Receita sem glúten" />&nbsp;
                <img src="~/Images/Icone_sem_laticinios_45.jpg" title="Sem Laticínios" alt="Receita sem laticínio" />&nbsp;
                <img src="~/Images/Icone_paleo_diet_45.jpg" title="Paleo Diet" alt="Receita paleo diet" />&nbsp;
                <img src="~/Images/Icone_bom_para_o_coracao_45.jpg" title="Bom para o coração" alt="Receita boa para o coração" />&nbsp;
            </p>
            <br />
            <p class="identDIV">
                <strong>Ingredientes:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;2-3 avocados pequenos e maduros (devem estar pretos e macios)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;&frac12; cebola roxa picada
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 a 2 lim&otilde;es taiti, s&oacute; o suco
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;5-7 tomates tipo sweet grape, cortados em 4
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 pimenta dedo de mo&ccedil;a pequena em tiras, sem as sementes
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 x&iacute;cara de ch&aacute; de coentro (folhas inteiras) ou salsinha
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Sal a gosto
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;2 c. sopa de azeite extra virgem
            </p>
            <br />
            <p>
                <strong>Modo de Fazer:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Picar a polpa dos avocados em um bowl, adicione a cebola, o tomate, o suco de 1 lim&atilde;o, a pimenta o coentro ou salsinha e misture delicadamente.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Tempere com sal, e teste o sabor do lim&atilde;o: ele deve ser bem percept&iacute;vel, se necess&aacute;rio adicione mais suco de lim&atilde;o.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Porcione e regue com o azeite.
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Rende 2 por&ccedil;&otilde;es.
            </p>
        </div>
    </div>
</div>