
@{
    ViewBag.Title = "Guacamole com azeitonas";
}

<h2>Guacamole com azeitonas</h2>

@Html.Partial("LogoView")

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/Images/Guacamole_com_azeitonas_400.jpg" />
            <p class="referencia">fonte foto somethingelsetoeat.blogspot.it</p>
            <p></p>
        </div>
        <div class="col">
            <p>
                <strong>Ingredientes:</strong><br />
                2-3 avocados pequenos e maduros (devem estar pretos e macios)<br />
                2 dentes de alho cru picado<br />
                1 lim&atilde;o tahiti, s&oacute; o suco<br />
                1 punhado de azeitonas tipo Azapa, picadas<br />
                Sal a gosto, se precisar<br />
                2-3 c. sopa de azeite extra virgem.<br />
                Opcional: 1 pimenta dedo de mo&ccedil;a em tiras, sem sementes
            </p>
            <br />
            <p>
                <strong>Modo de Fazer:</strong> <br />
                Picar a polpa dos avocados em um bowl, adicione todos os outros ingredientes e misture delicadamente.<br />
                Ajuste o sal e est&aacute; pronto pra servir.
            </p>
            <br />
            <p>
                <strong>Rende</strong> 2 por&ccedil;&otilde;es.
            </p>
        </div>
    </div>
</div>