@{
    ViewBag.Title = "Hamburguer de feijão branco & cogumelos Paris";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@Html.Partial("LogoView")
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/Images/Hamburguer_de_feijao_branco_e_cogumelos_paris_400.jpg" title="" alt="" />
            <p></p>
        </div>
        <div class="col">
            <p class="identDIV">
                <img src="~/Images/Icone_100_por_cento_vegana_45.jpg" title="Vegana" alt="Vegana" />&nbsp;
                <img src="~/Images/Icone_sem_gluten_45.jpg" title="Sem glúten" alt="Receita sem glúten" />&nbsp;
                <img src="~/Images/Icone_sem_laticinios_45.jpg" title="Sem Laticínios" alt="Sem Laticínios" />&nbsp;
                <img src="~/Images/Icone_dieta_cetogenica_45.jpg" title="Dieta cetogênica" alt="Dieta cetogênica" />&nbsp;
            </p>
            <br />
            <p class="identDIV">
                <strong>Ingredientes:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 xicara (ch&aacute;) de feij&atilde;o branco cozido firme e sem caldo
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 x&iacute;cara (ch&aacute;) de cogumelos Paris picados
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;&frac12; x&iacute;cara de ch&aacute; de farinha de linha&ccedil;a
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 c. ch&aacute; de p&aacute;prica defumada
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 cebola picada
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 dente de alho picado
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;2 c. sopa de azeite de oliva
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Salsa a gosto
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Sal e pimenta do reino a gosto
            </p>
            <br />
            <p class="identDIV">
                <strong>Modo de preparo:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Coloque todos os ingredientes em um processador de alimentos e pulse at&eacute; obter uma massa com peda&ccedil;os pequenos, sem deixar virar pur&ecirc;.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Modele 4 hamb&uacute;rgueres usando um molde.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Se ficar muito firme, adicione azeite.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Caso esteja mole, junte a farinha de linha&ccedil;a at&eacute; obter a textura boa para modelar.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;LEVE OS HAMBURGUERES AO FREEZER POR 30 MINUTOS.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Para preparar, aque&ccedil;a uma frigideira grande, regue com um fio de azeite e doure os hamb&uacute;rgueres dos 2 lados.
            </p>
        </div>
    </div>
</div>