@{
    ViewBag.Title = "Hamburguer de feijão";
}

<h2>Hamburguer de feijão</h2>

@Html.Partial("LogoView")

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/images/Hamburguer_de_feijao_preto_1_400.jpg" title="Preparo de hamburguer de feijão" alt="Preparo de hamburguer de feijão" />
            <p></p>
            <img class="img-responsive" src="~/images/Hamburguer_de_feijao_preto_2_400.jpg" title="Hamburguer de feijão" alt="Hamburguer de feijão" />
            <p></p>
        </div>
        <div class="col">
            <p class="identDIV">
                <img src="~/Images/Icone_100_por_cento_vegana_45.jpg" title="Vegana" alt="Receita 100% vegana" />&nbsp;
                <img src="~/Images/Icone_sem_gluten_45.jpg" title="Sem glúten" alt="Receita sem glúten" />&nbsp;
                <img src="~/Images/Icone_sem_laticinios_45.jpg" title="Sem Laticínios" alt="Receita sem laticínio" />&nbsp;
                <img src="~/Images/Icone_bom_para_o_coracao_45.jpg" title="Bom para o coração" alt="Receita boa para o coração" />&nbsp;
            </p>
            <br />
            <p class="identDIV">
                <strong>Ingredientes:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;3 x&iacute;c. de feij&atilde;o cozido e escorrido (utilizei feij&atilde;o preto)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 x&iacute;c. de cebola picada
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1/2 x&iacute;c. de farinha de arroz
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;&Oacute;leo vegetal
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Pimenta do reino a gosto
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Sal a gosto
            </p>
            <br />
            <p class="identDIV">
                <strong>Mode de fazer:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1- Coloque o feij&atilde;o em uma tigela e amasse com o garfo.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;N&atilde;o precisa amassar todos os gr&atilde;os, pode deixar alguns inteiros para dar textura ao hamb&uacute;rguer;
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;2- Em uma panela aque&ccedil;a um pouco de &oacute;leo vegetal, usei mais ou menos 2 colheres de sopa.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Adicione a cebola e frite at&eacute; dourar;
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;3- Adicione o feij&atilde;o amassado e misture com a cebola.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Tempere com sal e pimenta do reino a gosto.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Se a mistura estiver muito mole, com muita &aacute;gua, deixe cozinhar por mais um tempo.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Mexa sem parar at&eacute; a mistura come&ccedil;ar a ficar mais densa;
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;4- Desligue o fogo e espere amornar.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Lembre-se que depois de esfriar a mistura ir&aacute; ficar mais densa.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;N&atilde;o se preocupe se ainda estiver mole e grudento;
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;5- Adicione a farinha de arroz e misture;
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;6- Unte as m&atilde;os com um pouco de &oacute;leo vegetal e molde os hamb&uacute;rguer do tamanho que preferir;
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;7- Aque&ccedil;a um fio de &oacute;leo vegetal e frite o hamb&uacute;rguer em ambos os lados at&eacute; ficarem dourados e crocantes.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Frite somente o que for consumir na hora.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Monte o seu lanche do jeito de preferir.
            </p>
            <br />
            <p class="identDIV">
                <strong>Notas:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;&ndash; Voc&ecirc; pode congelar os hamb&uacute;rgueres que n&atilde;o foram fritos, eles duram em m&eacute;dia de 3 meses no freezer.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;&ndash; Para economizar espa&ccedil;o no congelador empilhe os hamb&uacute;rgueres colocando papel manteiga ou um saquinho pl&aacute;stico entre eles, guarde em um pote fechado.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;&ndash; Para fazer o hamb&uacute;rguer que foi congelado, basta aquecer um fio de &oacute;leo em fogo m&eacute;dio e colocar o hamb&uacute;rguer congelado mesmo, n&atilde;o precisa descongelar.
            </p>
        </div>

    </div>
</div>
