@{
    ViewBag.Title = "Homus funcional";
}

<h2>Homus funcional</h2>
@Html.Partial("LogoView")

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/images/Homus_funcional_1_400.jpg" title="Homus funcional enfeitado com hortelã" alt="Homus funcional enfeitado com hortelã" /> 
            <p></p>
            <img class="img-responsive" src="~/images/Homus_funcional_2_400.jpg" title="Homus funcional e legumes" alt="Homus funcional e legumes" />
            <p></p>
        </div>
        <div class="col">
            <p class="identDIV">
                <img src="~/Images/Icone_100_por_cento_vegana_45.jpg" title="Vegana" alt="Receita 100% vegana" />&nbsp;
                <img src="~/Images/Icone_low_carb_45.jpg" title="Low Carb" alt="Receita low carb" />&nbsp;
                <img src="~/Images/Icone_sem_gluten_45.jpg" title="Sem glúten" alt="Receita sem glúten" />&nbsp;
                <img src="~/Images/Icone_sem_laticinios_45.jpg" title="Sem Laticínios" alt="Receita sem laticínios" />&nbsp;
                <img src="~/Images/Icone_bom_para_o_coracao_45.jpg" title="Bom para o coração" alt="Receita boa para o coração" />&nbsp;
            </p>
            <br />
            <p class="identDIV">
                <strong>Ingredientes:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 x&iacute;cara de gr&atilde;o de bico (ou abobora cabotiá ou feij&atilde;o akuzi ou ervilha ou abobora comum)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 colher (sobremesa) de azeite extra-virgem
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 colher (sopa) de suco de lim&atilde;o
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 colher (ch&aacute;) de sal marinho
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 dente de alho amassados (opcional)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;2 colheres (sobremesa) de tahine (pasta de gergelim)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Salsinha picada para enfeitar, azeite extra-virgem puro para regar e p&atilde;o s&iacute;rio integral de acompanhamento
            </p>
            <br />
            <p class="identDIV">
                <strong>Modo de Fazer:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Deixe o gr&atilde;o de bico de molho de um dia para outro.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Depois, cozinhe-o deixando cerca de 15 minutos em &aacute;gua fervente.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Escorra a &aacute;gua, reservando uma x&iacute;cara desta &aacute;gua.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Esfregue os gr&atilde;os, uns contra os outros, removendo o m&aacute;ximo poss&iacute;vel das cascas.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Use um multiprocessador (m&oacute;dulo de l&acirc;mina dupla) ou o liquidificador e bata os gr&atilde;os, o azeite, o lim&atilde;o, o alho, e parte da &aacute;gua do cozimento.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Se ficar muito denso, acrescente mais &aacute;gua do cozimento ou &aacute;gua fria comum.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Volte a processar at&eacute; que a massa adquira a consist&ecirc;ncia de um pur&ecirc; (sem part&iacute;culas s&oacute;lidas).
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Acrescente o sal e o Tahine e processe novamente.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Passe para o recipiente que vai servir (sirva frio) acrescente salsinha bem picada, regue com azeite extra virgem puro e sirva com p&atilde;o S&iacute;rio integral.
            </p>
        </div>

    </div>
</div>


