@{
    ViewBag.Title = "Homus de cacau";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@Html.Partial("LogoView")
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/Images/Homus_de_cacau_400.jpg" title="Homus de cacau" alt="Homus de cacau" />
            <p></p>
        </div>
        <div class="col">
            <p class="identDIV">
                <img src="~/Images/Icone_100_por_cento_vegana_45.jpg" title="Vegana" alt="Vegana" />&nbsp;
                <img src="~/Images/Icone_sem_gluten_45.jpg" title="Sem glúten" alt="Receita sem glúten" />&nbsp;
                <img src="~/Images/Icone_sem_laticinios_45.jpg" title="Sem Laticínios" alt="Sem Laticínios" />&nbsp;
                <img src="~/Images/Icone_bom_para_o_coracao_45.jpg" title="Bom para o coração" alt="Bom para o coração" />&nbsp;
            </p>
            <br />
            <p class="identDIV">
                <strong>Ingredientes:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;200g de gr&atilde;o de bico cozido (s&oacute; na &aacute;gua)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 c. sobremesa de tahine
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 c. sobremesa de &oacute;leo de coco
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 c. sopa de cacau em p&oacute;
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;3 t&acirc;maras sem caro&ccedil;o
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 c. sopa de a&ccedil;&uacute;car de coco
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;&Aacute;gua do cozimento, quanto precisar
            </p>
            <br />
            <p class="identDIV">
                <strong>Modo de preparo:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Leve todos os ingredientes ao processador.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Processar at&eacute; obter uma massa lisa e densa, como um creme
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Caso precise de mais fluido, use a &aacute;gua do cozimento, adicionando aos poucos.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Coma com frutas como sobremesa ou com p&atilde;o no caf&eacute; da manh&atilde; e lanche.
            </p>
        </div>
    </div>
</div>