@{
    ViewBag.Title = "Kibe de ervilha partida";
}

<h2>Kibe de ervilha partida</h2>

@Html.Partial("LogoView")

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/images/kibe_de_ervilha_partida_400.jpg" />
        </div>
        <div class="col">
            <p class="identDIV">
                <img src="~/Images/Icone_100_por_cento_vegana_45.jpg" title="Vegana" />&nbsp;
                <img src="~/Images/Icone_sem_laticinios_45.jpg" title="Sem Laticínios" />&nbsp;
                <img src="~/Images/Icone_bom_para_o_coracao_45.jpg" title="Bom para o coração" />&nbsp;
            </p>
            <br />
            <p class="identDIV">
                <strong>Ingredientes:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;2 copos de lentilhas descascadas ou ervilhas secas e verdes
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 copo de bulgur (trigo fino para kibe)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;5 copos de &aacute;gua
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 x&iacute;cara de salsinha picada
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp; Suco de 1-2 lim&otilde;es Tahiti
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Raspas de meio lim&atilde;o Tahiti
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;2 cebolas pequenas roxas corte brunoise
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;6 colheres (sopa) de azeite
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 ma&ccedil;o de hortel&atilde; picado
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Sal e pimenta-do-reino a gosto
            </p>
            <br />
            <p class="identDIV">
                <strong>Modo de Fazer</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Deixar a leguminosa de molho na v&eacute;spera ou por 10-12 horas.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Desprezar a &aacute;gua de demolho.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Doure a cebola no azeite, ela deve ficar bronze quase marrom.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Leve a ervilha ao fogo para cozinhar na &aacute;gua com sal.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;<strong>Quando estiver cozida, desligue o fogo e junte o trigo seco.</strong>
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Tampe a panela e deixe descansar por 15 minutos para que o trigo hidrate.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Escorra em uma peneirinha, <strong>aperte para tirar todo o excesso de liquido.</strong>
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Amasse com um garfo, at&eacute; obter uma pasta.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Acrescente a salsinha, as raspinhas, o suco de lim&atilde;o, a hortel&atilde; e a cebola caramelizada.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Ajuste o sal e a pimenta do reino e monte no prato como kibe cru, regue com azeite e sirva com cebola em gomos e galhos de hortel&atilde;
            </p>
        </div>
    </div>
</div>