@{
    ViewBag.Title = "Leite de aveia";
}

<h2>Leite de aveia</h2>

@Html.Partial("LogoView")

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/images/Leite_de_aveia_400.jpg" />
            <p></p>
        </div>
        <div class="col">
            <p class="identDIV">
                <img src="~/Images/Icone_100_por_cento_vegana_45.jpg" title="Vegana" />&nbsp;
                <img src="~/Images/Icone_sem_gluten_45.jpg" title="Sem glúten" />&nbsp;
                <img src="~/Images/Icone_sem_laticinios_45.jpg" title="Sem Laticínios" />&nbsp;
                <img src="~/Images/Icone_bom_para_o_coracao_45.jpg" title="Bom para o coração" />
            </p>
            <br />
            <p class="identDIV">
                <strong>Ingredientes:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;2 x&iacute;caras (ch&aacute;) de aveia em flocos
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 litro de &aacute;gua mineral ou filtrada
            </p>
            <p class="identDIV">
                <em>opcional, ou a sua escolha:</em>
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 colher (ch&aacute;) de ess&ecirc;ncia de baunilha
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Qualquer tipo de a&ccedil;&uacute;car a gosto
            </p>
            <br />
            <p class="identDIV">
                <strong>Modo de Fazer:<br /></strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Deixe a aveia de molho na &aacute;gua por, pelo menos, 1h
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Coloque todos os ingredientes no liquidificador e bata bem
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Coe com pano ou peneira bem fina e leve &agrave; geladeira
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Dura at&eacute; 3 dias na geladeira
            </p>
        </div>
    </div>
</div>