
@{
    ViewBag.Title = "Mandioqueijo Queijo de mandioca";
}

<h2>Mandioqueijo Queijo de mandioca</h2>

@Html.Partial("LogoView")

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/images/Mandioqueijo_Queijo_de_mandioca_400.jpg" />
            <p></p>
        </div>
        <div class="col">
            <p class="identDIV">
                <img src="~/Images/Icone_100_por_cento_vegana_45.jpg" title="Vegana" />&nbsp;
                <img src="~/Images/Icone_sem_gluten_45.jpg" title="Sem glúten" />&nbsp;
                <img src="~/Images/Icone_sem_laticinios_45.jpg" title="Sem Laticínios" />&nbsp;
                <img src="~/Images/Icone_paleo_diet_45.jpg" title="Paleo Diet" />&nbsp;
            </p>
            <br />
            <p class="identDIV">
                <strong>Ingredientes:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 xic de mandioquinha cozida ou batata doce
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;3 cs de azeite de oliva
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 cs de polvilho doce
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 c. ch&aacute; de polvilho azedo
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Sal rosa
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;&frac12; x&iacute;c de &aacute;gua
            </p>
            <br />
            <p class="identDIV">
                <strong>Modo de Fazer:<br /></strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Bater os ingredientes no liquidificador e levar ao fogo mexendo at&eacute; engrossar mais.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Deixar na geladeira e pronto!
            </p>
        </div>

    </div>
</div>
