@{
    ViewBag.Title = "Mini cuscuz de legumes e sálvia";
}

<h2>Mini cuscuz de legumes e sálvia</h2>

@Html.Partial("LogoView")

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/images/Mini_cuscuz_de_legumes_e_salvia_400.jpg" title="Mini cuscuz de legumes e sálvia" alt="Mini cuscuz de legumes e sálvia" />
            <p></p>
        </div>
        <div class="col">
            <p class="identDIV">
                <img src="~/Images/Icone_100_por_cento_vegana_45.jpg" title="Vegana" alt="Receita 100% vegetariana" />&nbsp;
                <img src="~/Images/Icone_sem_gluten_45.jpg" title="Sem glúten" alt="Receita sem glúten" />&nbsp;
                <img src="~/Images/Icone_sem_laticinios_45.jpg" title="Sem Laticínios" alt="Receita sem laticínio" />
            </p>
            <br />
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Serve 6 pessoas
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Tempo de preparo: 25 min
            </p>
            <br />
            <p class="identDIV">
                <strong>Ingredientes:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;&frac12; x&iacute;caras de farinha de milho amarela
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;300 ml de molho de tomate
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;300 ml de caldo de legumes
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;50 ml de azeite extravirgem
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1/2 x&iacute;cara de gr&atilde;os de milho cozidos
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1/2 x&iacute;cara de ervilhas frescas, levemente cozidas
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 cenoura pequena, picada e levemente cozida
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Pimenta jalape&ntilde;o picada a gosto
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;S&aacute;lvia
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Sal a gosto
            </p>
            <br />
            <p class="identDIV">
                <strong>Modo de Fazer:<br /></strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Aque&ccedil;a o azeite e refogue a pimenta por 2 minutos.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Acrescente as folhas de s&aacute;lvia e refogue por mais 1 minuto.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Acrescente o milho e refogue por 2 minutos.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Junte a ervilha e a cenoura, salgue e refogue por mais 1 minuto.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Adicione o molho de tomate e deixe em fogo baixo por 3 minutos.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Acrescente o caldo de legumes e misture bem. Verifique o sal.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;A mistura n&atilde;o deve ficar nem com l&iacute;quido aparente nem muito seca.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Unte forminhas individuais com azeite e preencha com o cuscuz.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Deixe esfriar e desenforme.
            </p>
        </div>
    </div>
</div>