@{
    ViewBag.Title = "Mini sufles de abóbora";
}

<h2>Mini sufles de abóbora</h2>

@Html.Partial("LogoView")

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/images/Mini_sufles_de_abobora_400.jpg" title="Mini sufles de abóbora" alt="Mini sufles de abóbora" />
            <p></p>
        </div>
        <div class="col">
            <p class="identDIV">
                <img src="~/Images/Icone_vegetariana_45.jpg" title="Vegetariana" alt="Receita vegetariana" />&nbsp;
                <img src="~/Images/Icone_sem_gluten_45.jpg" title="Sem glúten" alt="Receita sem glúten" />&nbsp;
                <img src="~/Images/Icone_sem_laticinios_45.jpg" title="Sem Laticínios" alt="Receita sem laticínios" />&nbsp;
            </p>
            <br />
            <p class="identDIV">
                <strong>Ingredientes:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;700g de ab&oacute;bora japonesa cozida ou assada e amassada (pur&ecirc;)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;100g de ricota ou tofu ou cottage
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;3 gemas de ovo
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;3 claras em neve
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 c. sopa de farinha de arroz
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 c. sopa de farinha de linha&ccedil;a
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Sal, pimenta do reino, or&eacute;gano e noz moscada
            </p>
            <br />
            <p class="identDIV">
                <strong>Modo de Fazer:<br /></strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbspMisture o pur&ecirc; de ab&oacute;bora com o tofu ou ricota ou cottage bem amassados, as gemas, farinhas e temperos.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Por &uacute;ltimo, misture delicadamente as claras em neve.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Despeje em forminhas de silicone e leve ao forno para assar at&eacute; ficarem dourados.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Forno aprox. 200 graus, 30-40 min.
            </p>
        </div>
    </div>
</div>