@{
    ViewBag.Title = "Mini bolinhos de chocolate do bem";
}

<h2>Mini bolinhos de chocolate do bem</h2>

@Html.Partial("LogoView")

<div class="container">
    <div class="col-md-4">
        <img class="img-responsive" src="~/images/Mini_bolinhos_de_chocolate_do_bem_1_400.jpg" />
        <p></p>
        <img class="img-responsive" src="~/images/Mini_bolinhos_de_chocolate_do_bem_2_400.jpg" />
        <p></p>
    </div>
    <div class="row">
        <div class="col">
            <p class="identDIV">
                <img src="~/Images/Icone_vegetariana_45.jpg" title="Vegetariana" />&nbsp;
                <img src="~/Images/Icone_low_carb_45.jpg" title="Low Carb" />&nbsp;
                <img src="~/Images/Icone_sem_gluten_45.jpg" title="Sem glúten" />&nbsp;
                <img src="~/Images/Icone_sem_laticinios_45.jpg" title="Sem Laticínios" />&nbsp;
                <img src="~/Images/Icone_paleo_diet_45.jpg" title="Paleo Diet" />&nbsp;
            </p>
            <br />
            <p class="identDIV">
                <strong>Ingredientes:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;2 ovos
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;6 c. sopa de farinha de coco
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;3 c. sopa de achocolatado org&acirc;nico
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;30 ml de leite de arroz (ou de outra semente ou de vaca)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 c ch&aacute; de fermento
            </p>
            <br />
            <p class="identDIV">
                <strong>Modo de Fazer:<br /></strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Misturar tudo e colocar em formas de silicone, pela metade.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Eu untei as formas com &oacute;leo de coco. 7-10 minutos em forno a 180 graus
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Rende 7 mini cakes
            </p>
        </div>

    </div>
</div>
