@{
    ViewBag.Title = "Molho para salada alho com iogurte";
}

<h2>Molho para salada alho com iogurte</h2>

@Html.Partial("LogoView")

<div class="container">
    <div class="row">
        <div class="col">
            <p class="identDIV">
                <img src="~/Images/Icone_vegetariana_45.jpg" title="Vegetariana" alt="Receita vegetariana" />&nbsp;
                <img src="~/Images/Icone_low_carb_45.jpg" title="Low Carb" alt="Receita low carb" />&nbsp;
                <img src="~/Images/Icone_sem_gluten_45.jpg" title="Sem glúten" alt="Receita sem glúten" />
            </p>
            <br />
            <p class="identDIV">
                <strong>Ingredientes:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 x&iacute;cara de iogurte desnatado
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 pitada de sal
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 pitada de pimenta do reino (opcional)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 c. sopa de azeite de oliva
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 c. caf&eacute; de alho picadinho (opcional)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 c. sopa de salsinha ou cebolinha picada
            </p>
            <br />
            <p class="identDIV">
                <strong>Modo de Fazer:<br /></strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;Misturar todos os ingredientes e temperar a salada
            </p>
        </div>
        <div class="col">
        </div>
    </div>
</div>
