
@{
    ViewBag.Title = "Molho para salada Mostarda";
}

<h2>Molho para salada mostarda</h2>

@Html.Partial("LogoView")

<div class="container">
    <div class="row">
        <div class="col">
            <p class="identDIV">
                <img src="~/Images/Icone_100_por_cento_vegana_45.jpg" title="Vegana" alt="Receita 100% vegana" />&nbsp;
                <img src="~/Images/Icone_low_carb_45.jpg" title="Low Carb" alt="Receita low carb" />&nbsp;
                <img src="~/Images/Icone_sem_gluten_45.jpg" title="Sem glúten" alt="Receita sem glúten" />&nbsp;
                <img src="~/Images/Icone_sem_laticinios_45.jpg" title="Sem Laticínios" alt="Receita sem laticínio" />&nbsp;
                <img src="~/Images/Icone_paleo_diet_45.jpg" title="Paleo Diet" alt="Receita paleo diet" />&nbsp;
            </p>
            <br />
            <p class="identDIV">
                <strong>Ingredientes:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;&frac14; x&iacute;cara (ch&aacute;) de suco de lim&atilde;o Tahiti
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;2/3 x&iacute;caras (ch&aacute;) de azeite extra virgem
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 &frac12; colher (sopa) de mel
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;3 colheres (sopa) de mostarda dijon ou amarela
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Sal e pimenta do reino
            </p>
            <br />
            <p class="identDIV">
                <strong>Modo de Fazer:<br /></strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;Bata todos os ingredientes no liquidificador at&eacute; o molho ficar cremoso.
            </p>
        </div>
    </div>
</div>
