@{
    ViewBag.Title = "Muçarela vegana";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@Html.Partial("LogoView")
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/Images/Mucarela_vegana_400.jpg" title="Muçarela vegana" alt="Muçarela vegana" />
            <p></p>
        </div>
        <div class="col">
            <p class="identDIV">
                <img src="~/Images/Icone_100_por_cento_vegana_45.jpg" title="Vegana" alt="Vegana" />&nbsp;
                <img src="~/Images/Icone_low_carb_45.jpg" title="Low Carb" alt="Receita low carb" />&nbsp;
                <img src="~/Images/Icone_sem_gluten_45.jpg" title="Sem glúten" alt="Receita sem glúten" />&nbsp;
                <img src="~/Images/Icone_sem_laticinios_45.jpg" title="Sem Laticínios" alt="Sem Laticínios" />&nbsp;
                <img src="~/Images/Icone_dieta_cetogenica_45.jpg" title="Dieta cetogênica" alt="Dieta cetogênica" />&nbsp;
            </p>
            <br />
            <p class="identDIV">
                <strong>Ingredientes:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;100g de castanha de caju sem sal e n&atilde;o torrada
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;2 c. sopa de psyllium
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;400 ml de &aacute;gua filtrada ou mineral
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;2 c.sopa de suco de lim&atilde;o
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Sal e temperos a gosto (levedura nutricional sabor parmes&atilde;o, sal, cebola e alho desidratados
            </p>
            <br />
            <p class="identDIV">
                <strong>Modo de preparo:</strong>
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Hidrate as castanhas em &aacute;gua por 2 horas.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Hidrate o psyllium em 400 ml de &aacute;gua pelo mesmo tempo at&eacute; ficar na consist&ecirc;ncia de gel&eacute;ia.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Drene as castanhas.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Leve tudo ao processador.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Coloque a massa em um bowl e deixe na geladeira por 1 hora.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Desenforme e fatie.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Rende 4 por&ccedil;&otilde;es, ou seja, cada por&ccedil;&atilde;o ter&aacute; 25g de castanha de caju, o que equivale a uma por&ccedil;&atilde;o de lanche.
            </p>
        </div>
    </div>
</div>