@{
    ViewBag.Title = "Muffins de canela";
}

<h2>Muffins de canela</h2>

@Html.Partial("LogoView")

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/images/Muffins_de_canela_400.jpg" title="Muffins de canela" alt="Muffins de canela" />
            <p></p>
        </div>
        <div class="col">
            <p class="identDIV">
                <img src="~/Images/Icone_vegetariana_45.jpg" title="Vegetariana" alt="Receita vegetariana" />&nbsp;
                <img src="~/Images/Icone_low_carb_45.jpg" title="Low Carb" alt="Receita low carb" />&nbsp;
                <img src="~/Images/Icone_sem_laticinios_45.jpg" title="Sem Laticínios" alt="Receita sem laticínio" />
            </p>
            <br />
            <p class="identDIV">
                <strong>Ingredientes:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;2 ovos
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;2 c. sopa de leite de coco
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;2 c. sopa de amaranto em flocos
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;80g de batata doce cozida
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 c. ch&aacute; de canela
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 c. sopa de a&ccedil;&uacute;car de coco ou mascavo
            </p>
            <br />
            <p class="identDIV">
                <strong>Modo de Fazer:<br /></strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;Processar todos os ingredientes e colocar em formas para muffins de silicone.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Pode salpicar com nibs de cacau ou castanhas picadas.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Levar ao forno pr&eacute;-aquecido a 180 graus por 15 minutos.
            </p>
        </div>

    </div>
</div>