@{
    ViewBag.Title = "Muffins de batata doce";
}

<h2>Muffins de batata doce</h2>

@Html.Partial("LogoView")

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/images/Muffins_de_batata_doce_400.jpg" title="Muffins de batata doce" alt="Muffins de batata doce" />
            <p></p>
        </div>
        <div class="col">
            <p class="identDIV">
                <img src="~/Images/Icone_100_por_cento_vegana_45.jpg" title="Vegana" alt="Receita 100% vegana" />&nbsp;
                <img src="~/Images/Icone_sem_gluten_45.jpg" title="Sem glúten" alt="Receita sem glúten" />&nbsp;
                <img src="~/Images/Icone_sem_laticinios_45.jpg" title="Sem Laticínios" alt="Receita sem laticínio" />&nbsp;
                <img src="~/Images/Icone_paleo_diet_45.jpg" title="Paleo Diet" alt="Receita paleo diet" />&nbsp;
                <img src="~/Images/Icone_sem_adicao_de_acucar_45.jpg" title="Sem a adição de açúcar" alt="Receita sem adição de açúcar" />
            </p>
            <br />
            <p class="identDIV">
                <strong>Ingredientes:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;2 cs de batata doce cozida
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;2 cs de farinha de linha&ccedil;a dourada
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 cs de farinha de linha&ccedil;a marrom(pode substituir por 2 c. sopa de chia hidratada)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 cc de polvilho doce
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 cc de fermento
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 cs de &oacute;leo de coco
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Raspas de lim&atilde;o
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 cc de a&ccedil;afr&atilde;o, noz moscada, raspas de gengibre, sal rosa
            </p>
            <br />
            <p class="identDIV">
                <strong>Modo de Fazer:<br /></strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;Misture tudo at&eacute; a massa ficar homog&ecirc;nea.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Coloque em forminhas e leve ao micro-ondas por 6-9 minutos.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Sirva com geleia de frutas vermelhas ou queijo cremoso light.
            </p>
        </div>

    </div>
</div>
