
@{
    ViewBag.Title = "Nhoque de cabotiá";
}

<h2>Nhoque de cabotiá</h2>

@Html.Partial("LogoView")

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/images/Nhoque_de_cabotia_400.jpg" title="Nhoque de cabotiá" alt="Nhoque de cabotiá" />
            <p></p>
        </div>
        <div class="col">
            <p class="identDIV">
                <img src="~/Images/Icone_100_por_cento_vegana_45.jpg" title="Vegana" alt="100% vegana" />&nbsp;
                <img src="~/Images/Icone_sem_gluten_45.jpg" title="Sem glúten" alt="Receita sem glúten" />&nbsp;
                <img src="~/Images/Icone_low_carb_45.jpg" title="Low Carb" alt="Receita low carb" />&nbsp;
                <img src="~/Images/Icone_sem_laticinios_45.jpg" title="Sem Laticínios" alt="Receita sem laticínio" />
                <img src="~/Images/Icone_bom_para_o_coracao_45.jpg" title="Bom para o coração" alt="Receita boa para o coração" />
            </p>
            <br />
            <p class="identDIV">
                <strong>Ingredientes:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;400g de abobora caboti&aacute; descascada e picada
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;2 xicaras de farelo de aveia (100 a 130g, depende da &aacute;gua da caboti&aacute;)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Sal marinho a gosto
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;OPCIONAL: pimenta do reino, s&aacute;lvia seca ou outro tempero de seu gosto
            </p>
            <br />
            <p class="identDIV">
                <strong>Modo de Fazer:<br /></strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;Cozinhe a abobora caboti&aacute; no vapor at&eacute; ficar bem macia, mas n&atilde;o desmanchada.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Ela deve estar f&aacute;cil de ser amassada com o garfo.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Numa tigela tipo &ldquo;bowl&rdquo; amasse a caboti&aacute; com um garfo, adicione sal, pimenta e o tempero natural do seu gosto (ex: s&aacute;lvia seca em p&oacute;).
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;Adicione aos poucos o farelo de aveia e v&aacute; misturando at&eacute; obter uma massa pegajosa, mas firme.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Usando a farinha de arroz nas m&atilde;os e na superf&iacute;cie de trabalho, v&aacute; fazendo bolas quase do tamanho de bolas de t&ecirc;nis com a massa.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Depois, na superf&iacute;cie enfarinhada, abra rolinhos de cada bola, usando a farinha de arroz pra que n&atilde;o grude.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;Obtido um rolinho de uns 2 cm de di&acirc;metro, corte-o em pequenos peda&ccedil;os, os nhoques.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Repita a opera&ccedil;&atilde;o com cada bola.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Ferva pelo menos 3 litros de &aacute;gua com sal.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;Adicione os nhoques de uma vez, eles ir&atilde;o afundar.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Aguarde uns 1-2 minutos at&eacute; subirem &agrave; superf&iacute;cie: j&aacute; estar&atilde;o prontos! Agora &eacute; s&oacute; porcionar e temperar no prato com molho de tomate ou molho pesto de castanhas ou azeite &amp; s&aacute;lvia.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Enfeite a gosto.
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;<strong>ESTA &Eacute; UMA RECEITA CORINGA PARA</strong>: escondidinho de caboti&aacute;
            </p>
        </div>

    </div>
</div>