@{
    ViewBag.Title = "Nutella funcional";
}

<h2>Nutella funcional</h2>

@Html.Partial("LogoView")

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/images/Nutella_funcional_400.jpg" title="Nutella funcional" alt="Nutella funcional" />
            <p></p>
        </div>
        <div class="col">
            <p class="identDIV">
                <img src="~/Images/Icone_vegetariana_45.jpg" title="Vegetariana" alt="Receita vegetariana" />&nbsp;
                <img src="~/Images/Icone_low_carb_45.jpg" title="Low Carb" alt="Receita low carb" />&nbsp;
                <img src="~/Images/Icone_sem_gluten_45.jpg" title="Sem glúten" alt="Receita sem glúten" />&nbsp;
                <img src="~/Images/Icone_paleo_diet_45.jpg" title="Paleo Diet" alt="Receita paleo diet" />&nbsp;
                <img src="~/Images/Icone_sem_adicao_de_acucar_45.jpg" title="Sem a adição de açúcar" alt="Receita sem adição de açúcar" />&nbsp;
                <img src="~/Images/Icone_bom_para_o_coracao_45.jpg" title="Bom para o coração" alt="Receita boa para o coração" />
            </p>
            <br />
            <p class="identDIV">
                <strong>Ingredientes:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;5 c. sopa de tahine
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;30-50ml de &aacute;gua (para deixar o tahine mais fluido
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;40g de chocolate meio amargo (com &gt;60% de cacau)
            </p>
            <br />
            <p class="identDIV">
                <strong>Modo de Fazer:<br /></strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Diluir o tahine com &aacute;gua at&eacute; obter um creme macio.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Derreter o chocolate e incorporar ao tahine.
            </p>
        </div>

    </div>
</div>
