
@{
    ViewBag.Title = "Overnight oat";
}

<h2>Overnight oat</h2>

@Html.Partial("LogoView")

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/Images/Overnight_oat_400.jpg" />
            <p></p>
        </div>
        <div class="col-md-8">
            <p class="identDIV">
                <strong>Ingredientes:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Base:&nbsp;1 c. sopa de aveia em flocos, leite vegetal e cacau + ado&ccedil;ante.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1&ordf; camada: 1 fruta picada consistente (banana, manga).
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;2&ordf; camada: 1 c. sopa de aveia em flocos, coco em flocos ou geleia sem a&ccedil;&uacute;car, semente de linha&ccedil;a ou quinoa ou amaranto.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;3&ordf; camada: outra fruta (morango ou banana com canela).
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Polvilhar um pouco de ado&ccedil;ante.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;4&ordf; camada: aveia em flocos + leite vegetal + coco.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Tampar e deixar na geladeira durante a noite ou por 8 horas.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Tirar da geladeira, aquecer 30 segs. no micro-ondas e comer &agrave; tarde.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Tomar bastante &aacute;gua a seguir.
            </p>
        </div>
    </div>
</div>