
@{
    ViewBag.Title = "Overnight oat";
}

<h2>Overnight oat</h2>

@Html.Partial("LogoView")

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/Images/Overnight_oat_400.jpg" />
            <p></p>
        </div>
        <div class="col-md-8">
            <p>
                Base:&nbsp;1 c. sopa de aveia em flocos, leite vegetal e cacau + ado&ccedil;ante.
            </p>
            <br />
            <p>
                1&ordf; camada: 1 fruta picada consistente (banana, manga).
            </p>
            <br />
            <p>
                2&ordf; camada: 1 c. sopa de aveia em flocos, coco em flocos ou geleia sem a&ccedil;&uacute;car, semente de linha&ccedil;a ou quinoa ou amaranto.
            </p>
            <br />
            <p>
                3&ordf; camada: outra fruta (morango ou banana com canela).<br />
                Polvilhar um pouco de ado&ccedil;ante.
            </p>
            <br />
            <p>
                4&ordf; camada: aveia em flocos + leite vegetal + coco.<br />
                Tampar e deixar na geladeira durante a noite ou por 8 horas.
            </p>
            <br />
            <p>
                Tirar da geladeira, aquecer 30 segs. no micro-ondas e comer &agrave; tarde.<br />
                Tomar bastante &aacute;gua a seguir.
            </p>
        </div>
    </div>
</div>