@{
    ViewBag.Title = "Palak de tofu & farofa de amendoim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@Html.Partial("LogoView")
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/Images/Palak_de_tofu_e_farofa_de_amendoim_400.jpg" title="Palak de tofu &amp; farofa de amendoim" alt="Palak de tofu &amp; farofa de amendoim" />
            <p></p>
        </div>
        <div class="col">
            <p class="identDIV">
                <img src="~/Images/Icone_100_por_cento_vegana_45.jpg" title="Vegana" alt="Vegana" />&nbsp;
                <img src="~/Images/Icone_low_carb_45.jpg" title="Low Carb" alt="Receita low carb" />&nbsp;
                <img src="~/Images/Icone_sem_gluten_45.jpg" title="Sem glúten" alt="Receita sem glúten" />&nbsp;
                <img src="~/Images/Icone_sem_laticinios_45.jpg" title="Sem Laticínios" alt="Sem Laticínios" />&nbsp;
                <img src="~/Images/Icone_dieta_cetogenica_45.jpg" title="Dieta cetogênica" alt="Dieta cetogênica" />&nbsp;
            </p>
            <br />
            <p class="identDIV">
                <strong>Ingredientes para o Palak de tofu:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;100g de tofu duro, cortado em cubos ou postas
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;4 c. sopa de &oacute;leo de coco (para refogar) e azeite
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 cebola picada
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;2 dentes de alho picados
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;400 g de folhas de espinafre cozidas
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 tomate sem pele picado (com as sementes)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;60-80g de cebolinha picada
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;60-80g de salsa picada
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;60-80g de coentro picado
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;&frac12; pimenta dedo de mo&ccedil;a sem sementes, em tiras
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 c. ch&aacute; de curcumina ou curry
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 c. ch&aacute; de p&aacute;prica picante
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;500 ml de leite de coco
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;80-100g de castanhas de caju hidratadas por 8 horas
            </p>
            <br />
            <p class="identDIV">
                <strong>Ingredientes para a farofa:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;40g de amendoim torrado sem sal
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;50g de farinha de amendoim
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;3 c. sopa de quinoa branca crua
            </p>
            <br />
            <p class="identDIV">
                <strong>Modo de preparo:</strong>
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Numa panela grande, fritar no &oacute;leo de coco o alho e a cebola.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Adicionar a pimenta dedo de mo&ccedil;a, a cebolinha, a salsa e o coentro.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Mexer e adicionar a c&uacute;rcuma ou o curry, a p&aacute;prica, o tomate picado e refogue rapidamente.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Adicione metade do leite de coco e o espinafre cozido e escorrido (n&atilde;o espremido) ou cru.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;&Agrave; parte bater a castanha de caju hidratada com o restante do leite de coco e adicionar ao refogado.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Deixe cozinhar 5 minutos e desligue.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Bater o refogado no liquidificador ou com um mixer at&eacute; obter um creme grosso, o palak.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Salgar a gosto.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Numa frigideira untada (&oacute;leo de coco ou azeite) coloque os cubos ou postas de tofu e deixe grelhar de todos os lados.
            </p>

            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Salgar a gosto.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;<strong>Farofa</strong>:
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Numa frigideira adicione um pouco de azeite e adicione a quinoa.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Refogue rapidamente, adicione o amendoim e a farinha de amendoim.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Salgar a gosto.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;<strong>Montagem</strong>:
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Em um bowl, coloque 1 concha grande de palak no fundo, apoie por cima o tofu grelhado e salpique com a farofa de amendoim e quinoa.
            </p>
        </div>
    </div>
</div>