@{
    ViewBag.Title = "Panqueca de micro-ondas";
}

<h2>Panqueca de micro-ondas</h2>

@Html.Partial("LogoView")

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/images/Panqueca_de_microondas_400.jpg" />
            <P></P>
        </div>
        <div class="col">
            <p class="identDIV">
                <img src="~/Images/Icone_100_por_cento_vegana_45.jpg" title="Vegana" />&nbsp;
                <img src="~/Images/Icone_low_carb_45.jpg" title="Low Carb" />&nbsp;
                <img src="~/Images/Icone_sem_gluten_45.jpg" title="Sem glúten" />&nbsp;
                <img src="~/Images/Icone_sem_laticinios_45.jpg" title="Sem Laticínios" />
            </p>
            <br />
            <p class="identDIV">
                <strong>Ingredientes:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;3 c. sopa de farinha de milho (15g)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 x&iacute;cara de ch&aacute; de leite de sementes (140g)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 c. ch&aacute; de amaranto (1g)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 c. sopa de chia (7g)
            </p>
            <p class="identDIV">
            </p>
            <br />
            <p class="identDIV">
                <strong>Modo de Fazer:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 c. s. de farinha de aveia (6g)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Temperos doces (A&ccedil;&uacute;car. demerara, mascavo, sucralose ou de coco) ou salgados
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Mexer os ingredientes e deixar na geladeira at&eacute; o dia seguinte.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Adicionar 1 ovo inteiro, 1 c. ch&aacute; de fermento qu&iacute;mico.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Em refrat&aacute;rio untado, levar ao micro-ondas em pot&ecirc;ncia m&aacute;xima por 5 minutos.
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;<strong>Opcional: Cortar e tostar na frigideira.</strong>
            </p>
        </div>

    </div>
</div>
