
@{
    ViewBag.Title = "Panqueca de cacau sacietogênica";
}

<h2>Panqueca de cacau sacietogênica</h2>

@Html.Partial("LogoView")

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/images/Panqueca_de_cacau_sacietogenica_400.jpg" title="Panqueca de cacau sacietogênica" alt="Panqueca de cacau sacietogênica" />
            <p></p>
        </div>
        <div class="col">
            <p class="identDIV">
                <img src="~/Images/Icone_vegetariana_45.jpg" title="Vegetariana" alt="Receita vegetariana" />&nbsp;
                <img src="~/Images/Icone_low_carb_45.jpg" title="Low Carb" alt="Receita low carb" />&nbsp;
                <img src="~/Images/Icone_sem_gluten_45.jpg" title="Sem glúten" alt="Receita sem glúten" />&nbsp;
                <img src="~/Images/Icone_sem_laticinios_45.jpg" title="Sem Laticínios" alt="Receita sem laticínio" />&nbsp;
                <img src="~/Images/Icone_sem_adicao_de_acucar_45.jpg" title="Sem a adição de açúcar" alt="Receita sem adição de açúcar" />&nbsp;
                <img src="~/Images/Icone_bom_para_o_coracao_45.jpg" title="Bom para o coração" alt="Receita boa para o coração" />
            </p>
            <br />
            <p class="identDIV">
                <strong>Ingredientes:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 banana madura
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 ovo inteiro
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 c. sobremesa de cacau em p&oacute;
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 c. sopa de farinha de aveia (ou farelo)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 pitada de canela
            </p>
            <br />
            <p class="identDIV">
                <strong>Modo de Fazer:<br /></strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Amassar todos os ingredientes juntos e levar ao fogo em panela antiaderente at&eacute; cozinhar
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Servir simples ou com uma cobertura de geleia sem a&ccedil;&uacute;car, creme de abacate com whey/prote&iacute;na de arroz integral, <a href="/Receitas/Nutella_funcional">nutella funcional</a>
            </p>
        </div>

    </div>
</div>
