@{
    ViewBag.Title = "Pão de milho de micro ondas";
}

<h2>Pão de milho de micro ondas</h2>

@Html.Partial("LogoView")

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/images/Pao_sem_glúten_de_milho_de_micro_ondas_400.jpg" />
            <p></p>
        </div>
        <div class="col">
            <p class="identDIV">
                <img src="~/Images/Icone_vegetariana_45.jpg" title="Vegetariana" />&nbsp;
                <img src="~/Images/Icone_sem_gluten_45.jpg" title="Sem glúten" />&nbsp;
                <img src="~/Images/Icone_sem_laticinios_45.jpg" title="Sem Laticínios" />
            </p>
            <br />
            <p class="identDIV">
                <strong>Ingredientes:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;2 cs de fub&aacute;
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;2 cs de amido de milho
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 cs de ado&ccedil;ante culin&aacute;rio (se preferir salgado 1/2 cc de sal e 2 cc de ado&ccedil;ante)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 cs de &oacute;leo de coco (pode usar outro &oacute;leo)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;2 cs de &aacute;gua
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 cs de farinha de linha&ccedil;a dourada
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 ovo
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 cc de fermento
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 cs de &oacute;leo de coco (pode usar outro &oacute;leo)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;2 cs de &aacute;gua
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 cs de farinha de linha&ccedil;a dourada (pra dar a maciez
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 cc de fermento.
            </p>
            <br />
            <p class="identDIV">
                <strong>Modo de Fazer:<br /></strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Microondas por 2 minutos em refrat&aacute;rio untado com &oacute;leo ou com manteiga
            </p>
        </div>

    </div>
</div>