
@{
    ViewBag.Title = "Pão de forma (keto low carb)";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@Html.Partial("LogoView")
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/Images/Pao_de_forma-keto_low_carb_400.jpg" title="" alt="" />
            <p></p>
        </div>
        <div class="col">
            <p class="identDIV">
                <img src="~/Images/Icone_vegetariana_45.jpg" title="Vegetariana" alt="Vegetariana" />&nbsp;
                <img src="~/Images/Icone_low_carb_45.jpg" title="Low Carb" alt="Receita low carb" />&nbsp;
                <img src="~/Images/Icone_sem_gluten_45.jpg" title="Sem glúten" alt="Receita sem glúten" />&nbsp;
                <img src="~/Images/Icone_sem_laticinios_45.jpg" title="Sem Laticínios" alt="Sem Laticínios" />&nbsp;
                <img src="~/Images/Icone_dieta_cetogenica_45.jpg" title="Dieta cetogênica" alt="Dieta cetogênica" />&nbsp;
            </p>
            <br />
            <p class="identDIV">
                <strong>Ingredientes: (1 p&atilde;o de 15 fatias)</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;6 ovos inteiros
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1/3 xic. ch&aacute; de azeite
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1/3 xic. ch&aacute; de &aacute;gua
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;65g de farinha de coco
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;50g de farinha de linha&ccedil;a dourada
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1c. ch&aacute; de psyllium
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1c. sopa de fermento qu&iacute;mico
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1/2c. ch&aacute; de sal
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1/4 c. ch&aacute; de canela em p&oacute;
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Sementes de gergelim ou girassol ou chia para polvilhar
            </p>
            <br />
            <p class="identDIV">
                <strong>Modo de preparo:</strong>
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Pr&eacute;-aque&ccedil;a o forno a 190 graus.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Em uma tigela grande misture ovos, azeite e &aacute;gua.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Adicione aos poucos todos os ingredientes secos.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Unte uma forma de bolo retangular com manteiga, coloque a massa e polvilhe com as sementes.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Deixe assar por 35 a 40 min. at&eacute; que a massa fique dourada.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Espere esfriar 15-20 min. antes de retirar da forma.
            </p>
            <br />
            <p class="identDIV">
                <strong>Rende um p&atilde;o de 15 fatias, cada uma com:</strong>
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;107 calorias,
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1,93g de carbo,
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;4g de prote&iacute;na
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;9,4g de gordura e
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;2,3g de fibras.
            </p>
        </div>
    </div>
</div>