@{
    ViewBag.Title = "Pão de chia";
}

<h2>Pão de chia</h2>

@Html.Partial("LogoView")

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/images/Pao_de_chia_400.jpg" title="Pão de chia" alt="Pão de chia" />
            <P></P>
        </div>
        <div class="col">
            <p class="identDIV">
                <img src="~/Images/Icone_100_por_cento_vegana_45.jpg" title="Vegana" alt="Receita 100% vegana" />&nbsp;
                <img src="~/Images/Icone_sem_gluten_45.jpg" title="Sem glúten" alt="Receita sem glúten" />&nbsp;
                <img src="~/Images/Icone_sem_laticinios_45.jpg" title="Sem Laticínios" alt="Receita sem laticínio" />&nbsp;
                <img src="~/Images/Icone_paleo_diet_45.jpg" title="Paleo Diet" alt="Receita paleo diet" />&nbsp;
            </p>
            <br />
            <p class="identDIV">
                <strong>Ingredientes:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;500g mandioquinha cozida, amassada sem casca
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;500g polvilho azedo
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;2 colheres de ch&aacute; de sal
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;3 colheres de sopa de chia
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;150 ml azeite
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;&Aacute;gua em temperatura ambiente quanto baste
            </p>
            <br />
            <p class="identDIV">
                <strong>Modo de Fazer:<br /></strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Misture o polvilho com o azeite e o sal at&eacute; formar uma farofa.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Adicione a mandioquinha e amasse bem.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Adicione aos poucos a &aacute;gua at&eacute; a massa ficar molinha, gostosa de trabalhar e desgrudar das m&atilde;os.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Adicione a chia e misture at&eacute; ela se integrar &agrave; massa.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Leve ao forno m&eacute;dio at&eacute; que fiquem levemente douradas.
            </p>
        </div>

    </div>
</div>
