
@{
    ViewBag.Title = "Pão de batata doce";
}

<h2>Pão de batata doce</h2>

@Html.Partial("LogoView")

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/images/Pao_de_batata_doce_400.jpg" title="Pão de batata doce" alt="Pão de batata doce" />
            <p></p>
        </div>
        <div class="col">
            <p class="identDIV">
                <img src="~/Images/Icone_100_por_cento_vegana_45.jpg" title="Vegana" alt="Receita 100% vegana" />&nbsp;
                <img src="~/Images/Icone_sem_gluten_45.jpg" title="Sem glúten" alt="Receita sem glúten" />&nbsp;
                <img src="~/Images/Icone_sem_laticinios_45.jpg" title="Sem Laticínios" alt="Receita sem laticínio" />&nbsp;
            </p>
            <br />
            <p class="identDIV">
                <strong>Ingredientes:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 xic. de batata doce cozida e bem amassada
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 c. sopa cheia de polvilho azedo
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;2 c. sopa cheias de polvilho doce
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 c. sobremesa de azeite de oliva
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 c.de ch&aacute; de or&eacute;gano
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 c.de caf&eacute; de a&ccedil;afr&atilde;o em p&oacute; (pode ser c&uacute;rcuma em p&oacute;)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Sal a gosto
            </p>
            <br />
            <p class="identDIV">
                <strong>Modo de Fazer:<br /></strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Misture tudo at&eacute; a massa ficar homog&ecirc;nea e se soltar das m&atilde;os.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Fa&ccedil;a bolinhas semelhantes ao p&atilde;o de queijo e asse em forno pr&eacute;-aquecido por 30-40 min ou at&eacute; ficarem ligeiramente dourados.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Pode adicionar farinha de chia ou linha&ccedil;a para diminuir o &iacute;ndice glic&ecirc;mico.
            </p>
        </div>

    </div>
</div>
