@{
    ViewBag.Title = "Pao de frigideira";
}

<h2>Pao de frigideira</h2>

@Html.Partial("LogoView")

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/images/Pao_de_frigideira_400.jpg" />
            <p></p>
        </div>
        <div class="col">
            <p class="identDIV">
                <img src="~/Images/Icone_vegetariana_45.jpg" title="Vegetariana" alt="Receita vegetariana" />&nbsp;
                <img src="~/Images/Icone_low_carb_45.jpg" title="Low Carb" alt="Receita low carb" />&nbsp;
                <img src="~/Images/Icone_sem_gluten_45.jpg" title="Sem glúten" alt="Receita sem glúten" />&nbsp;
                <img src="~/Images/Icone_sem_laticinios_45.jpg" title="Sem Laticínios" alt="Receita sem laticínio" />&nbsp;
                <img src="~/Images/Icone_bom_para_o_coracao_45.jpg" title="Bom para o coração" alt="Receita boa para o coração" />
            </p>
            <br />
            <p class="identDIV">
                <strong>Ingredientes:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 ovo
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 cs de farinha de polvilho ou arroz ou fub&aacute; de milho
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 cs de linha&ccedil;a mo&iacute;da
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 cs de farelo de aveia
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 c. sobremesa de azeite
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 c. ch&aacute; de fermento qu&iacute;mico
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Sal e tempero de ervas a gosto
            </p>
            <br />
            <p class="identDIV">
                <strong>Modo de Fazer:<br /></strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Misturar bem at&eacute; obter um creme.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Aquecer uma frigideira com um pouco de &oacute;leo (usei de coco), despejar a mistura at&eacute; formar o p&atilde;o.
            </p>
        </div>

    </div>
</div>
