@{
    ViewBag.Title = "Pão de espinafre";
}

<h2>Pão de espinafre</h2>

@Html.Partial("LogoView")

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/images/Pao_de_espinafre_400.jpg" title="Pão de espinafre" alt="Pão de espinafre" />
        </div>
        <div class="col">
            <p class="identDIV">
                <img src="~/Images/Icone_100_por_cento_vegana_45.jpg" title="Vegana" alt="Receita 100% vegana" />&nbsp;
                <img src="~/Images/Icone_sem_gluten_45.jpg" title="Sem glúten" alt="Receita sem glúten" />&nbsp;
                <img src="~/Images/Icone_sem_laticinios_45.jpg" title="Sem Laticínios" alt="Receita sem laticínios" />&nbsp;
            </p>
            <br />
            <p class="identDIV">
                <strong>Ingredientes:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 xic de espinafre congelado
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;5 cs de farinha de arroz e quinoa
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 cs de chia hidratada
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 c. ch&aacute; de polvilho azedo
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Sal rosa
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 cc de fermento qu&iacute;mico
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Tempero Z&aacute;tar a gosto
            </p>
            <br />
            <p class="identDIV">
                <strong>Modo de Fazer:<br /></strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Misturar todos os ingredientes com uma colher at&eacute; obter uma massa bem grossa.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Untar uma forma, fazer 3-4 p&atilde;es e levar ao forno quente (200 graus) por 15 minutos.
            </p>
        </div>

    </div>
</div>
