
@{
    ViewBag.Title = "Pão de hambúrguer - keto cetogênico";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@Html.Partial("LogoView")
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/Images/Pao_de_hamburguer_keto_cetogenico_400.jpg" title="Pão de hambúrguer - keto cetogênico" alt="Pão de hambúrguer - keto cetogênico" />
            <p></p>
        </div>
        <div class="col">
            <p class="identDIV">
                <img src="~/Images/Icone_vegetariana_45.jpg" title="Vegetariana" alt="Vegetariana" />&nbsp;
                <img src="~/Images/Icone_low_carb_45.jpg" title="Low Carb" alt="Receita low carb" />&nbsp;
                <img src="~/Images/Icone_sem_gluten_45.jpg" title="Sem glúten" alt="Receita sem glúten" />&nbsp;
                <img src="~/Images/Icone_sem_laticinios_45.jpg" title="Sem Laticínios" alt="Sem Laticínios" />&nbsp;
                <img src="~/Images/Icone_dieta_cetogenica_45.jpg" title="Dieta cetogênica" alt="Dieta cetogênica" />&nbsp;
                <img src="~/Images/Icone_paleo_diet_45.jpg" title="Paleo diet" alt="Paleo diet" />&nbsp;
            </p>
            <br />
            <p class="identDIV">
                <strong>Ingredientes (6 por&ccedil;&otilde;es):</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;150g de farinha de am&ecirc;ndoa
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;40g de psyllium em p&oacute;
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;2 c. ch&aacute; de fermento qu&iacute;mico em p&oacute;
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;225 ml de &aacute;gua fervendo
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;3 claras
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 c. sopa de gergelim (para enfeitar)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 pitada de sal
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 pitada de vinagre de ma&ccedil;&atilde;
            </p>
            <br />
            <p class="identDIV">
                <strong>Modo de preparo:</strong>
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Pr&eacute;-aquecer o forno a 180&deg; C.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Misturar a farinha de am&ecirc;ndoa, o psyllium, o fermento e o sal numa tigela.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Ferver a &aacute;gua e adicion&aacute;-la &agrave; mistura, junto com o vinagre e as claras de ovo.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Bater &agrave; m&atilde;o por 30 segundos com um garfo ou um batedor.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Unte as m&atilde;os com azeite e separe a mistura em 6 por&ccedil;&otilde;es.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Fa&ccedil;a bolas e coloque os p&atilde;es em uma assadeira coberta com papel manteiga.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Asse por 50-60 min em forno convencional (30-40 min em forno el&eacute;trico), dependendo do tamanho do p&atilde;o.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Estar&atilde;o prontos quando o p&atilde;o ficar bem dourado por fora.
            </p>
        </div>
    </div>
</div>