
@{
    ViewBag.Title = "Pesto com tofú";
}

<h2>Pesto com tofú</h2>

@Html.Partial("LogoView")

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/images/Pesto_com_tofu_400.jpg" />
            <span class="referencia">
                By Luca Nebuloni from Milan, Italy - Avocado Toast, CC BY 2.0, <a target="_blank" href="https://commons.wikimedia.org/w/index.php?curid=50854381">Imagem original</a>
            </span>

            <p></p>
        </div>
        <div class="col">
            <p><strong>Ingredientes:</strong></p>
            <br />
            <p>
                1 bandeja de manjeric&atilde;o (35g)<br />
                1 punhado de castanhas ou nozes (15g)<br />
                1 x&iacute;cara de ch&aacute; de azeite<br />
                Sal marinho a gosto<br />
                &frac12; tofu soft (125g)
            </p>
            <p>
                <strong>Modo de Fazer:</strong><br />
                Bater os ingredientes para o pesto e por &uacute;ltimo adicionar o tofu, at&eacute; obter um pat&ecirc; cremoso.
            </p>
            <p>
                <strong>Uso:</strong><br />
                Passar no p&atilde;o, temperar macarr&atilde;o ou recheio de panqueca.
            </p>
        </div>
    </div>
</div>

