@{
    ViewBag.Title = "Pizza de omelete";
}

<h2>Pizza de omelete</h2>

@Html.Partial("LogoView")

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/images/Pizza_de_omelete_400.jpg" />
            <p></p>
        </div>
        <div class="col">
            <p class="identDIV">
                <img src="~/Images/Icone_vegetariana_45.jpg" title="Vegetariana" />&nbsp;
                <img src="~/Images/Icone_low_carb_45.jpg" title="Low Carb" />&nbsp;
                <img src="~/Images/Icone_sem_gluten_45.jpg" title="Sem glúten" />
            </p>
            <br />
            <p class="identDIV">
                <strong>Ingredientes:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;
                <strong>Massa:</strong>
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 ovo inteiro + 4 claras
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 colher (sopa) de queijo ralado
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Sal e pimenta a gosto
            </p>
            <br />
            <p>
                <strong>Cobertura:</strong>
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 colheres (sopa) de azeite
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1/2 dente de alho picado
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;2 tomates sem pele e sem sementes, picados
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Sal e pimenta a gosto
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1colher de ch&aacute; do <a href="#tempero">tempero para pizza*</a> sugerido ou apenas or&eacute;gano/manjeric&atilde;o
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1/2 ma&ccedil;o de escarola ou br&oacute;colis lavado e picado (depois de pronto, folhas de r&uacute;cula lavadas)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;100 g de mu&ccedil;arela de b&uacute;fala em rodelas (hoje se escreve com &ccedil;)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Folhas de manjeric&atilde;o a gosto
            </p>
            <br />
            <p class="identDIV">
                <strong>Modo de Fazer:<br /></strong>
            </p>
            <br />
            <p class="identDIV">
                <strong>Massa:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Bata os ovos e misture o queijo ralado
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Tempere com o sal e a pimenta
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Com o azeite, unte uma frigideira antiaderente
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Ponha a mistura de ovos e, no fogo baixo, doure a omelete dos dois lados
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Transfira para uma assadeira e deixe esfriar um pouco
            </p>
            <br />
            <p class="identDIV">
                <strong>Cobertura:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Aque&ccedil;a o azeite e doure o alho
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Junte o tomate, tempere com o sal, a pimenta e refogue por cinco minutos.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Espalhe sobre a omelete
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Na mesma panela refogue a escarola/br&oacute;colis temperada com sal at&eacute; murchar e ponha sobre o tomate.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Coloque as rodelas de mu&ccedil;arela e as folhas de manjeric&atilde;o
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Regue com azeite e leve ao forno por 10-15 minutos
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Sirva em seguida
            </p>
            <br />
            <p class="identDIV" id="tempero">
                <strong>* Tempero para pizza:</strong>
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Partes iguais de Tomilho, Manjeric&atilde;o, Or&eacute;gano e Alecrim (tudo desidratado)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Misture tudo e guarde em um vidro com tampa
            </p>
        </div>
    </div>
</div>