@{
    ViewBag.Title = "Pizza sem glúten de quinua";
}

<h2>Pizza sem glúten de quinua</h2>

@Html.Partial("LogoView")

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/images/Pizza_sem_gluten_de_quinua_400.jpg" title="Pizza sem glúten de quinua" alt="Pizza sem glúten de quinua" />
            <p></p>
        </div>
        <div class="col">
            <p class="identDIV">
                <img src="~/Images/Icone_vegetariana_45.jpg" title="Vegetariana" alt="Receita vegetariana" />&nbsp;
                <img src="~/Images/Icone_sem_gluten_45.jpg" title="Sem glúten" alt="Receita sem glúten" />&nbsp;
                <img src="~/Images/Icone_sem_laticinios_45.jpg" title="Sem Laticínios" alt="Receita sem laticínios" />&nbsp;
            </p>
            <br />
            <p class="identDIV">
                <strong>Massa:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1/2 x&iacute;cara de amido de milho (maisena)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;2 colheres de sopa de semente de linha&ccedil;a
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;2 colheres de sopa de quinua em flocos
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 x&iacute;cara de polvilho azedo
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 x&iacute;cara de farinha de arroz
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;2 colheres (sopa) de &oacute;leo
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 colher (sopa) cheia de fermento em p&oacute;
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;2 ovos
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 x&iacute;cara de &aacute;gua sal a gosto<br /> <br />
            </p>
            <br />
            <p class="identDIV">
                <strong>Modo de Fazer:<br /></strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Bata os ovos, junte o &oacute;leo e aos poucos acrescente o amido de milho, a farinha de arroz, o polvilho e a linha&ccedil;a.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Acrescente a &aacute;gua e misture bem at&eacute; formar uma massa pegajosa.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Coloque o fermento em p&oacute; e mexa bem.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Tempere com sal e pimenta do reino e coloque em uma forma redonda untada com &oacute;leo.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Leve ao forno quente para assar por alguns minutos.
            </p>
        </div>

    </div>
</div>