
@{
    ViewBag.Title = "Pudim de chia";
}

<h2>Pudim de chia</h2>

@Html.Partial("LogoView")

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/Images/Pudim_de_chia_400.jpg" />
            <p></p>
        </div>
        <div class="col">
            <p class="identDIV">
                <img src="~/Images/Icone_vegetariana_45.jpg" title="Vegetariana" />&nbsp;
                <img src="~/Images/Icone_low_carb_45.jpg" title="Low Carb" />&nbsp;
                <img src="~/Images/Icone_sem_gluten_45.jpg" title="Sem glúten" />&nbsp;
                <img src="~/Images/Icone_bom_para_o_coracao_45.jpg" title="Bom para o coração" />
            </p>
            <br />
            <p class="identDIV">
                Obs.: Existe a op&ccedil;&atilde;o vegana.
            </p>
            <br />
            <p class="identDIV">
                <strong>Ingredientes:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;2 colheres de sopa de semente de Chia
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;&frac12; copo de &aacute;gua (100ml)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 xicara de morangos congelados
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 c.sobremesa de xilitol
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;100ml de iogurte desnatado ou iogurte de sementes ou cheam cheese light com xilitol
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;2 colheres de sopa de semente de Chia
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;&frac12; copo de &aacute;gua (100ml)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 xicara de mirtilos congelados
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 c.sobremesa de xilitol
            </p>
            <br />
            <p class="identDIV">
                <strong>Modo de Fazer:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Bater no liquidificador os morangos congelados com a &aacute;gua e o xilitol.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Adicionar a chia e levar &agrave; geladeira por 2 horas.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Bater no liquidificador os mirtilos congelados com a &aacute;gua e o xilitol.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Adicionar a chia e levar &agrave; geladeira por 2 horas.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Colocar o pudim de chia com mirtilos no fundo de um copo e congelar por 1-2 horas.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Com o pudim congelado, fazer uma camada de iogurte desnatado/cream cheese e depois fazer a ultima camada com o pudim de morango.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Levar &agrave; geladeira.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Na hora de servir enfeitar com uma fruta colorida e (manga, kiwi, abacate, coco em lasca e PIMENTA ROSA.
            </p>

        </div>
    </div>
</div>