
@{
    ViewBag.Title = "Purê de inhame & cabotiá com ragú de shimeji e aspargos grelhados";
}

<h2>Purê de inhame & cabotiá com ragú de shimeji e aspargos grelhados</h2>

@Html.Partial("LogoView")
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/Images/Pure_de_inhame_e_cabotiá_com_ragu_e_shimeji_e_aspargos_grelhados_400.jpg" />
            <p></p>
        </div>
        <div class="col">
            <p>
                Rende 3 por&ccedil;&otilde;es
            </p>
            <br />
            <p>
                <strong>Ingredientes para o pur&ecirc;:</strong><br />
                4 inhames assados no vapor<br />
                1/3 de abobora caborian picada e assada no vapor<br />
                Um pouco de leite de sementes (aveia)
                <br />
                &frac14; de cebola <br />
                1 c.ch&aacute; de a&ccedil;afr&atilde;o da terra (curcuma)<br />
                Pimenta, sal e salsinha<br />
                Azeite de pimenta
            </p>
            <br />
            <p>
                <strong>Ingredientes para o rag&uacute;:</strong><br />
                200g de shimeji<br />
                1 cebola picada<br />
                1 talo de alho por&oacute; picado<br />
                8-10 tomates cereja cortados ao meio<br />
                150ml de vinho tinto seco<br />
                50ml de leite vegetal (aveia)<br />
                2 c.s de shoyu<br />
                1 ma&ccedil;o de aspargos crus
            </p>
            <br />
            <p>
                <strong>Preparo do pur&ecirc;:</strong><br />
                Liquidificar os inhames e a cabotiá assados no vapor com um pouco de leite de aveia,<br />
                adicionar a cebola, o a&ccedil;afr&atilde;o, a pimenta do reino e sal.<br />
                Depois de batido adicionar a salsinha.
            </p>
            <br />
            <p>
                <strong>Preparo do rag&uacute;:</strong><br />
                Refogar no azeite a cebola, o alho por&oacute; e adicionar os tomates.<br />
                N&atilde;o deixe juntar &aacute;gua, mantenha o fogo m&eacute;dio-alto.<br />
                Adicione o shimeji, refogue rapidamente e adicione o vinho.<br />
                Depois de quase seco, adicionar o leite de aveia e o shoyu.<br />
                Ajustar o sal e colocar bastante cebolinha.
            </p>
            <br />
            <p>
                <strong>Aspargos:</strong><br />
                Grelhar os aspargos crus em panela com grelha, usando pouco azeite.<br />
                Retire a parte do talo se fucar dura (a ponta apenas).<br />
                Salgue e corte em peda&ccedil;os de 5 cm.
            </p>
            <br />
            <p>
                <strong>Monte o prato:</strong><br />
                Num prato fundo coloque o pur&ecirc;, por cima e no centro o ragu e enfeite com os aspargos.
            </p>
        </div>
    </div>
</div>
