@{
    ViewBag.Title = "Queijo vegano";
}

<h2>Queijo vegano</h2>

@Html.Partial("LogoView")

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img img class="img-responsive" src="~/images/Queijo_vegano_400.jpg" />
            <p></p>
        </div>
        <div class="col">
            <p class="identDIV">
                <img src="~/Images/Icone_100_por_cento_vegana_45.jpg" title="Vegana" />&nbsp;
                <img src="~/Images/Icone_low_carb_45.jpg" title="Low Carb" />&nbsp;
                <img src="~/Images/Icone_sem_gluten_45.jpg" title="Sem glúten" />&nbsp;
                <img src="~/Images/Icone_sem_laticinios_45.jpg" title="Sem Laticínios" />&nbsp;
                <img src="~/Images/Icone_paleo_diet_45.jpg" title="Paleo Diet" />&nbsp;
                <img src="~/Images/Icone_bom_para_o_coracao_45.jpg" title="Bom para o coração" />
            </p>
            <br />
            <p class="identDIV">
                <strong>Ingredientes:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 xic de castanhas (caju ou am&ecirc;ndoa ou macad&acirc;mia etc.) deixadas em &aacute;gua por 8 horas para hidratar
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;&frac12; x&iacute;cara de &aacute;gua
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;suco de &frac12; lim&atilde;o (se gostar, pode por mais)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;2 c. sopa de azeite extra virgem
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 c. ch&aacute; de sal
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 c. sobremesa de polvilho azedo
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 c. sopa de &aacute;gar &aacute;gar tipo KANTEN
            </p>
            <br />
            <p class="identDIV">
                <strong>Modo de Fazer:<br /></strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Bater as castanhas hidratadas no liquidificador junto com a &aacute;gua (n&atilde;o coloque tudo, v&aacute; adicionando e observando a consist&ecirc;ncia), o sal, o azeite, o polvilho, o lim&atilde;o e o &aacute;gar &aacute;gar.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Bater at&eacute; obter um creme liso.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Leve ao fogo em panela convencional, at&eacute; a fervura, mexendo sempre.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;O ponto &eacute; quando a mistura come&ccedil;ar a desgrudar do fundo, no m&aacute;ximo 5 minutos (de fervura).
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Coloque em forminha e leve &agrave; geladeira por 2 horas antes de servir.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;O queijo deve ficar em ponto de corte.
            </p>
        </div>

    </div>
</div>
