@{
    ViewBag.Title = "Receita prato único completo em 20 minutos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@Html.Partial("LogoView")
<hr />
<h2>@ViewBag.Title</h2>
<hr />

<div class="embed-responsive embed-responsive-4by3">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/AHbYqMqZTdQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

