@{
    ViewBag.Title = "Salada Fria De Macarrão";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@Html.Partial("LogoView")
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/Images/Salada_de_macarrao_400.jpg" title="" alt="" />
            <p></p>
        </div>
        <div class="col">
            <p class="identDIV">
                <img src="~/Images/Icone_receita_tradicional_italiana_45.jpg" title="Receita tradicional italiana" alt="Receita tradicional italiana" />&nbsp;
                <img src="~/Images/Icone_vegetariana_45.jpg" title="Vegetariana" alt="Vegetariana" />&nbsp;
            </p>
            <br />
            <p class="identDIV">
                <strong>Ingredientes - Calcule para cada pessoa:</strong>
            </p>
            <br />
            <p class="identDIV">
                <em>
                    &nbsp;&nbsp;&nbsp;&nbsp;Macarrão integral Barilla ou similar:
                </em>
            </p>
            <p class="identDIV">
                <ul>
                    <li>
                        50g mulher
                    </li>
                    <li>
                        80g homem;
                    </li>
                </ul>
            </p>
            <br />
            <p class="identDIV">
                <strong>Para a salada:</strong>
            </p>
            <br />
            <p class="identDIV">
                <em>
                    &nbsp;&nbsp;&nbsp;&nbsp;Macarrão integral Barilla ou similar:
                </em>
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Bacia grande com &aacute;gua e gelo.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;
            </p>
            <br />
            <p class="identDIV">
                <strong>Modo de preparo:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;
            </p>
        </div>
    </div>
</div>