@{
    ViewBag.Title = "Salada Fria De Macarrão";
}

<h2>@ViewBag.Title</h2>

@Html.Partial("LogoView")

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/Images/Salada_de_macarrao_400.jpg" title="" alt="" />
            <p></p>
        </div>
        <div class="col">
            <p class="identDIV">
                <img src="~/Images/Icone_receita_tradicional_italiana_45.jpg" title="Receita tradicional italiana" alt="Receita tradicional italiana" />&nbsp;
                <img src="~/Images/Icone_vegetariana_45.jpg" title="Vegetariana" alt="Vegetariana" />&nbsp;
            </p>
            <br />
            <p class="identDIV">
                <strong>Ingredientes - Calcule para cada pessoa:</strong>
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Bacia grande com água e gelo.
            </p>
            <p class="identDIV">
                <em>
                    &nbsp;&nbsp;&nbsp;&nbsp;Macarrão integral Barilla ou similar:
                </em>
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- 50 g mulher
                <br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- 80 g homem
            </p>
            <br />
            <p class="identDIV">
                <strong>Para a salada:</strong>
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Muçarela de búfala cerejinha (3-4 unidades/pessoa) ou queijo branco em cubos (4 cubos/pessoa)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Tomate cereja (3-4 unidades/pessoa, cortados ao meio)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Alho poro refogado (1 talo pequeno) ou 1 abobrinha em cubos/rodelas cubos refogados
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Azeitona tipo Azapa chilena (2-3 unidades/pessoa)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Rúcula picada (1/2 maço)
            </p>
            <br />
            <p class="identDIV">
                <strong>ADICIONAIS OPTATIVOS:</strong>
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Berinjela em conserva, 1 fatia picada por pessoa
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Coração de alcachofra em conserva, 2 metades por pessoa.
            </p>
            <br />
            <p class="identDIV">
                <strong>Temperos:</strong>
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 Cebola roxa pequena em fatias finas (4 pessoas)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;2-3 dentes de alho esmagados
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 ramo de alecrim (será retirado)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Manjericão ou alfavaca frescos, 1 c. sopa de folhas/pessoa
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Suco e fatias de limão siciliano OU Aceto balsâmico
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Sal a gosto
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Azeite extra virgem
            </p>
            <p class="identDIV">
                <strong>Para finalizar:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Ricota defumada e ralada para polvilhar na hora de servir
            </p>
            <br />
            <p class="identDIV">
                <strong>Modo de faze:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Fazer uma marinada com os temperos: alho levemente esmagado, alecrim, suco de limão, cebola roxa e a muçarela/queijo branco, tomates cereja, alho porró ou abobrinha, azeitonas – berinjela e coração de alcachofra e deixar pegar gosto por 1 hora.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Retirar o alecrim e os dentes de alho.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Cozinhe o macarrão, escorra e jogue na bacia de água com gelo para resfriamento rápido.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Deixe esfriar por 5 minutos e escorra novamente.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Com o macarrão frio, misture os ingredientes da marinada e por último adicione rúcula picada crua.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Tempere com azeite e ajuste sal.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Sirva com ricota defumada ralada.
            </p>
        </div>
    </div>
</div>