
@{
    ViewBag.Title = "Shitakes assados ao pesto com tofu vegano";
}

<h2>Shitakes assados ao pesto com tofu vegano</h2>

@Html.Partial("LogoView")

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/Images/Shitakes_assados_ao_pesto_com_tofu_vegano_400.jpg" title="Shitakes assados ao pesto com tofu vegano" alt="Shitakes assados ao pesto com tofu vegano" />
            <p></p>
        </div>
        <div class="col">
            <p class="identDIV">
                <img src="~/Images/Icone_100_por_cento_vegana_45.jpg" title="Vegana" alt="Receita 100% vegana" />&nbsp;
                <img src="~/Images/Icone_low_carb_45.jpg" title="Low Carb" alt="Receita low carb" />&nbsp;
                <img src="~/Images/Icone_sem_gluten_45.jpg" title="Sem glúten" alt="Receita sem glúten" />&nbsp;
                <img src="~/Images/Icone_sem_laticinios_45.jpg" title="Sem Laticínios" alt="Receita sem laticínios" />&nbsp;
                <img src="~/Images/Icone_bom_para_o_coracao_45.jpg" title="Bom para o coração" alt="Receita boa para o coração" />
            </p>
            <br />
            <p class="identDIV">
                <strong>Ingredientes:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;200g de shitake
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 receita de <a href="/Receitas/Pesto_com_tofu">pesto de tofu</a>
            </p>
            <br />
            <p>
                <strong>Modo de Fazer:</strong><br />
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;<br />
                (n&atilde;o lave em &aacute;gua corrente, vai encharcar os cogumelos).
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Unte uma assadeira e disponha os shitakes virados com a parte c&ocirc;ncava para cima.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Coloque 1 c. sopa de pesto com tofu preenchendo cada shitake e leve ao forno m&eacute;dio pr&eacute;-aquecido (180 graus) por 10 minutos.<br />
            </p>
            <br />
            <p>
                <strong>Sirva</strong> como entrada ou prato principal.
            </p>
        </div>
    </div>
</div>