
@{
    ViewBag.Title = "Pós treino | Smoothie antioxidante";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@Html.Partial("LogoView")
<div class="container">
    <div class="row">
        <div class="col">
            <p class="identDIV">
                <img src="~/Images/Icone_100_por_cento_vegana_45.jpg" title="Vegana" alt="Vegana" />&nbsp;
                <img src="~/Images/Icone_low_carb_45.jpg" title="Low Carb" alt="Receita low carb" />&nbsp;
                <img src="~/Images/Icone_sem_gluten_45.jpg" title="Sem glúten" alt="Receita sem glúten" />&nbsp;
                <img src="~/Images/Icone_sem_laticinios_45.jpg" title="Sem Laticínios" alt="Sem Laticínios" />&nbsp;
                <img src="~/Images/Icone_bom_para_o_coracao_45.jpg" title="Bom para o coração" alt="Bom para o coração" />&nbsp;
                <img src="~/Images/Icone_paleo_diet_45.jpg" title="Paleo diet" alt="Paleo diet" />
            </p>
            <br />
            <p class="identDIV">
                <strong>Ingredientes:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;&frac14; de xic. ou 60g de jabuticaba com a casca e sem caro&ccedil;o
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;&frac14; de xic. ou 60g de polpa de acerola
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;&frac14; de xic. ou 60g de polpa de a&ccedil;a&iacute;
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;&frac14; de xic. ou 50 ml de leite de castanhas
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 scoop ou 125g de prote&iacute;na vegana
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 t&acirc;mara sem caro&ccedil;o
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 c. sopa ou 10g de &oacute;leo de coco extravirgem ou TCM
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;2 xic. ou 300g de cubos de gelo
            </p> 
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;6 comprimidos de alga clorella
            </p>
            <br />
            <p class="identDIV">
                <strong>Modo de preparo:</strong>
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Bater no liquidificador todos os ingredientes menos os cubos de gelo.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Beba em seguida.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Rendimento: 1 por&ccedil;&atilde;o de 425 ml.
            </p>
        </div>
    </div>
</div>