
@{
    ViewBag.Title = "Sopa funcional antioxidante (sopa em pedaços)";
}

<h2>Sopa funcional antioxidante (sopa em pedaços)</h2>

@Html.Partial("LogoView")
<div class="container">
    <div class="row">
        <div class="col">
            <p>
                Serve 2-3 por&ccedil;&otilde;es
            </p>
            <br />
            <p>
                <strong>Ingredientes:</strong><br />
                1 sach&ecirc; de temperos (tipo sache de sal) <br />
                1 x&iacute;cara de ch&aacute; de repolho branco picado<br />
                2 tomates m&eacute;dios sem sementes, picados<br />
                1 x&iacute;cara de ch&aacute; de peito de frango cozido e desfiado<br />
                1 x&iacute;cara de ch&aacute; de couve-flor picada<br />
                1 x&iacute;cara de ch&aacute; de br&oacute;colis picado<br />
                1 cenoura pequena cortada em losangos<br />
                1 cebola pequena picada<br />
                4 dentes de alho<br />
                Salsinha e cebolinha picadas para enfeitar, brotos de alfafa (a gosto)<br />
                Sal rosa a gosto<br />
                Azeite extra virgem &agrave; gosto
            </p>
            <br />
            <p>
                <strong>Modo de fazer:</strong><br />
                Refogue cebola e alho, adicione a couve-flor, os br&oacute;colis, o repolho, o sache de temperos,<br />
                o frango desfiado e &aacute;gua morna suficiente para cobrir (aprox. 400-500 ml).<br />
                Cozinhe at&eacute; os legumes ficarem macios.
            </p>
            <br />
            <p>
                Retire o sach&ecirc; de temperos, acerte o sal e sirva com a salsinha, a cebolinha e um fio de azeite.
            </p>
            <br />
            <p>
                <strong>Para adicionar prote&iacute;na:<br /></strong>
                Ervilha ou lentilha + biomassa + tofu/ricota defumado/a
            </p>
        </div>
    </div>
</div>
