
@{
    ViewBag.Title = "Sopa de tomate de forno";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sopa de tomate de forno</h2>

@Html.Partial("LogoView")
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/Images/Sopa_de_tomate_ao_forno_400.jpg" title="Sopa de tomate de forno" alt="Sopa de tomate de forno" />
            <p></p>
        </div>
        <div class="col">
            <p class="identDIV">
                <img src="~/Images/Icone_100_por_cento_vegana_45.jpg" title="Vegana" alt="Receita 100% vegana" />&nbsp;
                <img src="~/Images/Icone_low_carb_45.jpg" title="Low Carb" alt="Receita low carb" />&nbsp;
                <img src="~/Images/Icone_sem_gluten_45.jpg" title="Sem glúten" alt="Receita sem glúten" />&nbsp;
                <img src="~/Images/Icone_sem_laticinios_45.jpg" title="Sem Laticínios" alt="Receita sem laticínios" />&nbsp;
                <img src="~/Images/Icone_paleo_diet_45.jpg" title="Paleo diet" alt="Paleo diet" />
                <img src="~/Images/Icone_bom_para_o_coracao_45.jpg" title="Bom para o coração" alt="Receita boa para o coração" />
            </p>
            <br />
            <p class="identDIV">
                <strong>Ingredientes:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;5 tomates italianos maduros
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;&frac12; piment&atilde;o vermelho cortado em tiras
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 cebola
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;2 dentes de alho
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 x&iacute;cara de &aacute;gua fervente
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Azeite a gosto
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 pitada de pimenta calabresa seca
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Sal e pimenta-do-reino mo&iacute;da na hora a gosto
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Folhas de manjeric&atilde;o a gosto para servir
            </p>
            <br />
            <p class="identDIV">
                <strong>Modo de Fazer:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Pr&eacute;-aque&ccedil;a o forno a 200-220&ordm;C (temperatura m&eacute;dia-alta).
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Lave, seque e corte os tomates ao meio.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Sem tirar a raiz da cebola, corte em duas metades no sentido do comprimento e cada metade e em tr&ecirc;s gomos &ndash; &eacute; importante manter a raiz para que as camadas da cebola n&atilde;o soltem e ela se mantenha &uacute;mida depois de assada.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Descasque os gomos.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Lave, seque e corte o piment&atilde;o ao meio, descarte as sementes e corte uma das metades em tiras de 1 cm &ndash; reserve a outra metade na geladeira para uma pr&oacute;xima receita.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Descasque e corte os dentes de alho ao meio.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Unte com azeite uma assadeira grande.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Disponha as metades de tomate com a casca para baixo e o lado da polpa para cima &ndash; assim solta menos &aacute;gua.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Distribua o restante dos legumes na assadeira, regue com azeite e tempere com sal e pimenta a gosto.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Leve ao forno para assar por cerca de 20 minutos, ou at&eacute; que os legumes estejam macios e levemente tostados.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Transfira os legumes assados para o liquidificador, tempere com a pimenta calabresa e regue com a &aacute;gua fervente.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Tampe e bata at&eacute; a sopa ficar lisa e cremosa.
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;<strong>Aten&ccedil;&atilde;o!! </strong>Segure firme a tampa do liquidificador com um pano de prato para evitar que o vapor da &aacute;gua fervente empurre e abra a tampa.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Prove e ajuste o sal. Sirva a seguir com folhas de manjeric&atilde;o a gosto.
            </p>
        </div>
    </div>
</div>