
@{
    ViewBag.Title = "Sopa de ervilha com pipoca ao perfume de limão";
}

<h2>Sopa de ervilha com pipoca de limão</h2>

@Html.Partial("LogoView")
<div class="container">
    <div class="row">
        <div class="col">
            <p>
                <strong>Ingredientes para a sopa de ervilha:</strong><br />
                500g de ervilha seca<br />
                2 c s de azeite<br />
                1/2 cebola picada<br />
                1,5l de caldo de legumes<br />
                1 folha de louro
            </p>
            <br />
            <p>
                <strong>Modo de Fazer:</strong><br />
                Coloque as ervilhas de molho por 4 horas.<br />
                Refogue a cebola no azeite em fogo m&eacute;dio, acrescente as ervilhas e refogue por alguns minutos.<br />
                Junte o caldo de legumes e deixe cozinhar por 15min, ou ate que as ervilhas estejam cozidas.
            </p>
            <br />
            <p>Quando cozidas, coloque em um liquidificador ou bata com o mixer at&eacute; ficar um creme liso.</p>
            <br />
            <p>
                <strong>Ingredientes para a picoca de lim&atilde;o:</strong><br />
                &Oacute;leo<br />
                3 c s de milho de pipoca
                <br />Raspas de 1/2 lim&atilde;o<br />
                Sal a gosto
            </p>
            <br />
            <p>
                <strong>Modo de Fazer:</strong><br />
                Em uma panela, esquente o &oacute;leo, acrescente as raspas de lim&atilde;o e misture rapidamente, coloque o milho, misture e tampe.<br />
                Depois que para de estourar, transfira para uma tigela e tempere com sal.<br /><br />
                (Achei essa receita moderna, no original vai bacon, mais podemos fazer sem que deve ficar bem gostosinho, e como &eacute; mais uma sopa creme, temos que decidir qual vamos colocar)
            </p>
        </div>
    </div>
</div>