
@{
    ViewBag.Title = "Sopa diurética";
}

<h2>Sopa diurética</h2>

@Html.Partial("LogoView")
<div class="container">
    <div class="row">
        <div class="col">
            <p>
                <strong>Ingredientes:</strong><br />
                1 cebola grande<br />
                1 cenoura<br />
                1 abobrinha<br />
                1 chuchu <br />
                2 berinjelas<br />
                2 tomates
            </p>
            <br />
            <p>
                <strong>Modo de fazer:</strong><br />
                Lave todos os ingredientes e depois pique em pequenos peda&ccedil;os.<br />
                Cozinhe em &aacute;gua com a panela tampada at&eacute; os legumes ficarem molinhos, acrescente sal &agrave; gosto e sirva.
            </p>
        </div>
    </div>
</div>
