
@{
    ViewBag.Title = "Sopa refrescante: abobrinha com hortelã (sopa creme)";
}

<h2>Sopa refrescante: abobrinha com hortelã (sopa creme)</h2>

@Html.Partial("LogoView")
<div class="container">
    <div class="row">
        <div class="col">
            <p class="identDIV">
                <img src="~/Images/Icone_100_por_cento_vegana_45.jpg" title="Vegana" alt="Receita 100% vegana" />&nbsp;
                <img src="~/Images/Icone_low_carb_45.jpg" title="Low Carb" alt="Receita low carb" />&nbsp;
                <img src="~/Images/Icone_sem_gluten_45.jpg" title="Sem glúten" alt="Receita sem glúten" />&nbsp;
                <img src="~/Images/Icone_sem_laticinios_45.jpg" title="Sem Laticínios" alt="Receita sem laticínios" />&nbsp;
                <img src="~/Images/Icone_paleo_diet_45.jpg" title="Paleo Diet" alt="Receita paleo diet" />
            </p>
            <br />
            <p class="identDIV">
                <strong>Ingredientes:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;4 abobrinhas italianas
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1/2 cebola picada em cubinhos
            </p>
            <br />
            <p class="identDIV">
                <strong>Modo de Fazer:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;2 dentes de alho picados
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Caldo de legumes
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Hortel&atilde; a gosto
            </p>
            <br />
            <p class="identDIV">
                <strong>Modo de Fazer:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Em fogo m&eacute;dio, coloque na panela uma colher de sopa de azeite, coloque o alho e um pouco de hortel&atilde;, assim que come&ccedil;ar a dourar coloque a cebola, e deixe suar.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Adicione as abobrinhas cortadas em cubos m&eacute;dios e refogue.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Acrescente o caldo de legumes ate cobrir as abobrinhas e deixe cozinhar por cerca de 10 min.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Depois de cozido, retire um pouco do caldo e bata no liquidificador ate formar um creme!
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Volte para a panela, acrescente mais hortel&atilde; a gosto, acerte o sal e sirva quente.
            </p>
        </div>
    </div>
</div>