
@{
    ViewBag.Title = "Sopa funcional antioxidante (sopa em pedaços)";
}

<h2>Sopa funcional antioxidante (sopa em pedaços)</h2>

@Html.Partial("LogoView")
<div class="container">
    <div class="row">
        <div class="col">
            <p class="identDIV">
                <img src="~/Images/Icone_low_carb_45.jpg" title="Low Carb" alt="Receita low carb" />&nbsp;
                <img src="~/Images/Icone_sem_gluten_45.jpg" title="Sem glúten" alt="Receita sem glúten" />&nbsp;
                <img src="~/Images/Icone_sem_laticinios_45.jpg" title="Sem Laticínios" alt="Receita sem laticínios" />&nbsp;
                <img src="~/Images/Icone_paleo_diet_45.jpg" title="Paleo Diet" alt="Receita paleo diet" />
            </p>
            <br />
            <p class="identDIV">
                Serve 2-3 por&ccedil;&otilde;es
            <p class="identDIV">
                <strong>Ingredientes:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 sach&ecirc; de temperos (tipo sache de sal)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 x&iacute;cara de ch&aacute; de repolho branco picado
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;2 tomates m&eacute;dios sem sementes, picados
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 x&iacute;cara de ch&aacute; de peito de frango cozido e desfiado
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 x&iacute;cara de ch&aacute; de couve-flor picada
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 x&iacute;cara de ch&aacute; de br&oacute;colis picado
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 cenoura pequena cortada em losangos
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 cebola pequena picada
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;4 dentes de alho
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Salsinha e cebolinha picadas para enfeitar, brotos de alfafa (a gosto)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Sal rosa a gosto
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Azeite extra virgem &agrave; gosto
            </p>
            <br />
            <p class="identDIV">
                <strong>Modo de Fazer:<br /></strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Refogue cebola e alho, adicione a couve-flor, os br&oacute;colis, o repolho, o sache de temperos, o frango desfiado e &aacute;gua morna suficiente para cobrir (aprox. 400-500 ml).
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Cozinhe at&eacute; os legumes ficarem macios.
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Retire o sach&ecirc; de temperos, acerte o sal e sirva com a salsinha, a cebolinha e um fio de azeite.
            </p>
            <br />
            <p class="identDIV">
                <strong>Para adicionar prote&iacute;na:<br /></strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Ervilha ou lentilha + biomassa + tofu/ricota defumado/a
            </p>
        </div>
    </div>
</div>
