
@{
    ViewBag.Title = "Sopa de ervilha com pipoca ao perfume de limão";
}

<h2>Sopa de ervilha com pipoca de limão</h2>

@Html.Partial("LogoView")
<div class="container">
    <div class="row">
        <div class="col">
            <p class="identDIV">
                <img src="~/Images/Icone_100_por_cento_vegana_45.jpg" title="Vegana" />&nbsp;
                <img src="~/Images/Icone_sem_gluten_45.jpg" title="Sem glúten" />&nbsp;
                <img src="~/Images/Icone_sem_laticinios_45.jpg" title="Sem Laticínios" />
            </p>
            <br />
            <p class="identDIV">
                <strong>Ingredientes:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;500g de ervilha seca
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;2 c s de azeite
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1/2 cebola picada
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1,5l de caldo de legumes
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 folha de louro
            </p>
            <br />
            <p class="identDIV">
                <strong>Modo de Fazer:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Coloque as ervilhas de molho por 4 horas.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Refogue a cebola no azeite em fogo m&eacute;dio, acrescente as ervilhas e refogue por alguns minutos.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Junte o caldo de legumes e deixe cozinhar por 15min, ou ate que as ervilhas estejam cozidas.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Quando cozidas, coloque em um liquidificador ou bata com o mixer at&eacute; ficar um creme liso.
            </p>
            <br />
            <p class="identDIV">
                <strong>Ingredientes para a picoca de lim&atilde;o:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;&Oacute;leo
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;3 c s de milho de pipoca
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Raspas de 1/2 lim&atilde;o
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Sal a gosto
            </p>
            <br />
            <p class="identDIV">
                <strong>Modo de Fazer:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Em uma panela, esquente o &oacute;leo, acrescente as raspas de lim&atilde;o e misture rapidamente, coloque o milho, misture e tampe.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Depois que para de estourar, transfira para uma tigela e tempere com sal.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;(Achei essa receita moderna, no original vai bacon, mais podemos fazer sem que deve ficar bem gostosinho, e como &eacute; mais uma sopa creme, temos que decidir qual vamos colocar)
            </p>
        </div>
    </div>
</div>