
@{
    ViewBag.Title = "Sopa funcional de lentilha (sopa em pedaços) serve 2-3 porções";
}

<h2>Sopa funcional de lentilha (sopa em pedaços) serve 2-3 porções</h2>

@Html.Partial("LogoView")
<div class="container">
    <div class="row">
        <div class="col">
            <p>
                <strong>Ingredientes para a sopa de ervilha:</strong><br />
                1 x&iacute;cara de ch&aacute; de lentilha seca (deixar de molho de 8-12h) <br />
                2 c. sopa de biomassa <br />
                1 cebola picada em cubos<br />
                1 dente de alho<br />
                2 colheres de sopa de azeite<br />
                3-4 x&iacute;caras de &aacute;gua (pode aquecer antes)<br />
                Sal<br />
                Pimenta do reino<br />
                Cominho a gosto<br />
                Suco de 1 lim&atilde;o
            </p>
            <p>
                <strong>Modo de Fazer:</strong><br />
                Refogar o alho e acebola no azeite, colocar a lentilha deixada de molho por 8-12 horas, refogar por alguns minutos, colocar &aacute;gua ate cobrir, sal e cominho (opcional) e deixar cozinhar por 20 min ou at&eacute; a lentilha ficar macia.<br />
                Separe um pouco de caldo da lentilha, adicione as 2 c. sopa de biomassa e bata com um mixer at&eacute; misturar bem.<br />
                Adicionar este caldo batido com biomassa pra engrossar o caldo. <br />
                Quando estiver pronta, servir no prato, espremer o suco de &frac12; lim&atilde;o e regar com azeite.
            </p>
        </div>
    </div>
</div>