
@{
    ViewBag.Title = "Sopa creme termogênica";
}

<h2>Sopa creme termogênica</h2>

@Html.Partial("LogoView")
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/Images/Sopa_creme_termogenica_400.jpg" />
            <p></p>
        </div>
        <div class="col">
            <p>
                <strong>Ingredientes:<br /></strong>
                1 sach&ecirc; de temperos (tipo sache de sal) <br />
                1/8 de ab&oacute;bora moranga sem sementes e cortada (500g)<br />
                1 dente de alho<br />
                1/4 cebola picada<br />
                1 peda&ccedil;o pequeno de gengibre<br />
                1 colher (sopa) de azeite<br />
                1/2 folha de couve picada bem finamente<br />
                Pimenta rosa e gergelim preto a gosto<br />
                Sal rosa a gosto<br />
                Azeite extra virgem a gosto
            </p>
            <p>
                <strong>Modo de Fazer:</strong><br />
                Refogue o alho e a cebola enquanto cozinha a ab&oacute;bora em outra panela com a &aacute;gua (apenas para cobrir, uns 400 ml) e o sache de temperos<br />
                Retire o sache de temperos e a &aacute;gua da ab&oacute;bora, reservando esta &uacute;ltima<br />
                Junte a ab&oacute;bora cozida, o refogado, o peda&ccedil;o de gengibre e bata tudo no liquidificador adicionando a &aacute;gua do cozimento at&eacute; dar o ponto de creme<br />
                Acerte o sal, adicione a couve picada no creme e porcione.<br />
                Salpique com pimenta rosa e gergelim. Regue com azeite e sirva
            </p>
        </div>
    </div>
</div>