
@{
    ViewBag.Title = "Sopa creme termogênica";
}

<h2>Sopa creme termogênica</h2>

@Html.Partial("LogoView")
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/Images/Sopa_creme_termogenica_400.jpg" title="Sopa creme termogênica" alt="Sopa creme termogênica" />
            <p></p>
        </div>
        <div class="col">
            <p class="identDIV">
                <img src="~/Images/Icone_100_por_cento_vegana_45.jpg" title="Vegana" alt="Receita 100% vegana" />&nbsp;
                <img src="~/Images/Icone_sem_gluten_45.jpg" title="Sem glúten" alt="Receita sem glúten" />&nbsp;
                <img src="~/Images/Icone_sem_laticinios_45.jpg" title="Sem Laticínios" alt="Receita sem laticínios" />&nbsp;
                <img src="~/Images/Icone_paleo_diet_45.jpg" title="Paleo Diet" alt="Receita paleo diet" />
            </p>
            <br />
            <p class="identDIV">
                <strong>Ingredientes:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 sach&ecirc; de temperos (tipo sache de sal)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1/8 de ab&oacute;bora moranga sem sementes e cortada (500g)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 dente de alho
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1/4 cebola picada
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 peda&ccedil;o pequeno de gengibre
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 colher (sopa) de azeite
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1/2 folha de couve picada bem finamente
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Pimenta rosa e gergelim preto a gosto
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Sal rosa a gosto
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Azeite extra virgem a gosto
            </p>
            <br />
            <p class="identDIV">
                <strong>Modo de Fazer:<br /></strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Refogue o alho e a cebola enquanto cozinha a ab&oacute;bora em outra panela com a &aacute;gua (apenas para cobrir, uns 400 ml) e o sache de temperos
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Retire o sache de temperos e a &aacute;gua da ab&oacute;bora, reservando esta &uacute;ltima
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Junte a ab&oacute;bora cozida, o refogado, o peda&ccedil;o de gengibre e bata tudo no liquidificador adicionando a &aacute;gua do cozimento at&eacute; dar o ponto de creme
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Acerte o sal, adicione a couve picada no creme e porcione.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Salpique com pimenta rosa e gergelim. Regue com azeite e sirva
            </p>
        </div>
    </div>
</div>