
@{
    ViewBag.Title = "Sopa de cabotiá predileta";
}

<h2>Sopa de cabotiá predileta</h2>

@Html.Partial("LogoView")
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/Images/Sopa_de_cabotia_predileta_400.jpg" />
            <p></p>
        </div>
        <div class="col">
            <p class="identDIV">
                <img src="~/Images/Icone_100_por_cento_vegana_45.jpg" title="Vegana" />&nbsp;
                <img src="~/Images/Icone_sem_gluten_45.jpg" title="Sem glúten" />&nbsp;
                <img src="~/Images/Icone_sem_laticinios_45.jpg" title="Sem Laticínios" />
            </p>
            <br />
            <p class="identDIV">
                <strong>Ingredientes:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;50 g de alho por&oacute; picado (1/2 alho pequeno)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;80-100 g de seleta de cenoura e vagem (cortada em cubos)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;60-80 g de abobrinha cortada em cubos
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;150-170 g de abobora caboti&atilde; cortada em cubos grandes.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;(Para variar a sopa pode substituir por couve-flor ou br&oacute;colis)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;2 c. sopa de azeite extra virgem
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;400 a 500 ml de &aacute;gua filtrada ou mineral
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Suco de &frac12; lim&atilde;o siciliano
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 c. sopa de amido de milho Red Mills
            </p>
            <br />
            <p class="identDIV">
                <strong>Modo de Fazer:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Lave todos os ingredientes e depois pique em pequenos peda&ccedil;os.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Coloque a &aacute;gua pra ferver com o louro e o sal.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Enquanto isso, numa panela grande, refogue rapidamente o alho por&oacute; com 1 c.de sopa de azeite, s&oacute; pra murchar um pouco, sem juntar &aacute;gua.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Adicione cenoura, vagem e abobrinha em cubos e refogue por uns 2 minutos no m&aacute;ximo.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Adicione a caboti&aacute; em cubos e refogue mais um ou dois minutos.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Junte a &aacute;gua quase fervendo com sal e louro e adicione os outros temperos em p&oacute; (c&uacute;rcuma, p&aacute;prica, cominho, pimenta fagara).
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Espere ferver, abaixe o fogo e cozinhe em panela tampada por 10 minutos.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Adicione o amido de milho Red Mills mexendo bem.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;A vantagem deste amido de milho importado &eacute; que N&Atilde;O EMPELOTA.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Se usar maisena brasileira, dissolva-a primeiro em &frac12; xicara de &aacute;gua fria e depois coloque-a na sopa aos poucos, mexendo sempre.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Deixe engrossar por uns 3-5 minutos e desligue.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Adicione a salsinha e o suco de lim&atilde;o, misturando bem.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Esta sopa pode ser servida batida (como a da foto) ou em peda&ccedil;os.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Sirva quente e regue com azeite.
            </p>
            <br />
            <p class="identDIV">
                <strong>Notas:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Em dias frios, tomar 1 a 2 pratos fundos.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Para ter croc&acirc;ncia, adicione <a href="/Receitas/Croutons_ou_petisco_de_grao_de_bico">croutons de gr&atilde;o de bico</a>.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Para aumentar a prote&iacute;na, cubos de tofu firme ou shimeji refogado.
            </p>
        </div>
    </div>
</div>