
@{
    ViewBag.Title = "Sopa funcional de lentilha (sopa em pedaços) serve 2-3 porções";
}

<h2>Sopa funcional de lentilha (sopa em pedaços) serve 2-3 porções</h2>

@Html.Partial("LogoView")
<div class="container">
    <div class="row">
        <div class="col">
            <p class="identDIV">
                <img src="~/Images/Icone_100_por_cento_vegana_45.jpg" title="Vegana" alt="Receita 100% vegana" />&nbsp;
                <img src="~/Images/Icone_sem_gluten_45.jpg" title="Sem glúten" alt="Receita sem glúten" />&nbsp;
                <img src="~/Images/Icone_sem_laticinios_45.jpg" title="Sem Laticínios" alt="Receita sem laticínios" />
            </p>
            <br />
            <p class="identDIV">
                <strong>Ingredientes:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 x&iacute;cara de ch&aacute; de lentilha seca (deixar de molho de 8-12h)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;2 c. sopa de biomassa
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 cebola picada em cubos
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 dente de alho
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;2 colheres de sopa de azeite
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;3-4 x&iacute;caras de &aacute;gua (pode aquecer antes)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Sal
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Pimenta do reino
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Cominho a gosto
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Suco de 1 lim&atilde;o
            </p>
            <br />
            <p class="identDIV">
                <strong>Modo de Fazer:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Refogar o alho e acebola no azeite, colocar a lentilha deixada de molho por 8-12 horas, refogar por alguns minutos, colocar &aacute;gua ate cobrir, sal e cominho (opcional) e deixar cozinhar por 20 min ou at&eacute; a lentilha ficar macia.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Separe um pouco de caldo da lentilha, adicione as 2 c. sopa de biomassa e bata com um mixer at&eacute; misturar bem.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Adicionar este caldo batido com biomassa pra engrossar o caldo.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Quando estiver pronta, servir no prato, espremer o suco de &frac12; lim&atilde;o e regar com azeite.
            </p>
        </div>
    </div>
</div>