
@{
    ViewBag.Title = "Sopa cremosa de shitake com alho poró";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sopa cremosa de shitake com alho poró</h2>

@Html.Partial("LogoView")
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/Images/Sopa_cremosa_shitake_alho_poro_400.jpg" title="Sopa de tomate de forno" alt="Sopa de tomate de forno" />
            <p></p>
        </div>
        <div class="col">
            <p class="identDIV">
                <img src="~/Images/Icone_vegetariana_45.jpg" title="Vegetariana" alt="Vegetariana" />&nbsp;
                <img src="~/Images/Icone_low_carb_45.jpg" title="Low Carb" alt="Receita low carb" />&nbsp;
                <img src="~/Images/Icone_sem_gluten_45.jpg" title="Sem glúten" alt="Receita sem glúten" />&nbsp;
            </p>
            <br />
            <p class="identDIV">
                <strong>Ingredientes:</strong>
            </p>
            <p class="identDIV">
                <strong>Caldo de legumes:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;&frac12; cenoura grande picada em cubos (200g)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;&frac12; sals&atilde;o picado em fatias finas (150g)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 cebola roxa fatiada finamente (150g)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 c.ch&aacute; de ervas de Provence secas, org&acirc;nicas
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 c.sobremesa de sal grosso
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 litro de &aacute;gua
            </p>
            <br />
            <p class="identDIV">
                <strong>Sopa:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 c.sopa de azeite
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 talo de alho por&oacute; picado finamente (120-150g)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;&frac12; cebola pequena em rodelas finas (50-70g)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;500 ml de leite org&acirc;nico integral
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;2-3 c.sopa de maisena
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;100g d shitake fatiado
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 pitada de noz moscada (ralada na hora)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Sal e pimenta do reino a gosto
            </p>
            <br />
            <p class="identDIV">
                <strong>Modo de Fazer:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Para o caldo, coloque 1 litro de &aacute;gua para ferver e adicione a cenoura, o sals&atilde;o, a cebola roxa e o tempero de Provence (colocado em um sach&ecirc; para ch&aacute;, pois ser&aacute; retirado no final).
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Ferver em fogo baixo por 1h-01h30minh at&eacute; reduzir quase pela metade (500-600ml).
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Coe e reserve.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Para a sopa, aque&ccedil;a o &oacute;leo e refogue o alho-por&oacute; e a cebola.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Junte 500ml do caldo j&aacute; preparado.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Em 1 x&iacute;cara (ch&aacute;) do leite dissolva a maisena e despeje a x&iacute;cara na mistura.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Acrescente o restante do leite e deixe ferver em fogo baixo at&eacute; engrossar, mexendo sempre.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Acrescente o shitake e deixe cozinhar por mais alguns minutos.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Tempere com sal e pimenta.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Sirva quente.
            </p>
        </div>
    </div>
</div>