
@{
    ViewBag.Title = "Sticks de tofu";
}

<h2>Sticks de tofu</h2>

@Html.Partial("LogoView")
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/Images/Sticks_de_tofu_400.jpg" title="Sticks de tofu" alt="Sticks de tofu" />
            <p></p>
        </div>
        <div class="col">
            <p class="identDIV">
                <img src="~/Images/Icone_100_por_cento_vegana_45.jpg" title="Vegana" alt="Receita 100% vegana" />&nbsp;
                <img src="~/Images/Icone_low_carb_45.jpg" title="Low Carb" alt="Receita low carb" />&nbsp;
                <img src="~/Images/Icone_sem_gluten_45.jpg" title="Sem glúten" alt="Receita sem glúten" />&nbsp;
                <img src="~/Images/Icone_sem_laticinios_45.jpg" title="Sem Laticínios" alt="Receita sem laticínios" />&nbsp;
                <img src="~/Images/Icone_bom_para_o_coracao_45.jpg" title="Bom para o coração" alt="Receita boa para o coração" />
            </p>
            <br />
            <p class="identDIV">
                <strong>Ingredientes:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;0,5kg de Tofu cortado em bast&otilde;es &ndash; do tipo firme;
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;&frac12; x&iacute;cara de Amaranto em flocos (ou farinha)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;&frac12; x&iacute;cara de Farinha de Gr&atilde;o de Bico
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Azeite virgem
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Sal, pimenta do reino &ndash; a gosto
            </p>
            <br />
            <p class="identDIV">
                <strong>Toppings:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;P&aacute;prica defumada com alho em p&oacute;, a&ccedil;afr&atilde;o com curry e cebola em p&oacute;, lemon pepper
            </p>
            <br />
            <p class="identDIV">
                <strong>Modo de Fazer:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Cortar o tofu em bast&otilde;es ou quadrados de pelo menos 3cm.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;N&atilde;o secar eles da &aacute;gua que eles vem, vai ser importante para o nosso empanado!
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Temperar com sal e pimenta a gosto.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Misturar as farinhas com o topping que voc&ecirc; preferir em um prato, s&atilde;o eles que dar&atilde;o sabor ao tofu que &eacute; bastante neutro e vers&aacute;til.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Pode emparar os 4 lados ou somente dois, os outros dois podem ser deixados para dar cor e crosta na assadeira ou frigideira.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Em forma untada com azeite, dispor os tofus lado a lado sem encostar um no outro, eles precisam de ventila&ccedil;&atilde;o quente e contato com a assadeira.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Assar em fogo bem alto (240&ordm;C), por 15-20 minutos.
            </p>
            <br />
            <p class="identDIV">
                <strong>Observa&ccedil;&otilde;es:</strong><br />
                N&atilde;o d&aacute; pra fazer este empanado com tofu soft;
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;No meio dos 15-20 minutos total, virar os bast&otilde;es para selar mais de um lado, criando uma crosta por fora e deixando o macio s&oacute; por dentro;
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Voc&ecirc; pode usar como base a farinha de pepita, aquela semente de ab&oacute;bora verdinha, pois tamb&eacute;m &eacute; uma farinha proteica e que combina bem com tofu, apesar de mais cara.
            </p>
        </div>
    </div>
</div>