
@{
    ViewBag.Title = "Sticks de tofu";
}

<h2>Sticks de tofu</h2>

@Html.Partial("LogoView")
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/Images/Sticks_de_tofu_400.jpg" />
            <p></p>
        </div>
        <div class="col">
            <p>
                <strong>Ingredientes:<br /></strong>
                0,5kg de Tofu cortado em bast&otilde;es &ndash; do tipo firme;<br />
                &frac12; x&iacute;cara de Amaranto em flocos (ou farinha)<br />
                &frac12; x&iacute;cara de Farinha de Gr&atilde;o de Bico<br />
                Azeite virgem<br />
                Sal, pimenta do reino &ndash; a gosto
            </p>
            <br />
            <p>
                <strong>Toppings:</strong><br />
                p&aacute;prica defumada com alho em p&oacute;, a&ccedil;afr&atilde;o com curry<br />
                e cebola em p&oacute;, lemon pepper
            </p>
            <br />
            <p>
                <strong>Modo de Fazer:<br /></strong>
                Cortar o tofu em bast&otilde;es ou quadrados de pelo menos 3cm.<br />
                N&atilde;o secar eles da &aacute;gua que eles vem, vai ser importante para o nosso empanado!<br />
                Temperar com sal e pimenta a gosto.<br />
                Misturar as farinhas com o topping que voc&ecirc; preferir em um prato, s&atilde;o eles que dar&atilde;o<br />
                sabor ao tofu que &eacute; bastante neutro e vers&aacute;til. <br />
                Pode emparar os 4 lados ou somente dois, os outros dois podem ser deixados para dar cor e<br />
                crosta na assadeira ou frigideira.<br />
                Em forma untada com azeite, dispor os tofus lado a lado sem encostar um no outro,<br />
                eles precisam de ventila&ccedil;&atilde;o quente e contato com a assadeira.<br />
                Assar em fogo bem alto (240&ordm;C), por 15-20 minutos.
            </p>
            <br />
            <p>
                <strong>Observa&ccedil;&otilde;es:</strong><br />
                N&atilde;o d&aacute; pra fazer este empanado com tofu soft;<br />
                No meio dos 15-20 minutos total, virar os bast&otilde;es para selar mais de um lado, criando uma crosta por fora e deixando o macio s&oacute; por dentro;<br />
                Voc&ecirc; pode usar como base a farinha de pepita, aquela semente de ab&oacute;bora verdinha, pois tamb&eacute;m &eacute; uma farinha proteica e que combina bem com tofu, apesar de mais cara.
            </p>
        </div>
    </div>
</div>