
@{
    ViewBag.Title = "Tabuledequinoa";
}

<h2>Tabuledequinoa</h2>

@Html.Partial("LogoView")

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/Images/Tabule_de_quinoa_400.jpg" />
            <p></p>
        </div>
        <div class="col-md-8">
            <p>
                <strong>Ingredientes:</strong><br />
                1 x&iacute;cara de quinoa<br />
                1 cenoura ralada no ralo m&eacute;dio ou fino<br />
                1 cebola roxa cortada em tirinhas<br />
                1 tomate em cubos pequenos<br />
                1 pepino ralado<br />
                Suco de 1 lim&atilde;o (o siciliano fica delicioso!)<br />
                Azeite de oliva extra virgem, cebolinha, hortel&atilde; e sal marinho a gosto
            </p>
            <br />
            <p>
                <strong>Modo de Fazer:</strong> <br />
                Lave bem a quinoa em &aacute;gua fria por duas vezes.<br />
                Coloque a quinoa para cozinhar, na &aacute;gua quente, como se fosse macarr&atilde;o, at&eacute; que fique cozida, mais firme. Escorra.<br />
                Misture a cenoura, cebola, pepino e tomate. Acrescente a quinoa e incorpore bem todos os ingredientes.<br />
                Tempere com o azeite, sal, suco de lim&atilde;o, cebolinha e hortel&atilde; a gosto.
            </p>
        </div>
    </div>
</div>