
@{
    ViewBag.Title = "Tabule de quinua";
}

<h2>Tabule de quinua</h2>

@Html.Partial("LogoView")

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/Images/Tabule_de_quinoa_400.jpg" title="Tabule de quinua" alt="Tabule de quinua" />
            <p></p>
        </div>
        <div class="col">
            <p class="identDIV">
                <img src="~/Images/Icone_100_por_cento_vegana_45.jpg" title="Vegana" alt="Receita 100% vegana" />&nbsp;
                <img src="~/Images/Icone_sem_gluten_45.jpg" title="Sem glúten" alt="Receita sem glúten" />&nbsp;
                <img src="~/Images/Icone_sem_laticinios_45.jpg" title="Sem Laticínios" alt="Receita sem laticínios" />&nbsp;
                <img src="~/Images/Icone_low_carb_45.jpg" title="Low Carb" alt="Receita low carb" />&nbsp;
                <img src="~/Images/Icone_bom_para_o_coracao_45.jpg" title="Bom para o coração" alt="Receita boa para o coração" />
            </p>
            <br />
            <p class="identDIV">
                <strong>Ingredientes:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 x&iacute;cara de quinoa
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 cenoura ralada no ralo m&eacute;dio ou fino
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 cebola roxa cortada em tirinhas
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 tomate em cubos pequenos
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 pepino ralado
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Suco de 1 lim&atilde;o (o siciliano fica delicioso!)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Azeite de oliva extra virgem, cebolinha, hortel&atilde; e sal marinho a gosto
            </p>
            <br />
            <p class="identDIV">
                <strong>Modo de Fazer:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Lave bem a quinoa em &aacute;gua fria por duas vezes.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Coloque a quinoa para cozinhar, na &aacute;gua quente, como se fosse macarr&atilde;o, at&eacute; que fique cozida, mais firme.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Escorra.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Misture a cenoura, cebola, pepino e tomate. Acrescente a quinoa e incorpore bem todos os ingredientes.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Tempere com o azeite, sal, suco de lim&atilde;o, cebolinha e hortel&atilde; a gosto.
            </p>
        </div>
    </div>
</div>