
@{
    ViewBag.Title = "Temakis low carb";
}

<h2>Temakis low carb</h2>

@Html.Partial("LogoView")

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/Images/Temakis_low_carb_1_400.jpg" />
            <p></p>
            <img class="img-responsive" src="~/Images/Temakis_low_carb_2_400.jpg" />
            <p></p>
        </div>
        <div class="col">
            <p class="identDIV">
                <img src="~/Images/Icone_low_carb_45.jpg" title="Low Carb" />&nbsp;
                <img src="~/Images/Icone_sem_gluten_45.jpg" title="Sem glúten" />&nbsp;
                <img src="~/Images/Icone_sem_laticinios_45.jpg" title="Sem Laticínios" />&nbsp;
                <img src="~/Images/Icone_bom_para_o_coracao_45.jpg" title="Bom para o coração" />
            </p>
            <br />
            <p class="identDIV">
                <strong>Ingredientes:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 folha de alga marinha desidratada Nori (Yakinori)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 x&iacute;cara de ch&aacute; de alface picada fina
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;&frac12; x&iacute;cara de ch&aacute; de cenoura ralada bem fina
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;&frac12; x&iacute;cara de ch&aacute; de beterraba ralada bem fina
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;&frac12; x&iacute;cara de ch&aacute; de pepino japon&ecirc;s ralado bem fino
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;2 Kani Kama desfiados
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Wassabi a gosto
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Azeite a gosto
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Shoyu macrobi&oacute;tico (Daimaru) a gosto
            </p>
            <br />
            <p class="identDIV">
                <strong>Como montar:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Pode cortar a folha de alga ao meio ou fazer inteiro, como esse.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Estender as folhas numa superficie plana, na posi&ccedil;&atilde;o de losango.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Nesta hora passe um pouco de wassabi em pasta se gostar.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Espalhalhe uma fina camada de cada ingrediente na seguinte ordem: alface, cenoura, beterraba, pepino.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Pode por um pouco de azeite.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Colocar o kani kama desfiado (para temakis veganos usar avocado fatiado) na posi&ccedil;&atilde;o centralizada superior do losango, como mostra a foto.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Enrolar o temaki na forma de cone e colocar em suporte de temaki (se tiver) ou servir imediatamente deitado em um prato.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;O gostoso deste temaki &eacute; montar e comer na hora, fazendo pausas para montar novos temakis e servindo em seguida.
            </p>
        </div>
    </div>
</div>