
@{
    ViewBag.Title = "Temakis_low_carb";
}

<h2>Temakis_low_carb</h2>

@Html.Partial("LogoView")

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/Images/Temakis_low_carb_1_400.jpg" />
            <p></p>
            <img class="img-responsive" src="~/Images/Temakis_low_carb_2_400.jpg" />
            <p></p>
        </div>
        <div class="col">
            <p>
                <strong>Ingredientes para cada Temaki:</strong><br />
                1 folha de alga marinha desidratada Nori (Yakinori)<br />
                1 x&iacute;cara de ch&aacute; de alface picada fina<br />
                &frac12; x&iacute;cara de ch&aacute; de cenoura ralada bem fina<br />
                &frac12; x&iacute;cara de ch&aacute; de beterraba ralada bem fina<br />
                &frac12; x&iacute;cara de ch&aacute; de pepino japon&ecirc;s ralado bem fino<br />
                2 Kani Kama desfiados<br />
                Wassabi a gosto<br />
                Azeite a gosto<br />
                Shoyu macrobi&oacute;tico (Daimaru) a gosto
            </p>
            <br />
            <p>
                <strong>Como montar:</strong><br />
                Pode cortar a folha de alga ao meio ou fazer inteiro, como esse.<br />
                Estender as folhas numa superficie plana, na posi&ccedil;&atilde;o de losango.<br />
                Nesta hora passe um pouco de wassabi em pasta se gostar.<br />
                Espalhalhe uma fina camada de cada ingrediente na seguinte ordem:<br />
                alface, cenoura, beterraba, pepino.<br />
                Pode por um pouco de azeite.<br />
                Colocar o kani kama desfiado (para temakis veganos usar avocado fatiado) na posi&ccedil;&atilde;o<br />
                centralizada superior do losango, como mostra a foto.<br />
                Enrolar o temaki na forma de cone e colocar em suporte de temaki (se tiver)<br />
                ou servir imediatamente deitado em um prato.<br />
                O gostoso deste temaki &eacute; montar e comer na hora,<br />
                fazendo pausas para montar novos temakis e servindo em seguida.
            </p>
        </div>
    </div>
</div>