
@{
    ViewBag.Title = "Torrone de castanhas low-carb";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@Html.Partial("LogoView")
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/Images/Torrone_de_castanhas_low_carb_400.jpg" title="Torrone de castanhas low-carb" alt="Torrone de castanhas low-carb" />
            <p></p>
        </div>
        <div class="col">
            <p class="identDIV">
                <img src="~/Images/Icone_100_por_cento_vegana_45.jpg" title="Vegana" alt="Vegana" />&nbsp;
                <img src="~/Images/Icone_low_carb_45.jpg" title="Low Carb" alt="Receita low carb" />&nbsp;
                <img src="~/Images/Icone_sem_gluten_45.jpg" title="Sem glúten" alt="Receita sem glúten" />&nbsp;
                <img src="~/Images/Icone_sem_laticinios_45.jpg" title="Sem Laticínios" alt="Sem Laticínios" />&nbsp;
                <img src="~/Images/Icone_bom_para_o_coracao_45.jpg" title="Bom para o coração" alt="Bom para o coração" />&nbsp;
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;5 g de carbo por por&ccedil;&atilde;o
            </p>
            <br />
            <p class="identDIV">
                <strong>Ingredientes (16 por&ccedil;&otilde;es):</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;225 g de castanha de caju (ou amendoim ou am&ecirc;ndoa)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;65 g de &oacute;leo de coco
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;&frac12; colher (ch&aacute;) de est&eacute;via
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;20 g de farinha de coco (ou 50 g de farinha de am&ecirc;ndoa)
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Uma pitada de ess&ecirc;ncia de baunilha
            </p>
            <br />
            <p class="identDIV">
                <strong>Modo de preparo:</strong>
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Adicione as castanhas no processador (se o processador for pequeno, fa&ccedil;a por partes).
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;* Processe at&eacute; triturar todas as castanhas.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Adicione o &oacute;leo de coco e processe para formar uma pasta / manteiga de castanha.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;* Quanto mais tempo voc&ecirc; processar, mais cremoso ficar&aacute;.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Coloque a pasta numa tigela grande e adicione o restante dos ingredientes: farinha de coco, est&eacute;via, ess&ecirc;ncia de baunilha e chocolate quebrado.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Misture bem.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Despeje a massa em uma bandeja coberta com papel manteiga.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Use uma esp&aacute;tula para espalhar a massa.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Decore um pouco mais de gotas de chocolate ou cacau em p&oacute; (opcional).
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Leve a bandeja ao congelador por 15 minutos ou at&eacute; a massa endurecer.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Coloque o papel manteiga em uma t&aacute;bua e divida em 16 quadradinhos.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Aproveite!
            </p>
        </div>
    </div>
</div>