
@{
    ViewBag.Title = "Torta salgada de aveia";
}

<h2>Torta salgada de aveia</h2>

@Html.Partial("LogoView")
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/Images/Torta_salgada_de_aveia_400.jpg" />
            <p></p>
        </div>
        <div class="col">
            <p>
            A sugest&atilde;o de recheio pode ser substitu&iacute;da por legumes, atum, sardinha,<br />
            carne mo&iacute;da ou qualquer outro ingrediente de sua escolha, desde que natural.
            </p>
            <p>
                <strong>Ingredientes para a sopa de ervilha:</strong><br />
                1 ovo inteiro<br />
                3 c.de sopa de farinha de aveia<br />
                2 c. sopa de farelo de aveia<br />
                1 c. de sopa de fermento em p&oacute;<br />
                1 pitada de sal<br />
                4 claras em neve<br />
                Frango desfiado<br />
                1 x&iacute;cara de br&oacute;colis cozidos e picados
            </p>
            <p>
                <strong>Modo de Fazer:</strong><br />
                Primeiro, misture em uma tigela todos os ingredientes secos (farinha de aveia, fermento e sal).<br />
                Depois acrescente o ovo e bata bem.<br />
                Por fim, junte as claras em neve, misturando delicadamente.<br />
                Unte uma forma retangular e espalhe metade da massa.<br />
                Coloque o recheio de frango e br&oacute;colis sobre esta camada e cubra com o que restou da massa.<br />
                Leve ao forno at&eacute; estar bem douradinha.
            </p>
        </div>
    </div>
</div>