@{
    ViewBag.Title = "Tortinha de cebola purê rústico agridoce";
}

<h2>Tortinha de cebola purê rústico agridoce</h2>

@Html.Partial("LogoView")

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/images/Tortinha_de_cebola_com_purê_rústico_agridoce_400.jpg" title="Tortinha de cebola purê rústico agridoce" alt="Tortinha de cebola purê rústico agridoce" />
        </div>
        <div class="col">
            <p class="identDIV">
                <img src="~/Images/Icone_100_por_cento_vegana_45.jpg" title="Vegana" alt="Receita 100% vegana" />&nbsp;
                <img src="~/Images/Icone_sem_gluten_45.jpg" title="Sem glúten" alt="Receita sem glúten" />&nbsp;
                <img src="~/Images/Icone_sem_laticinios_45.jpg" title="Sem Laticínios" alt="Receita sem laticínios" />
            </p>
            <br />
            <p class="identDIV">
                <strong>Ingredientes para 2 unidades:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;&frac12; cebola cozida por 3 minutos (tira acidez)
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;2 c. sopa de batata inglesa cozida e amassada
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;2 c. s. de farinha de linha&ccedil;a dourada
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 c. s de farinha de arroz (ou de coco ou de banana verde)
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 c. ch&aacute; de polvilho doce
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 c. ch&aacute; de chia
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 c. ch&aacute; de fermento qu&iacute;mico
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Sal rosa, or&eacute;gano e temperos preferidos
            </p>
            <br />
            <p class="identDIV">
                <strong>Pur&ecirc; r&uacute;stico agridoce:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Avogado ou abacate
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Lim&atilde;o
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;C&uacute;rcuma
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Stevia
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Caramelo de bals&acirc;mico
            </p>
            <br />
            <p class="identDIV">
                <strong>Modo de Fazer:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Corte em pedacinhos a cebola cozida em &aacute;gua por 3 minutos e adicione a batata inglesa amassada e cozida, adicione todos os outros ingredientes
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Coloque em forminhas a leve ao forno a 250 graus at&eacute; dourar.
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Servir sobre pur&ecirc; r&uacute;stico, onde &eacute; s&oacute; misturar os ingredientes.
            </p>
        </div>

    </div>
</div>
