
@{
    ViewBag.Title = "Torta salgada de aveia";
}

<h2>Torta salgada de aveia</h2>

@Html.Partial("LogoView")
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/Images/Torta_salgada_de_aveia_400.jpg" />
            <p></p>
        </div>
        <div class="col">
            <p class="identDIV">
                <img src="~/Images/Icone_sem_gluten_45.jpg" title="Sem glúten" />&nbsp;
                <img src="~/Images/Icone_sem_laticinios_45.jpg" title="Sem Laticínios" />&nbsp;
                <img src="~/Images/Icone_bom_para_o_coracao_45.jpg" title="Bom para o coração" />
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;A sugest&atilde;o de recheio pode ser substitu&iacute;da por legumes, atum, sardinha, carne mo&iacute;da ou qualquer outro ingrediente de sua escolha, desde que natural.
            </p>
            <br />
            <p class="identDIV">
                <strong>Ingredientes para a sopa de ervilha:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 ovo inteiro
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;3 c.de sopa de farinha de aveia
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;2 c. sopa de farelo de aveia
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 c. de sopa de fermento em p&oacute;
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 pitada de sal
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;4 claras em neve
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Frango desfiado
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 x&iacute;cara de br&oacute;colis cozidos e picados
            </p>
            <br />
            <p class="identDIV">
                <strong>Modo de Fazer:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Primeiro, misture em uma tigela todos os ingredientes secos (farinha de aveia, fermento e sal).
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Depois acrescente o ovo e bata bem.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Por fim, junte as claras em neve, misturando delicadamente.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Unte uma forma retangular e espalhe metade da massa.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Coloque o recheio de frango e br&oacute;colis sobre esta camada e cubra com o que restou da massa.
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Leve ao forno at&eacute; estar bem douradinha.
            </p>
        </div>
    </div>
</div>