
@{
    ViewBag.Title = "Waffle";
}

<h2>Waffle</h2>

@Html.Partial("LogoView")

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/Images/Waffle_400.jpg" title="Waffle" alt="Waffle" />
            <p></p>
        </div>
        <div class="col">
            <p class="identDIV">
                <img src="~/Images/Icone_vegetariana_45.jpg" title="Vegetariana" alt="Receita vegetariana" />&nbsp;
                <img src="~/Images/Icone_sem_gluten_45.jpg" title="Sem glúten" alt="Receita sem glúten" />&nbsp;
                <img src="~/Images/Icone_sem_laticinios_45.jpg" title="Sem Laticínios" alt="Receita sem laticínios" />&nbsp;
                <img src="~/Images/Icone_bom_para_o_coracao_45.jpg" title="Bom para o coração" alt="Receita boa para o coração" />
            </p>
            <br />
            <p class="identDIV">
                <strong>Ingredientes:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 ovo<br />
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 banana
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;2 col. ch&aacute; de chia
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 col. sopa farinha de arroz
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 col. ch&aacute; de canela
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 col. sopa de fermento
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;1 col. sopa farelo de aveia
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Mel a gosto
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Geleia de morango sem adi&ccedil;&atilde;o de a&ccedil;&uacute;car
            </p>
            <br />
            <p class="identDIV">
                <strong>Modo de Fazer:</strong>
            </p>
            <br />
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Misturar tudo at&eacute; ficar "l&iacute;quido".
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Untar a m&aacute;quina de waffles com &oacute;leo de girassol (pode ser outro).
            </p>
            <p class="identDIV">
                &nbsp;&nbsp;&nbsp;&nbsp;Distribuir a massa - coloco 3 colheres de sopa rasas em cada forma, mas depende da m&aacute;quina.
            </p>
        </div>
    </div>
</div>