
@{
    ViewBag.Title = "Waffle";
}

<h2>Waffle</h2>

<h2>Tabuledequinoa</h2>

@Html.Partial("LogoView")

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/Images/Waffle_400.jpg" />
            <p></p>
        </div>
        <div class="col-md-8">
            <p>
                <strong>Ingredientes:</strong><br />
                1 ovo<br />1 banana<br />
                2 col. ch&aacute; de chia<br />
                1 col. sopa farinha de arroz<br />
                1 col. ch&aacute; de canela<br />
                1 col. sopa de fermento<br />
                1 col. sopa farelo de aveia <br />
                Mel a gosto
                <br />
                Geleia de morango sem adi&ccedil;&atilde;o de a&ccedil;&uacute;car
            </p>
            <br />
            <p>
                <strong>Modo de Fazer:</strong> <br />
                Misturar tudo at&eacute; ficar "l&iacute;quido".<br />
                Untar a m&aacute;quina de waffles com &oacute;leo de girassol (pode ser outro).<br />
                Distribuir a massa - coloco 3 colheres de sopa rasas em cada forma, mas depende da m&aacute;quina.
            </p>
        </div>
    </div>
</div>