<table class="table">
    <tr>
        <td>
            <a href="@Url.Action("Index", "Home")">
                <img class="img-responsive pull-left" src="~/images/LogoNovo.png" title="Manuela Ibi Nutrição Integrada" alt="Manuela Ibi Nutrição Integrada" />
            </a>
        </td>
        <td>
            <a target="_blank" href="https://www.facebook.com/clinicalisbotucatu/">
                <img class="img-responsive pull-right" src="~/images/lis-logo-120.png" title="Clínica Lis Botucatu" alt="Clínica Lis Botucatu" />
            </a>
        </td>
    </tr>
</table>
