
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>

<div class="container gallery-container">
    <div class="tz-gallery body-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Clinica_Lis_1_ano_5_outubro_2019/1.jpeg">
                    <img src="~/Images/Cursos/Clinica_Lis_1_ano_5_outubro_2019/1.jpeg" alt="Os três sócios: Bruno, Manu e Renata">
                </a>
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Clinica_Lis_1_ano_5_outubro_2019/2.jpeg">
                    <img src="~/Images/Cursos/Clinica_Lis_1_ano_5_outubro_2019/2.jpeg" alt="Os três sócios brincando: Bruno, Manu e Renata">
                </a>
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Clinica_Lis_1_ano_5_outubro_2019/3.jpeg">
                    <img src="~/Images/Cursos/Clinica_Lis_1_ano_5_outubro_2019/3.jpeg" alt="Duas sócias: Manu e Renata">
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Clinica_Lis_1_ano_5_outubro_2019/4.jpeg">
                    <img src="~/Images/Cursos/Clinica_Lis_1_ano_5_outubro_2019/4.jpeg" alt="Mesas: preparando o almoço">
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Clinica_Lis_1_ano_5_outubro_2019/5.jpeg">
                    <img src="~/Images/Cursos/Clinica_Lis_1_ano_5_outubro_2019/5.jpeg" alt="Mãe e filha">
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Clinica_Lis_1_ano_5_outubro_2019/6.jpeg">
                    <img src="~/Images/Cursos/Clinica_Lis_1_ano_5_outubro_2019/6.jpeg" alt="Amigas e paciêntes">
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Clinica_Lis_1_ano_5_outubro_2019/7.jpeg">
                    <img src="~/Images/Cursos/Clinica_Lis_1_ano_5_outubro_2019/7.jpeg" alt="Entre amigos">
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Clinica_Lis_1_ano_5_outubro_2019/8.jpeg">
                    <img src="~/Images/Cursos/Clinica_Lis_1_ano_5_outubro_2019/8.jpeg" alt="Bruno e família">
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Clinica_Lis_1_ano_5_outubro_2019/9.jpeg">
                    <img src="~/Images/Cursos/Clinica_Lis_1_ano_5_outubro_2019/9.jpeg" alt="Mãe e filho mais jovem">
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Clinica_Lis_1_ano_5_outubro_2019/10.jpeg">
                    <img src="~/Images/Cursos/Clinica_Lis_1_ano_5_outubro_2019/10.jpeg" alt="Dra. Manuela Ibi e família de pacientes">
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Clinica_Lis_1_ano_5_outubro_2019/11.jpeg">
                    <img src="~/Images/Cursos/Clinica_Lis_1_ano_5_outubro_2019/11.jpeg" alt="Iniciando a Yoga">
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Clinica_Lis_1_ano_5_outubro_2019/12.jpeg">
                    <img src="~/Images/Cursos/Clinica_Lis_1_ano_5_outubro_2019/12.jpeg" alt="Reflexões e a Yoga">
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Clinica_Lis_1_ano_5_outubro_2019/13.jpeg">
                    <img src="~/Images/Cursos/Clinica_Lis_1_ano_5_outubro_2019/13.jpeg" alt="Meditando">
                </a>
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Clinica_Lis_1_ano_5_outubro_2019/14.jpeg">
                    <img src="~/Images/Cursos/Clinica_Lis_1_ano_5_outubro_2019/14.jpeg" alt="Preparando a dança">
                </a>
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Clinica_Lis_1_ano_5_outubro_2019/15.jpeg">
                    <img src="~/Images/Cursos/Clinica_Lis_1_ano_5_outubro_2019/15.jpeg" alt="Comunicando a dança">
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Clinica_Lis_1_ano_5_outubro_2019/16.jpeg">
                    <img src="~/Images/Cursos/Clinica_Lis_1_ano_5_outubro_2019/16.jpeg" alt="O centro da dança">
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Clinica_Lis_1_ano_5_outubro_2019/17.jpeg">
                    <img src="~/Images/Cursos/Clinica_Lis_1_ano_5_outubro_2019/17.jpeg" alt="E vamos ao sorteio">
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Clinica_Lis_1_ano_5_outubro_2019/18.jpeg">
                    <img src="~/Images/Cursos/Clinica_Lis_1_ano_5_outubro_2019/18.jpeg" alt="Prontos para tirar o sorteado">
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Clinica_Lis_1_ano_5_outubro_2019/19.jpeg">
                    <img src="~/Images/Cursos/Clinica_Lis_1_ano_5_outubro_2019/19.jpeg" alt="Prêmio oferecido pela Fina Filó Botucatu">
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Clinica_Lis_1_ano_5_outubro_2019/20.jpeg">
                    <img src="~/Images/Cursos/Clinica_Lis_1_ano_5_outubro_2019/20.jpeg" alt="Prêmio oferecido pelo Mundo Verde Botucatu">
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Clinica_Lis_1_ano_5_outubro_2019/22.jpeg">
                    <img src="~/Images/Cursos/Clinica_Lis_1_ano_5_outubro_2019/22.jpeg" alt="Sorteados de qualquer idade">
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Clinica_Lis_1_ano_5_outubro_2019/23.jpeg">
                    <img src="~/Images/Cursos/Clinica_Lis_1_ano_5_outubro_2019/23.jpeg" alt="Vale também pode?">
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Clinica_Lis_1_ano_5_outubro_2019/24.jpeg">
                    <img src="~/Images/Cursos/Clinica_Lis_1_ano_5_outubro_2019/24.jpeg" alt="Mulheres recebem presentes também">
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Clinica_Lis_1_ano_5_outubro_2019/25.jpeg">
                    <img src="~/Images/Cursos/Clinica_Lis_1_ano_5_outubro_2019/25.jpeg" alt="Mimando uma adolescente">
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Clinica_Lis_1_ano_5_outubro_2019/26.jpeg">
                    <img src="~/Images/Cursos/Clinica_Lis_1_ano_5_outubro_2019/26.jpeg" alt="E os presentes não acabam">
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Clinica_Lis_1_ano_5_outubro_2019/27.jpeg">
                    <img src="~/Images/Cursos/Clinica_Lis_1_ano_5_outubro_2019/27.jpeg" alt="Até criança é sorteada">
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Clinica_Lis_1_ano_5_outubro_2019/28.jpeg">
                    <img src="~/Images/Cursos/Clinica_Lis_1_ano_5_outubro_2019/28.jpeg" alt="Para todos os tamanhos">
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Clinica_Lis_1_ano_5_outubro_2019/brindes.jpeg">
                    <img src="~/Images/Cursos/Clinica_Lis_1_ano_5_outubro_2019/brindes.jpeg" alt="O que foi sorteado">
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Clinica_Lis_1_ano_5_outubro_2019/manu.jpeg">
                    <img src="~/Images/Cursos/Clinica_Lis_1_ano_5_outubro_2019/manu.jpeg" alt="Dra. Manuela Ibi feliz">
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Clinica_Lis_1_ano_5_outubro_2019/musica.jpeg">
                    <img src="~/Images/Cursos/Clinica_Lis_1_ano_5_outubro_2019/musica.jpeg" alt="E também teve música">
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Clinica_Lis_1_ano_5_outubro_2019/cardapio.jpeg">
                    <img src="~/Images/Cursos/Clinica_Lis_1_ano_5_outubro_2019/cardapio.jpeg" alt="Cardápio">
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Clinica_Lis_1_ano_5_outubro_2019/prato.jpeg">
                    <img src="~/Images/Cursos/Clinica_Lis_1_ano_5_outubro_2019/prato.jpeg" alt="Prato saudável e natural">
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Clinica_Lis_1_ano_5_outubro_2019/salgados.jpeg">
                    <img src="~/Images/Cursos/Clinica_Lis_1_ano_5_outubro_2019/salgados.jpeg" alt="Salgadinhos podem ser saudáveis">
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Clinica_Lis_1_ano_5_outubro_2019/doces.jpeg">
                    <img src="~/Images/Cursos/Clinica_Lis_1_ano_5_outubro_2019/doces.jpeg" alt="Romeu e Julieta">
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Clinica_Lis_1_ano_5_outubro_2019/bolo.jpeg">
                    <img src="~/Images/Cursos/Clinica_Lis_1_ano_5_outubro_2019/bolo.jpeg" alt="Não podia faltar o bolo">
                </a>
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Clinica_Lis_1_ano_5_outubro_2019/bolo_visao_geral.jpeg">
                    <img src="~/Images/Cursos/Clinica_Lis_1_ano_5_outubro_2019/bolo_visao_geral.jpeg" alt="Mesa com o bolo">
                </a>
            </div>
        </div>
    </div>
</div>
