
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>

<div class="container gallery-container">
    <div class="tz-gallery body-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-5">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Cardapio_saudavel_21_agosto_2019/Cartaz.jpg">
                    <img src="~/Images/Cursos/Cardapio_saudavel_21_agosto_2019/Cartaz.jpg" alt="Cartaz para o curso de cardápio saudável de 21 de agosto">
                </a>
            </div>
            <div class="col-sm-12 col-md-7">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Cardapio_saudavel_21_agosto_2019/turma.jpg">
                    <img src="~/Images/Cursos/Cardapio_saudavel_21_agosto_2019/turma.jpg" alt="Turma do curso">
                </a>
            </div>
            <div class="col-sm-12 col-md-7">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Sopas_17-jul-2019/Turma.jpeg">
                    <img src="~/Images/Cursos/Sopas_17-jul-2019/Turma.jpeg" alt="Turma do curso">
                </a>
            </div>
            <div class="col-sm-12 col-md-5">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Cardapio_saudavel_21_agosto_2019/manue_e_aluna.jpg">
                    <img src="~/Images/Cursos/Cardapio_saudavel_21_agosto_2019/manue_e_aluna.jpg" alt="Dra. Manuela Ibi e aluna">
                </a>
            </div>
            <div class="col-sm-12 col-md-5">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Cardapio_saudavel_21_agosto_2019/Cortesia_espaco_organico.jpg">
                    <img src="~/Images/Cursos/Cardapio_saudavel_21_agosto_2019/Cortesia_espaco_organico.jpg" alt="Cortesia do Espaço Orgânico">
                </a>
            </div>
            <div class="col-sm-12 col-md-5">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Cardapio_saudavel_21_agosto_2019/Cortesia_a_granel.jpeg">
                    <img src="~/Images/Cursos/Cardapio_saudavel_21_agosto_2019/Cortesia_a_granel.jpeg" alt="Cortesia A Granel">
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Cardapio_saudavel_21_agosto_2019/Degustacao.jpg">
                    <img src="~/Images/Cursos/Cardapio_saudavel_21_agosto_2019/Degustacao.jpg" alt="Degustação">
                </a>
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Cardapio_saudavel_21_agosto_2019/Salada_de_frutas.jpg">
                    <img src="~/Images/Cursos/Cardapio_saudavel_21_agosto_2019/Salada_de_frutas.jpg" alt="Salada de frutas">
                </a>
            </div>
        </div>
    </div>
</div>
