
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>

<div class="container gallery-container">
    <div class="tz-gallery body-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-5">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Cardapio_saudavel_18_setembro_2019/cartaz.jpeg">
                    <img src="~/Images/Cursos/Cardapio_saudavel_18_setembro_2019/cartaz.jpeg" alt="Cartaz para o curso de cardápio saudável de 18 de setembro">
                </a>
            </div>
            <div class="col-sm-12 col-md-7">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Cardapio_saudavel_18_setembro_2019/turma.jpeg">
                    <img src="~/Images/Cursos/Cardapio_saudavel_18_setembro_2019/turma.jpeg" alt="Turma do curso">
                </a>
            </div>
            <div class="col-sm-12 col-md-7">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Cardapio_saudavel_18_setembro_2019/estagiaria.jpeg">
                    <img src="~/Images/Cursos/Cardapio_saudavel_18_setembro_2019/estagiaria.jpeg" alt="Dra. Manuela Ibi e estagiária">
                </a>
            </div>
            <div class="col-sm-12 col-md-5">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Cardapio_saudavel_18_setembro_2019/esfihas.jpeg">
                    <img src="~/Images/Cursos/Cardapio_saudavel_18_setembro_2019/esfihas.jpeg" alt="Esfihas cortesia Libanesa">
                </a>
            </div>
            <div class="col-sm-12 col-md-5">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Cardapio_saudavel_18_setembro_2019/castanhas.jpeg">
                    <img src="~/Images/Cursos/Cardapio_saudavel_18_setembro_2019/castanhas.jpeg" alt="Castanhas cortesia A Granel">
                </a>
            </div>
            <div class="col-sm-12 col-md-8">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Cardapio_saudavel_18_setembro_2019/Salada_de_frutas.jpeg">
                    <img src="~/Images/Cursos/Cardapio_saudavel_18_setembro_2019/Salada_de_frutas.jpeg" alt="Salada de frutas cortesia Quitanda Dona Marina">
                </a>
            </div>
        </div>
    </div>
</div>
