
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>

<div class="container gallery-container">

    <div class="tz-gallery body-fluid">

        <div class="row">

            <div class="col-sm-12 col-md-6">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Lanches_22_maio_2019/Cartaz.jpg">
                    <img src="~/Images/Cursos/Lanches_22_maio_2019/Cartaz.jpg" alt="Cartaz para o curso Estratégias para lanches doces e salgados">
                </a>
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Lanches_22_maio_2019/Chamada.jpg">
                    <img src="~/Images/Cursos/Lanches_22_maio_2019/Chamada.jpg" alt="Chamada para o curso Estratégias para lanches doces e salgados">
                </a>
            </div>
            <div class="col-sm-12 col-md-12">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Lanches_22_maio_2019/Turma.jpg">
                    <img src="~/Images/Cursos/Lanches_22_maio_2019/Turma.jpg" alt="Turma do curso Estratégias para lanches doces e salgados">
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Lanches_22_maio_2019/Muffin_salgados_na_forma.jpg">
                    <img src="~/Images/Cursos/Lanches_22_maio_2019/Muffin_salgados_na_forma.jpg" alt="Muffins salgados na forma">
                </a>
            </div>
            <div class="col-sm-12 col-md-8">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Lanches_22_maio_2019/Muffin_salgados_no_forno.jpg">
                    <img src="~/Images/Cursos/Lanches_22_maio_2019/Muffin_salgados_no_forno.jpg" alt="Muffins salgados no forno">
                </a>
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Lanches_22_maio_2019/Muffin_salgados_prontos.jpg">
                    <img src="~/Images/Cursos/Lanches_22_maio_2019/Muffin_salgados_prontos.jpg" alt="Muffins salgados prontos">
                </a>
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Lanches_22_maio_2019/Cremes_salgados_porcionados.jpg">
                    <img src="~/Images/Cursos/Lanches_22_maio_2019/Cremes_salgados_porcionados.jpg" alt="Cremes salgados porcionados">
                </a>
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Lanches_22_maio_2019/Chef_Manu_e_os_cremes_salgados.JPG">
                    <img src="~/Images/Cursos/Lanches_22_maio_2019/Chef_Manu_e_os_cremes_salgados.JPG" alt="Chef Manu e os cremes salgados">
                </a>
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Lanches_22_maio_2019/dips_salgados.jpg">
                    <img src="~/Images/Cursos/Lanches_22_maio_2019/dips_salgados.jpg" alt="Dips salgados">
                </a>
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Lanches_22_maio_2019/Pao_de_frigideira_inicio.jpg">
                    <img src="~/Images/Cursos/Lanches_22_maio_2019/Pao_de_frigideira_inicio.jpg" alt="Iniciando a preparar pão de frigideira">
                </a>
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Lanches_22_maio_2019/Pao_de_frigideira_na_frigideira.jpg">
                    <img src="~/Images/Cursos/Lanches_22_maio_2019/Pao_de_frigideira_na_frigideira.jpg" alt="Pão de frigideira no ponto">
                </a>
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Lanches_22_maio_2019/Fatia_do_pao_de_frigideira_para_o_pote.jpg">
                    <img src="~/Images/Cursos/Lanches_22_maio_2019/Fatia_do_pao_de_frigideira_para_o_pote.jpg" alt="Fatia do pão de frigideira para o pote">
                </a>
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Lanches_22_maio_2019/Finalizando_lanche_de_pote_salgado.jpg">
                    <img src="~/Images/Cursos/Lanches_22_maio_2019/Finalizando_lanche_de_pote_salgado.jpg" alt="Finalizando o lanche de pote salgado">
                </a>
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Lanches_22_maio_2019/Lanche_de_pote_pronto.jpg">
                    <img src="~/Images/Cursos/Lanches_22_maio_2019/Lanche_de_pote_pronto.jpg" alt="Lanche de pote pronto">
                </a>
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Lanches_22_maio_2019/Preparando_para_servir_dips_doces.jpg">
                    <img src="~/Images/Cursos/Lanches_22_maio_2019/Preparando_para_servir_dips_doces.jpg" alt="Preparando para servir Dips doces">
                </a>
            </div>
            <div class="col-sm-12 col-md-12">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Lanches_22_maio_2019/Cremes_doces_servidos.jpg">
                    <img src="~/Images/Cursos/Lanches_22_maio_2019/Cremes_doces_servidos.jpg" alt="Cremes doces servidos">
                </a>
            </div>
            <div class="col-sm-12 col-md-5">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Lanches_22_maio_2019/Overnight_oat.jpg">
                    <img src="~/Images/Cursos/Lanches_22_maio_2019/Overnight_oat.jpg" alt="Overnight oat">
                </a>
            </div>
            <div class="col-sm-12 col-md-7">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Lanches_22_maio_2019/Ouvintes_esquerda.jpg">
                    <img src="~/Images/Cursos/Lanches_22_maio_2019/Ouvintes_esquerda.jpg" alt="Ouvintes dentro e fora da bancada">
                </a>
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Lanches_22_maio_2019/Ouvintes_direita.jpg">
                    <img src="~/Images/Cursos/Lanches_22_maio_2019/Ouvintes_direita.jpg" alt="Ouvintes da bancada">
                </a>
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Lanches_22_maio_2019/Manuela_Ibi.jpg">
                    <img src="~/Images/Cursos/Lanches_22_maio_2019/Manuela_Ibi.jpg" alt="Chef Manuela Ibi">
                </a>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.tz-gallery');
</script>