@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>

<div class="container gallery-container">
    <div class="tz-gallery body-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-5">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Nutrikids_2019/Nutrikids_outubro_e_novembro_2019_01.jpeg">
                    <img src="~/Images/Cursos/Nutrikids_2019/Nutrikids_outubro_e_novembro_2019_01.jpeg" alt="Nutrikids 2019 Foto 01">
                </a>
            </div>
            <div class="col-sm-12 col-md-7">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Nutrikids_2019/Nutrikids_outubro_e_novembro_2019_02.jpeg">
                    <img src="~/Images/Cursos/Nutrikids_2019/Nutrikids_outubro_e_novembro_2019_02.jpeg" alt="Nutrikids 2019 Foto 02">
                </a>
            </div>
            <div class="col-sm-12 col-md-7">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Nutrikids_2019/Nutrikids_outubro_e_novembro_2019_03.jpeg">
                    <img src="~/Images/Cursos/Nutrikids_2019/Nutrikids_outubro_e_novembro_2019_03.jpeg" alt="Nutrikids 2019 Foto 03">
                </a>
            </div>
            <div class="col-sm-12 col-md-5">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Nutrikids_2019/Nutrikids_outubro_e_novembro_2019_04.jpeg">
                    <img src="~/Images/Cursos/Nutrikids_2019/Nutrikids_outubro_e_novembro_2019_04.jpeg" alt="Nutrikids 2019 Foto 04">
                </a>
            </div>
            <div class="col-sm-12 col-md-5">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Nutrikids_2019/Nutrikids_outubro_e_novembro_2019_05.jpeg">
                    <img src="~/Images/Cursos/Nutrikids_2019/Nutrikids_outubro_e_novembro_2019_05.jpeg" alt="Nutrikids 2019 Foto 05">
                </a>
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Nutrikids_2019/Nutrikids_outubro_e_novembro_2019_06.jpeg">
                    <img src="~/Images/Cursos/Nutrikids_2019/Nutrikids_outubro_e_novembro_2019_06.jpeg" alt="Nutrikids 2019 Foto 06">
                </a>
            </div>
            <div class="col-sm-4 col-md-6">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Nutrikids_2019/Nutrikids_outubro_e_novembro_2019_07.jpeg">
                    <img src="~/Images/Cursos/Nutrikids_2019/Nutrikids_outubro_e_novembro_2019_07.jpeg" alt="Nutrikids 2019 Foto 07">
                </a>
            </div>
            <div class="col-sm-4 col-md-6">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Nutrikids_2019/Nutrikids_outubro_e_novembro_2019_08.jpeg">
                    <img src="~/Images/Cursos/Nutrikids_2019/Nutrikids_outubro_e_novembro_2019_08.jpeg" alt="Nutrikids 2019 Foto 08">
                </a>
            </div>
            <div class="col-sm-4 col-md-8">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Nutrikids_2019/Nutrikids_outubro_e_novembro_2019_09.jpeg">
                    <img src="~/Images/Cursos/Nutrikids_2019/Nutrikids_outubro_e_novembro_2019_09.jpeg" alt="Nutrikids 2019 Foto 09">
                </a>
            </div>
            <div class="col-sm-4 col-md-4">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Nutrikids_2019/Nutrikids_outubro_e_novembro_2019_10.jpeg">
                    <img src="~/Images/Cursos/Nutrikids_2019/Nutrikids_outubro_e_novembro_2019_10.jpeg" alt="Nutrikids 2019 Foto 10">
                </a>
            </div>
            <div class="col-sm-4 col-md-4">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Nutrikids_2019/Nutrikids_outubro_e_novembro_2019_11.jpeg">
                    <img src="~/Images/Cursos/Nutrikids_2019/Nutrikids_outubro_e_novembro_2019_11.jpeg" alt="Nutrikids 2019 Foto 11">
                </a>
            </div>
            <div class="col-sm-4 col-md-4">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Nutrikids_2019/Nutrikids_outubro_e_novembro_2019_12.jpeg">
                    <img src="~/Images/Cursos/Nutrikids_2019/Nutrikids_outubro_e_novembro_2019_12.jpeg" alt="Nutrikids 2019 Foto 12">
                </a>
            </div>
            <div class="col-sm-4 col-md-4">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Nutrikids_2019/Nutrikids_outubro_e_novembro_2019_13.jpeg">
                    <img src="~/Images/Cursos/Nutrikids_2019/Nutrikids_outubro_e_novembro_2019_13.jpeg" alt="Nutrikids 2019 Foto 13">
                </a>
            </div>
            <div class="col-sm-4 col-md-6">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Nutrikids_2019/Nutrikids_outubro_e_novembro_2019_14.jpeg">
                    <img src="~/Images/Cursos/Nutrikids_2019/Nutrikids_outubro_e_novembro_2019_14.jpeg" alt="Nutrikids 2019 Foto 14">
                </a>
            </div>
            <div class="col-sm-12 col-md-5">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Nutrikids_2019/Nutrikids_outubro_e_novembro_2019_15.jpeg">
                    <img src="~/Images/Cursos/Nutrikids_2019/Nutrikids_outubro_e_novembro_2019_15.jpeg" alt="Nutrikids 2019 Foto 15">
                </a>
            </div>
            <div class="col-sm-12 col-md-7">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Nutrikids_2019/Nutrikids_outubro_e_novembro_2019_16.jpeg">
                    <img src="~/Images/Cursos/Nutrikids_2019/Nutrikids_outubro_e_novembro_2019_16.jpeg" alt="Nutrikids 2019 Foto 16">
                </a>
            </div>
            <div class="col-sm-12 col-md-7">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Nutrikids_2019/Nutrikids_outubro_e_novembro_2019_17.jpeg">
                    <img src="~/Images/Cursos/Nutrikids_2019/Nutrikids_outubro_e_novembro_2019_17.jpeg" alt="Nutrikids 2019 Foto 17">
                </a>
            </div>
            <div class="col-sm-12 col-md-5">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Nutrikids_2019/Nutrikids_outubro_e_novembro_2019_18.jpeg">
                    <img src="~/Images/Cursos/Nutrikids_2019/Nutrikids_outubro_e_novembro_2019_18.jpeg" alt="Nutrikids 2019 Foto 18">
                </a>
            </div>
            <div class="col-sm-12 col-md-5">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Nutrikids_2019/Nutrikids_outubro_e_novembro_2019_19.jpeg">
                    <img src="~/Images/Cursos/Nutrikids_2019/Nutrikids_outubro_e_novembro_2019_19.jpeg" alt="Nutrikids 2019 Foto 19">
                </a>
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Nutrikids_2019/Nutrikids_outubro_e_novembro_2019_20.jpeg">
                    <img src="~/Images/Cursos/Nutrikids_2019/Nutrikids_outubro_e_novembro_2019_20.jpeg" alt="Nutrikids 2019 Foto 20">
                </a>
            </div>
            <div class="col-sm-4 col-md-6">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Nutrikids_2019/Nutrikids_outubro_e_novembro_2019_21.jpeg">
                    <img src="~/Images/Cursos/Nutrikids_2019/Nutrikids_outubro_e_novembro_2019_21.jpeg" alt="Nutrikids 2019 Foto 21">
                </a>
            </div>
            <div class="col-sm-4 col-md-6">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Nutrikids_2019/Nutrikids_outubro_e_novembro_2019_22.jpeg">
                    <img src="~/Images/Cursos/Nutrikids_2019/Nutrikids_outubro_e_novembro_2019_22.jpeg" alt="Nutrikids 2019 Foto 22">
                </a>
            </div>
            <div class="col-sm-4 col-md-8">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Nutrikids_2019/Nutrikids_outubro_e_novembro_2019_23.jpeg">
                    <img src="~/Images/Cursos/Nutrikids_2019/Nutrikids_outubro_e_novembro_2019_23.jpeg" alt="Nutrikids 2019 Foto 23">
                </a>
            </div>
            <div class="col-sm-4 col-md-4">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Nutrikids_2019/Nutrikids_outubro_e_novembro_2019_24.jpeg">
                    <img src="~/Images/Cursos/Nutrikids_2019/Nutrikids_outubro_e_novembro_2019_24.jpeg" alt="Nutrikids 2019 Foto 24">
                </a>
            </div>
            <div class="col-sm-4 col-md-4">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Nutrikids_2019/Nutrikids_outubro_e_novembro_2019_25.jpeg">
                    <img src="~/Images/Cursos/Nutrikids_2019/Nutrikids_outubro_e_novembro_2019_25.jpeg" alt="Nutrikids 2019 Foto 25">
                </a>
            </div>
            <div class="col-sm-4 col-md-4">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Nutrikids_2019/Nutrikids_outubro_e_novembro_2019_26.jpeg">
                    <img src="~/Images/Cursos/Nutrikids_2019/Nutrikids_outubro_e_novembro_2019_26.jpeg" alt="Nutrikids 2019 Foto 26">
                </a>
            </div>
            <div class="col-sm-4 col-md-4">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Nutrikids_2019/Nutrikids_outubro_e_novembro_2019_27.jpeg">
                    <img src="~/Images/Cursos/Nutrikids_2019/Nutrikids_outubro_e_novembro_2019_27.jpeg" alt="Nutrikids 2019 Foto 27">
                </a>
            </div>
            <div class="col-sm-4 col-md-6">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Nutrikids_2019/Nutrikids_outubro_e_novembro_2019_28.jpeg">
                    <img src="~/Images/Cursos/Nutrikids_2019/Nutrikids_outubro_e_novembro_2019_28.jpeg" alt="Nutrikids 2019 Foto 28">
                </a>
            </div>
        </div>
    </div>
</div>
