
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>

<div class="container gallery-container">
    <div class="tz-gallery body-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-5">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Petiscos_de_verao_9_outubro_2019/Cartaz_Petiscos.jpg">
                    <img src="~/Images/Cursos/Petiscos_de_verao_9_outubro_2019/Cartaz_Petiscos.jpg" alt="Cartaz para o curso de petiscos de verão de 9 de outubro">
                </a>
            </div>
            <div class="col-sm-12 col-md-7">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Petiscos_de_verao_9_outubro_2019/Turma.jpeg">
                    <img src="~/Images/Cursos/Petiscos_de_verao_9_outubro_2019/Turma.jpeg" alt="Turma do curso petiscos de verão de 9 de outubro">
                </a>
            </div>
            <div class="col-sm-12 col-md-7">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Petiscos_de_verao_9_outubro_2019/Clrericot.jpeg">
                    <img src="~/Images/Cursos/Petiscos_de_verao_9_outubro_2019/Clrericot.jpeg" alt="Jarra de Clericot de kombucha">
                </a>
            </div>
            <div class="col-sm-12 col-md-5">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Petiscos_de_verao_9_outubro_2019/ceviche_de_coco.jpeg">
                    <img src="~/Images/Cursos/Petiscos_de_verao_9_outubro_2019/ceviche_de_coco.jpeg" alt="Ceviche de coco">
                </a>
            </div>
            <div class="col-sm-12 col-md-5">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Petiscos_de_verao_9_outubro_2019/apresentacao.jpeg">
                    <img src="~/Images/Cursos/Petiscos_de_verao_9_outubro_2019/apresentacao.jpeg" alt="Apresentação do serviço">
                </a>
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Petiscos_de_verao_9_outubro_2019/canapes_de_abobrinha.jpeg">
                    <img src="~/Images/Cursos/Petiscos_de_verao_9_outubro_2019/canapes_de_abobrinha.jpeg" alt="Canapés de abobrinha">
                </a>
            </div>
            <div class="col-sm-4 col-md-6">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Petiscos_de_verao_9_outubro_2019/crouton_2.jpeg">
                    <img src="~/Images/Cursos/Petiscos_de_verao_9_outubro_2019/crouton_2.jpeg" alt="Croutons de grão-de-bico">
                </a>
            </div>
            <div class="col-sm-4 col-md-6">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Petiscos_de_verao_9_outubro_2019/Clericot.jpeg">
                    <img src="~/Images/Cursos/Petiscos_de_verao_9_outubro_2019/Clericot.jpeg" alt="Taça de clericot de kombucha aprovada">
                </a>
            </div>
            <div class="col-sm-4 col-md-8">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Petiscos_de_verao_9_outubro_2019/canapes.jpeg">
                    <img src="~/Images/Cursos/Petiscos_de_verao_9_outubro_2019/canapes.jpeg" alt="Canapés de abobrinha aprovados">
                </a>
            </div>
            <div class="col-sm-4 col-md-4">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Petiscos_de_verao_9_outubro_2019/ceviche_de_coco_2.jpeg">
                    <img src="~/Images/Cursos/Petiscos_de_verao_9_outubro_2019/ceviche_de_coco_2.jpeg" alt="Ceviche de coco para divulgação">
                </a>
            </div>
            <div class="col-sm-4 col-md-4">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Petiscos_de_verao_9_outubro_2019/crocantes_de_grao_de_bico.jpeg">
                    <img src="~/Images/Cursos/Petiscos_de_verao_9_outubro_2019/crocantes_de_grao_de_bico.jpeg" alt="Crocantes de grão-de-bico">
                </a>
            </div>
            <div class="col-sm-4 col-md-4">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Petiscos_de_verao_9_outubro_2019/clericot_de_kombucha.jpeg">
                    <img src="~/Images/Cursos/Petiscos_de_verao_9_outubro_2019/clericot_de_kombucha.jpeg" alt="Clericot de combucha para divulgação">
                </a>
            </div>
            <div class="col-sm-4 col-md-4">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Petiscos_de_verao_9_outubro_2019/canapes_de_abobrinha_2.jpeg">
                    <img src="~/Images/Cursos/Petiscos_de_verao_9_outubro_2019/canapes_de_abobrinha_2.jpeg" alt="Canapés de abobrinha para degustação">
                </a>
            </div>
            <div class="col-sm-4 col-md-6">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Petiscos_de_verao_9_outubro_2019/homus_de_beterraba_e_crudites.jpeg">
                    <img src="~/Images/Cursos/Petiscos_de_verao_9_outubro_2019/homus_de_beterraba_e_crudites.jpeg" alt="Homus de beterraba e crudités">
                </a>
            </div>
        </div>
    </div>
</div>
