
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>

<div class="container gallery-container">

    <div class="tz-gallery body-fluid">

        <div class="row">

            <div class="col-sm-12 col-md-4">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Receitas_e_intestino_saudavel_10_mar_2019/anuncio.jpeg">
                    <img src="~/Images/Cursos/Receitas_e_intestino_saudavel_10_mar_2019/anuncio.jpeg" alt="Cartaz para o curso Receitas e Intestino saudável 10 de março de 2019">
                </a>
            </div>
            <div class="col-sm-12 col-md-8">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Receitas_e_intestino_saudavel_10_mar_2019/turma.jpeg">
                    <img src="~/Images/Cursos/Receitas_e_intestino_saudavel_10_mar_2019/turma.jpeg" alt="Turma do curso Receitas e Intestino saudável 10 de março de 2019">
                </a>
            </div>
            <div class="col-sm-12 col-md-7">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Receitas_e_intestino_saudavel_10_mar_2019/atencao.jpeg">
                    <img src="~/Images/Cursos/Receitas_e_intestino_saudavel_10_mar_2019/atencao.jpeg" alt="Turma do curso Receitas e Intestino saudável 10 de março de 2019 prestando atenção">
                </a>
            </div>
            <div class="col-sm-12 col-md-5">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Receitas_e_intestino_saudavel_10_mar_2019/chef_manu.jpeg">
                    <img src="~/Images/Cursos/Receitas_e_intestino_saudavel_10_mar_2019/chef_manu.jpeg" alt="Chef Manuela Ibi">
                </a>
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Receitas_e_intestino_saudavel_10_mar_2019/pre-preparados.jpeg">
                    <img src="~/Images/Cursos/Receitas_e_intestino_saudavel_10_mar_2019/pre-preparados.jpeg" alt="Ingredientes pré-preparados">
                </a>
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Receitas_e_intestino_saudavel_10_mar_2019/verrini.jpeg">
                    <img src="~/Images/Cursos/Receitas_e_intestino_saudavel_10_mar_2019/verrini.jpeg" alt="Verrini na taça">
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Receitas_e_intestino_saudavel_10_mar_2019/creamcheese-1.jpeg">
                    <img src="~/Images/Cursos/Receitas_e_intestino_saudavel_10_mar_2019/creamcheese-1.jpeg" alt="Drenando o creeamcheese">
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Receitas_e_intestino_saudavel_10_mar_2019/creamcheese-2.jpeg">
                    <img src="~/Images/Cursos/Receitas_e_intestino_saudavel_10_mar_2019/creamcheese-2.jpeg" alt="Creeamcheese no voil">
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Receitas_e_intestino_saudavel_10_mar_2019/creamcheese-3.jpeg">
                    <img src="~/Images/Cursos/Receitas_e_intestino_saudavel_10_mar_2019/creamcheese-3.jpeg" alt="O creeamcheese">
                </a>
            </div>
            <div class="col-sm-12 col-md-8">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Receitas_e_intestino_saudavel_10_mar_2019/ponto_do_crumble.jpeg">
                    <img src="~/Images/Cursos/Receitas_e_intestino_saudavel_10_mar_2019/ponto_do_crumble.jpeg" alt="Ponto do crumble">
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Receitas_e_intestino_saudavel_10_mar_2019/crumble_antes_forno.jpeg">
                    <img src="~/Images/Cursos/Receitas_e_intestino_saudavel_10_mar_2019/crumble_antes_forno.jpeg" alt="Crumble antes do forno">
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Receitas_e_intestino_saudavel_10_mar_2019/crumble_no_forno.jpeg">
                    <img src="~/Images/Cursos/Receitas_e_intestino_saudavel_10_mar_2019/crumble_no_forno.jpeg" alt="Crumble no forno">
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Receitas_e_intestino_saudavel_10_mar_2019/crumble_assado.jpeg">
                    <img src="~/Images/Cursos/Receitas_e_intestino_saudavel_10_mar_2019/crumble_assado.jpeg" alt="Crumble assado">
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Receitas_e_intestino_saudavel_10_mar_2019/Preparando_nhoque_2.jpeg">
                    <img src="~/Images/Cursos/Receitas_e_intestino_saudavel_10_mar_2019/Preparando_nhoque_2.jpeg" alt="Preparando a massa do nhoque">
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Receitas_e_intestino_saudavel_10_mar_2019/Preparando_nhoque_3.jpeg">
                    <img src="~/Images/Cursos/Receitas_e_intestino_saudavel_10_mar_2019/Preparando_nhoque_3.jpeg" alt="Enrolando a massa do nhoque">
                </a>
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Receitas_e_intestino_saudavel_10_mar_2019/Preparando_nhoque_4.jpeg">
                    <img src="~/Images/Cursos/Receitas_e_intestino_saudavel_10_mar_2019/Preparando_nhoque_4.jpeg" alt="Nhoque no molho">
                </a>
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Receitas_e_intestino_saudavel_10_mar_2019/Preparando_nhoque_1.jpeg">
                    <img src="~/Images/Cursos/Receitas_e_intestino_saudavel_10_mar_2019/Preparando_nhoque_1.jpeg" alt="Mãos na massa do nhoque">
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Receitas_e_intestino_saudavel_10_mar_2019/pratos_servidos.jpeg">
                    <img src="~/Images/Cursos/Receitas_e_intestino_saudavel_10_mar_2019/pratos_servidos.jpeg" alt="Pratos servidos">
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Receitas_e_intestino_saudavel_10_mar_2019/sobremesas_servidas.jpeg">
                    <img src="~/Images/Cursos/Receitas_e_intestino_saudavel_10_mar_2019/sobremesas_servidas.jpeg" alt="Sobremesas servidas">
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Receitas_e_intestino_saudavel_10_mar_2019/porcao.jpeg">
                    <img src="~/Images/Cursos/Receitas_e_intestino_saudavel_10_mar_2019/porcao.jpeg" alt="Porção servida">
                </a>
            </div>
            <div class="col-sm-12 col-md-12'">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Receitas_e_intestino_saudavel_10_mar_2019/chef_manu_e_o_crumble.jpeg">
                    <img src="~/Images/Cursos/Receitas_e_intestino_saudavel_10_mar_2019/chef_manu_e_o_crumble.jpeg" alt="Chef Manuela Ibi e o crumble">
                </a>
            </div>

        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.tz-gallery');
</script>