
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Receitas rápidas para DETOX 13 de fevereiro de 2019</h1>

<div class="container gallery-container">
    <div class="tz-gallery body-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Receitas_rapidas_para_detox_13_fev_2019/Cartaz.jpeg">
                    <img src="~/Images/Cursos/Receitas_rapidas_para_detox_13_fev_2019/Cartaz.jpeg" alt="Chamada para o curso">
                </a>
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Receitas_rapidas_para_detox_13_fev_2019/turma.jpeg">
                    <img src="~/Images/Cursos/Receitas_rapidas_para_detox_13_fev_2019/turma.jpeg" alt="Turma do curso com menu">
                </a>
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Receitas_rapidas_para_detox_13_fev_2019/manu_com_falafel.jpeg">
                    <img src="~/Images/Cursos/Receitas_rapidas_para_detox_13_fev_2019/manu_com_falafel.jpeg" alt="Chef Manu com o falafel">
                </a>
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Receitas_rapidas_para_detox_13_fev_2019/close_up_falafel.jpeg">
                    <img src="~/Images/Cursos/Receitas_rapidas_para_detox_13_fev_2019/close_up_falafel.jpeg" alt="Close-up do falafel">
                </a>
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Receitas_rapidas_para_detox_13_fev_2019/preparando_ragu_de_shimeji.jpeg">
                    <img src="~/Images/Cursos/Receitas_rapidas_para_detox_13_fev_2019/preparando_ragu_de_shimeji.jpeg" alt="Preparando o ragu de shimeji">
                </a>
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Receitas_rapidas_para_detox_13_fev_2019/preparando_ragu_de_shimeji_2.jpeg">
                    <img src="~/Images/Cursos/Receitas_rapidas_para_detox_13_fev_2019/preparando_ragu_de_shimeji_2.jpeg" alt="Temperando o ragu de shimeji">
                </a>
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Receitas_rapidas_para_detox_13_fev_2019/a">
                    <img src="~/Images/Cursos/Receitas_rapidas_para_detox_13_fev_2019/avo_garden.jpeg" alt="Avo Garden">
                </a>
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Receitas_rapidas_para_detox_13_fev_2019/close_avo_garden.jpeg">
                    <img src="~/Images/Cursos/Receitas_rapidas_para_detox_13_fev_2019/close_avo_garden.jpeg" alt="Close up do Avo Garden">
                </a>
            </div>
            <div class="col-sm-12 col-md-12">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Receitas_rapidas_para_detox_13_fev_2019/close_up_turma.jpeg">
                    <img src="~/Images/Cursos/Receitas_rapidas_para_detox_13_fev_2019/close_up_turma.jpeg" alt="Close-up da turma do curso">
                </a>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.tz-gallery');
</script>