
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>

<div class="container gallery-container">

    <div class="tz-gallery body-fluid">

        <div class="row">

            <div class="col-sm-12 col-md-6">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Receitas_e_intestino_saudavel_22_fev_2019/Cartaz.jpeg">
                    <img src="~/Images/Cursos/Receitas_e_intestino_saudavel_22_fev_2019/Cartaz.jpeg" alt="Cartaz para o curso Receitas e Intestino saudável">
                </a>
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Receitas_e_intestino_saudavel_22_fev_2019/Chamada.jpeg">
                    <img src="~/Images/Cursos/Receitas_e_intestino_saudavel_22_fev_2019/Chamada.jpeg" alt="Chamada para o curso Receitas e Intestino saudável">
                </a>
            </div>
            <div class="col-sm-12 col-md-12">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Receitas_e_intestino_saudavel_22_fev_2019/Turma.jpeg">
                    <img src="~/Images/Cursos/Receitas_e_intestino_saudavel_22_fev_2019/Turma.jpeg" alt="Turma do curso Receitas e Intestino saudável">
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Receitas_e_intestino_saudavel_22_fev_2019/Ameixa.jpeg">
                    <img src="~/Images/Cursos/Receitas_e_intestino_saudavel_22_fev_2019/Ameixa.jpeg" alt="Preparação da geléia">
                </a>
            </div>
            <div class="col-sm-12 col-md-8">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Receitas_e_intestino_saudavel_22_fev_2019/Assistencia_atenta.jpeg">
                    <img src="~/Images/Cursos/Receitas_e_intestino_saudavel_22_fev_2019/Assistencia_atenta.jpeg" alt="Assistência atenta">
                </a>
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Receitas_e_intestino_saudavel_22_fev_2019/Produtos.jpeg">
                    <img src="~/Images/Cursos/Receitas_e_intestino_saudavel_22_fev_2019/Produtos.jpeg" alt="Produtos para a cozinha">
                </a>
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Receitas_e_intestino_saudavel_22_fev_2019/Desinfortmando_o_cream_cheese_iii.jpeg">
                    <img src="~/Images/Cursos/Receitas_e_intestino_saudavel_22_fev_2019/Desinfortmando_o_cream_cheese_iii.jpeg" alt="Drenando o creamcheese">
                </a>
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Receitas_e_intestino_saudavel_22_fev_2019/Desinformando_o_creamcheese.jpeg">
                    <img src="~/Images/Cursos/Receitas_e_intestino_saudavel_22_fev_2019/Desinformando_o_creamcheese.jpeg" alt="Desinformando o creamcheese">
                </a>
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Receitas_e_intestino_saudavel_22_fev_2019/Preparando_recehio_crumble_v.jpeg">
                    <img src="~/Images/Cursos/Receitas_e_intestino_saudavel_22_fev_2019/Preparando_recehio_crumble_v.jpeg" alt="Preparando o recheio do crumble">
                </a>
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Receitas_e_intestino_saudavel_22_fev_2019/Preparando_o_crumble.jpeg">
                    <img src="~/Images/Cursos/Receitas_e_intestino_saudavel_22_fev_2019/Preparando_o_crumble.jpeg" alt="Continua com o recheio do crumble">
                </a>
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Receitas_e_intestino_saudavel_22_fev_2019/Preparando_recehio_crumble_ii.jpeg">
                    <img src="~/Images/Cursos/Receitas_e_intestino_saudavel_22_fev_2019/Preparando_recehio_crumble_ii.jpeg" alt="Ainda preparando o recheio do crumble">
                </a>
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Receitas_e_intestino_saudavel_22_fev_2019/Crumble_no_forno.jpeg">
                    <img src="~/Images/Cursos/Receitas_e_intestino_saudavel_22_fev_2019/Crumble_no_forno.jpeg" alt="Crumble no forno">
                </a>
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Receitas_e_intestino_saudavel_22_fev_2019/Bola_de_gnocchi.jpeg">
                    <img src="~/Images/Cursos/Receitas_e_intestino_saudavel_22_fev_2019/Bola_de_gnocchi.jpeg" alt="Preparando o gnocchi">
                </a>
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Receitas_e_intestino_saudavel_22_fev_2019/Cortando_gnocchi.jpeg">
                    <img src="~/Images/Cursos/Receitas_e_intestino_saudavel_22_fev_2019/Cortando_gnocchi.jpeg" alt="Cortando o gnocchi">
                </a>
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Receitas_e_intestino_saudavel_22_fev_2019/Cozendo_gnocchi.jpeg">
                    <img src="~/Images/Cursos/Receitas_e_intestino_saudavel_22_fev_2019/Cozendo_gnocchi.jpeg" alt="Cozendo o gnocchi">
                </a>
            </div>
            <div class="col-sm-12 col-md-12">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Receitas_e_intestino_saudavel_22_fev_2019/Crumble.jpeg">
                    <img src="~/Images/Cursos/Receitas_e_intestino_saudavel_22_fev_2019/Crumble.jpeg" alt="O cramble">
                </a>
            </div>
            <div class="col-sm-12 col-md-5">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Receitas_e_intestino_saudavel_22_fev_2019/Porcoes.jpeg">
                    <img src="~/Images/Cursos/Receitas_e_intestino_saudavel_22_fev_2019/Porcoes.jpeg" alt="Porções servidas">
                </a>
            </div>
            <div class="col-sm-12 col-md-7">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Receitas_e_intestino_saudavel_22_fev_2019/Prato_servido.jpeg">
                    <img src="~/Images/Cursos/Receitas_e_intestino_saudavel_22_fev_2019/Prato_servido.jpeg" alt="Prato servido">
                </a>
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Receitas_e_intestino_saudavel_22_fev_2019/Geleia.jpeg">
                    <img src="~/Images/Cursos/Receitas_e_intestino_saudavel_22_fev_2019/Geleia.jpeg" alt="Geléia">
                </a>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.tz-gallery');
</script>