
@{
    ViewBag.Title = "Receitas rápidas para detox 30-jan-18";
}

<h2>Receitas rápidas para DETOX 30 de janeiro de 2018</h2>

<div class="container gallery-container">

    <div class="tz-gallery">

        <div class="row">

            <div class="col-sm-12 col-md-4">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Receitas_rapidas_para_detox_30-jan-18/Chamada_detox_30_jan_2018.jpeg">
                    <img src="~/Images/Cursos/Receitas_rapidas_para_detox_30-jan-18/Chamada_detox_30_jan_2018.jpeg" alt="Chamada para o curso">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="~/Images/Cursos/Receitas_rapidas_para_detox_30-jan-18/Tutm_detox_30_jan_2018.jpeg">
                    <img src="~/Images/Cursos/Receitas_rapidas_para_detox_30-jan-18/Tutm_detox_30_jan_2018.jpeg" alt="Turma do curso" title="Turma do curso">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="~/Images/Cursos/Receitas_rapidas_para_detox_30-jan-18/Chef_Manuela_Ibi_detox_30_jan_2018.jpeg">
                    <img src="~/Images/Cursos/Receitas_rapidas_para_detox_30-jan-18/Chef_Manuela_Ibi_detox_30_jan_2018.jpeg" alt="Manuela Ibi Instrutora" title="Manuela Ibi Instrutora">
                </a>
            </div>
            <div class="col-sm-12 col-md-8">
                <a class="lightbox" href="~/Images/Cursos/Receitas_rapidas_para_detox_30-jan-18/Alcachofra_detox_30_jan_2018.jpeg">
                    <img src="~/Images/Cursos/Receitas_rapidas_para_detox_30-jan-18/Alcachofra_detox_30_jan_2018.jpeg" alt="Coração de alcachofra recheado" title="Coração de alcachofra recheado">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="~/Images/Cursos/Receitas_rapidas_para_detox_30-jan-18/Avocado_detox_30_jan_2018.jpeg">
                    <img src="~/Images/Cursos/Receitas_rapidas_para_detox_30-jan-18/Avocado_detox_30_jan_2018.jpeg" alt="Preparando o Avo Garden" title="Preparando o Avo Garden">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="~/Images/Cursos/Receitas_rapidas_para_detox_30-jan-18/Avocado_2_detox_30_jan_2018.jpeg">
                    <img src="~/Images/Cursos/Receitas_rapidas_para_detox_30-jan-18/Avocado_2_detox_30_jan_2018.jpeg" alt="Preparando o Avo Garden" title="Preparando o Avo Garden">
                </a>
            </div>
            <div class="col-sm-12 col-md-8">
                <a class="lightbox" href="~/Images/Cursos/Receitas_rapidas_para_detox_30-jan-18/Avo_Garden_detox_30_jan_2018.jpeg">
                    <img src="~/Images/Cursos/Receitas_rapidas_para_detox_30-jan-18/Avo_Garden_detox_30_jan_2018.jpeg" alt="Avo Garden" title="Avo Garden">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="~/Images/Cursos/Receitas_rapidas_para_detox_30-jan-18/Degustacao_detox_30_jan_2018.jpeg">
                    <img src="~/Images/Cursos/Receitas_rapidas_para_detox_30-jan-18/Degustacao_detox_30_jan_2018.jpeg" alt="Degustação" title="Degustação">
                </a>
            </div>
        </div>

    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.tz-gallery');
</script>