
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>

<div class="container gallery-container">

    <div class="tz-gallery body-fluid">

        <div class="row">

            <div class="col-sm-12 col-md-4">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Sopas16-jun-2019/Cartaz.jpeg">
                    <img src="~/Images/Cursos/Sopas16-jun-2019/Cartaz.jpeg" alt="Cartaz para o curso de sopas">
                </a>
            </div>

            <div class="col-sm-12 col-md-4">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Sopas16-jun-2019/Todas_sopas_shitake_primeiro.jpeg">
                    <img src="~/Images/Cursos/Sopas16-jun-2019/Todas_sopas_shitake_primeiro.jpeg" alt="Todas as sopas destacando a de shitake">
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Sopas16-jun-2019/Todas_sopas_dahl_primeiro.jpeg">
                    <img src="~/Images/Cursos/Sopas16-jun-2019/Todas_sopas_dahl_primeiro.jpeg" alt="Todas as sopas destacando o DAHL">
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Sopas16-jun-2019/Manu_esperando.jpeg">
                    <img src="~/Images/Cursos/Sopas16-jun-2019/Manu_esperando.jpeg" alt="Nutricionista Manuela Ibi pronta para o curso">
                </a>
            </div>
            <div class="col-sm-12 col-md-8">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Sopas16-jun-2019/Ingredientes_sopa_cremos_shitake_alho_poro.jpeg">
                    <img src="~/Images/Cursos/Sopas16-jun-2019/Ingredientes_sopa_cremos_shitake_alho_poro.jpeg" alt="Ingredientes da sopa cremosa de shitake com alho poró">
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Sopas16-jun-2019/Ingredientes_preparados_sopa_tomate_forno.jpeg">
                    <img src="~/Images/Cursos/Sopas16-jun-2019/Ingredientes_preparados_sopa_tomate_forno.jpeg" alt="Ingrediantes preparados sopa de tomate ao forno">
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Sopas16-jun-2019/Preparando_sopa_shitake_alho_poro.jpeg">
                    <img src="~/Images/Cursos/Sopas16-jun-2019/Preparando_sopa_shitake_alho_poro.jpeg" alt="Preparando sopa de shitake e alho poró">
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Sopas16-jun-2019/Manu_medindo_caldo_de_verduras.jpeg">
                    <img src="~/Images/Cursos/Sopas16-jun-2019/Manu_medindo_caldo_de_verduras.jpeg" alt="Nutricionista Manuela Ibi medindo o caldo de verduras">
                </a>
            </div>
            <div class="col-sm-12 col-md-3">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Sopas16-jun-2019/Manu_mostrando_ervas_de_provence.jpeg">
                    <img src="~/Images/Cursos/Sopas16-jun-2019/Manu_mostrando_ervas_de_provence.jpeg" alt="Nutricionista Manuela Ibi mostrando ervas de provance">
                </a>
            </div>
            <div class="col-sm-12 col-md-5">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Sopas16-jun-2019/Preparando_sopa_shitake_alho_poro_2.jpeg">
                    <img src="~/Images/Cursos/Sopas16-jun-2019/Preparando_sopa_shitake_alho_poro_2.jpeg" alt="Continuação da preparação da sopa de shitake com alho poró">
                </a>
            </div>
            <div class="col-sm-12 col-md-8">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Sopas16-jun-2019/Sopa_de_tomate_ao_forno_no_forno.jpeg">
                    <img src="~/Images/Cursos/Sopas16-jun-2019/Ingredientes_preparados_sopa_tomate_forno._depois_do_forno.jpeg" alt="Ingredientes preparados da sopa de tomate ao forno">
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Sopas16-jun-2019/Sopa_de_tomate_ao_forno_pronta_para_bater.jpeg">
                    <img src="~/Images/Cursos/Sopas16-jun-2019/Sopa_de_tomate_ao_forno_pronta_para_bater.jpeg" alt="Sopa de tomate ao forno pronta para liquidificador">
                </a>
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Sopas16-jun-2019/Servindo_sopa_de_tomate_ao_forno.jpeg">
                    <img src="~/Images/Cursos/Sopas16-jun-2019/servindo_sopa_cremos_alho_poro.jpeg" alt="Servindo sopa cremosa de shitake com alho poró">
                </a>
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Sopas16-jun-2019/servindo_sopa_cremos_alho_poro_2.jpeg">
                    <img src="~/Images/Cursos/Sopas16-jun-2019/servindo_sopa_cremos_alho_poro_2.jpeg" alt="Ainda servindo sopa cremosa de shitake com alho poró">
                </a>
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Sopas16-jun-2019/porcoes_de_sopa_de_tomate_ao_forno.jpeg">
                    <img src="~/Images/Cursos/Sopas16-jun-2019/porcoes_de_sopa_de_tomate_ao_forno.jpeg" alt="Porções de sopa de tomate ao forno">
                </a>
            </div>
            <div class="col-sm-12 col-md-3">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Sopas16-jun-2019/Sopa_shitake_alho_poro_servida.jpeg">
                    <img src="~/Images/Cursos/Sopas16-jun-2019/Sopa_shitake_alho_poro_servida.jpeg" alt="Sopa de shitake e alhop poró servida">
                </a>
            </div>
            <div class="col-sm-12 col-md-5">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Sopas16-jun-2019/Preparando_temperos_dahl_de_grao_de_bico.jpeg">
                    <img src="~/Images/Cursos/Sopas16-jun-2019/Preparando_temperos_dahl_de_grao_de_bico.jpeg" alt="Preparando temperos da sopa dahl de grão-de-bico">
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Sopas16-jun-2019/kit_temperos_daul_de_grao_de_bico.jpeg">
                    <img src="~/Images/Cursos/Sopas16-jun-2019/kit_temperos_daul_de_grao_de_bico.jpeg" alt="Kit de temperos da sopa dahl de grão-de-bico">
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Sopas16-jun-2019/entrega_kit_temperos__daul_de_grao_de_bico.jpeg">
                    <img src="~/Images/Cursos/Sopas16-jun-2019/entrega_kit_temperos__daul_de_grao_de_bico.jpeg" alt="Entrega do kit de temperos da sopa dahl de grão-de-bico">
                </a>
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Sopas16-jun-2019/servindo_dahl_de_grao_de_bico.jpeg">
                    <img src="~/Images/Cursos/Sopas16-jun-2019/servindo_dahl_de_grao_de_bico.jpeg" alt="Servindo dahl de grão-de-bico">
                </a>
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Sopas16-jun-2019/Dahl_de_grao_de_bico_servida.jpeg">
                    <img src="~/Images/Cursos/Sopas16-jun-2019/Dahl_de_grao_de_bico_servida.jpeg" alt="Dahl de grão-de-bico servida">
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Sopas16-jun-2019/sobremesa_2.jpeg">
                    <img src="~/Images/Cursos/Sopas16-jun-2019/sobremesa_2.jpeg" alt="Sobremesa 2">
                </a>
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Sopas16-jun-2019/sobremesa.jpeg">
                    <img src="~/Images/Cursos/Sopas16-jun-2019/sobremesa.jpeg" alt="Sobremesa">
                </a>
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Sopas16-jun-2019/Turma_curso_sopas.jpeg">
                    <img src="~/Images/Cursos/Sopas16-jun-2019/Turma_curso_sopas.jpeg" alt="Turma do curso de sopas">
                </a>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.tz-gallery');
</script>