
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>

<div class="container gallery-container">
    <div class="tz-gallery body-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-5">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Sopas_17-jul-2019/Cartaz 2.2.jpg">
                    <img src="~/Images/Cursos/Sopas_17-jul-2019/Cartaz 2.2.jpg" alt="Cartaz para o curso de sopas de 17 de julho">
                </a>
            </div>
            <div class="col-sm-12 col-md-7">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Sopas_17-jul-2019/Manu_e_estagiaria.jpeg">
                    <img src="~/Images/Cursos/Sopas_17-jul-2019/Manu_e_estagiaria.jpeg" alt="Dra. Manuela Ibi e Ana Tereza Loyola Martins">
                </a>
            </div>
            <div class="col-sm-12 col-md-7">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Sopas_17-jul-2019/Turma.jpeg">
                    <img src="~/Images/Cursos/Sopas_17-jul-2019/Turma.jpeg" alt="Turma do curso">
                </a>
            </div>
            <div class="col-sm-12 col-md-5">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Sopas_17-jul-2019/Manu_e_ervas_de_provance.jpeg">
                    <img src="~/Images/Cursos/Sopas_17-jul-2019/Manu_e_ervas_de_provance.jpeg" alt="Dra. Manuela Ibi mostrando ervas de provance">
                </a>
            </div>
            <div class="col-sm-12 col-md-5">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Sopas_17-jul-2019/Sopa_de_tomate_no_forno.jpeg">
                    <img src="~/Images/Cursos/Sopas_17-jul-2019/Sopa_de_tomate_no_forno.jpeg" alt="Sopa de tomate no forno">
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Sopas_17-jul-2019/Manu_cozinhando.jpeg">
                    <img src="~/Images/Cursos/Sopas_17-jul-2019/Manu_cozinhando.jpeg" alt="Dra. Manuela Ibi cozinhando">
                </a>
            </div>
            <div class="col-sm-12 col-md-3">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Sopas_17-jul-2019/Sopa_de_tomate_assada.jpeg">
                    <img src="~/Images/Cursos/Sopas_17-jul-2019/Sopa_de_tomate_assada.jpeg" alt="Sopa de tomate assada">
                </a>
            </div>
            <div class="col-sm-12 col-md-3">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Sopas_17-jul-2019/Sopa_de_tomate_ao_forno_servida.jpeg">
                    <img src="~/Images/Cursos/Sopas_17-jul-2019/Sopa_de_tomate_ao_forno_servida.jpeg" alt="Sopa de tomate ao frono servida">
                </a>
            </div>
            <div class="col-sm-12 col-md-5">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Sopas_17-jul-2019/Manu_preparando.jpeg">
                    <img src="~/Images/Cursos/Sopas_17-jul-2019/Manu_preparando.jpeg" alt="Dra. Manuela Ibi preparando a sopa">
                </a>
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Sopas_17-jul-2019/Manu_dosando.jpeg">
                    <img src="~/Images/Cursos/Sopas_17-jul-2019/Manu_dosando.jpeg" alt="Dra. Manuela Ibi dosando condimento">
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Sopas_17-jul-2019/Sopa_cremosa_de_shitake_com_alho_poro_na_panela.jpeg">
                    <img src="~/Images/Cursos/Sopas_17-jul-2019/Sopa_cremosa_de_shitake_com_alho_poro_na_panela.jpeg" alt="Sopa cremosa de shitake com alho poro na panela">
                </a>
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Sopas_17-jul-2019/Manu_cortando_gengibre.jpeg">
                    <img src="~/Images/Cursos/Sopas_17-jul-2019/Manu_cortando_gengibre.jpeg" alt="Cortando o gengibre">
                </a>
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Sopas_17-jul-2019/Ingredientes_par_sopa_dahl.jpeg">
                    <img src="~/Images/Cursos/Sopas_17-jul-2019/Ingredientes_par_sopa_dahl.jpeg" alt="Ingredientes para a sopa dahl">
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Sopas_17-jul-2019/Sopa_vremosa_de_shitake_com_alho_poro_servida.jpeg">
                    <img src="~/Images/Cursos/Sopas_17-jul-2019/Sopa_vremosa_de_shitake_com_alho_poro_servida.jpeg" alt="Sopa cremosa de shitake com alho poro servida">
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Sopas_17-jul-2019/Dalh_servida.jpeg">
                    <img src="~/Images/Cursos/Sopas_17-jul-2019/Dalh_servida.jpeg" alt="Dahl de grão-de-bico servida">
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <img src="" />
                <a class="lightbox" href="~/Images/Cursos/Sopas_17-jul-2019/Sobremesa_servida.jpeg">
                    <img src="~/Images/Cursos/Sopas_17-jul-2019/Sobremesa_servida.jpeg" alt="Sobremesa servida">
                </a>
            </div>
        </div>
    </div>
</div>
